<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <title>上海必弘信息技术有限公司</title>
    <link rel="stylesheet" href="css/index_web.css">
    <link rel="stylesheet" href="css/swiper.css">
</head>
<body>
<!--头部-->
<header>
    <div class="logo">
        <img src="img/logo_white.png">
    </div>
    <p class="bh">必弘科技</p>
    <div class="reg" href="javascript:;">注册有礼</div>
</header>
<!--轮播-->
<div class="swiper-container swiper-container1">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="javascript:;">
                <img src="img/AI.jpg">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="javascript:;">
                <img src="img/AI2.jpg">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="javascript:;">
                <img src="img/AI3.jpg">
            </a>
        </div>
    </div>
</div>

<!---->
<div class="classification">
    <div class="classification_content">
        <div class="classification_item">
            <div class="left">
                <span style="background-image: url('img/vip_icon.png')">

                </span>
            </div>
            <div class="right">
                <p class="title">VIP套餐</p>
                <p class="desc">尊贵体验</p>
            </div>
        </div>
        <div class="classification_item">
            <div class="left">
                <span class="left_oa" style="background-image: url('img/OA_icon.png')">

                </span>
            </div>
            <div class="right">
                <p class="title">经典系统</p>
                <p class="desc">OA操作系统</p>
            </div>
        </div>
        <div class="classification_item">
            <div class="left">
                <span style="background-image: url('img/AI_icon.png')">

                </span>
            </div>
            <div class="right">
                <p class="title">智能科技</p>
                <p class="desc">AI实时新闻</p>
            </div>
        </div>
    </div>
</div>
<!--必弘产品-->
<div class="product">
   <h4>必弘产品</h4>
    <p>融入先进的管理思想，采用领先的编程技术，</p>
    <p>全面实现多语言多管理思想，集成系统化，集成化的功能模块</p>
</div>
<!--系统介绍-->
<div class="Introduction">
    <div class="Introduction_h">
        <div class="function">
            <img src="img/oa.png">
        </div>
        <p>OA系统制作</p>
    </div>
    <div  class="Introduction_h">
        <div class="function">
            <img src="img/crm.png">
        </div>
       <p>CRM系统制作</p>
    </div>
    <div  class="Introduction_h">
        <div class="function">
            <img src="img/erm.png">
        </div>

        <p>ERP系统系统</p>
    </div>
    <div  class="Introduction_h">
        <div class="function">
            <img src="img/shangchao.png">
        </div>
        <p>商超商业管理</p>

    </div>
    <div  class="Introduction_h">
        <div class="function">
            <img src="img/gongyinglian.png">
        </div>
        <p>供应链系统</p>

    </div>
    <div  class="Introduction_h">
        <div class="function">
            <img src="img/renshi.png">
        </div>
        <p>人事管理系统</p>
    </div>
</div>
<!--功能-->
<div class="sildeShow" id="sildeShow">
    <div class="sildeShow_hd">
        <div class="sildeShow_hd_visible">
            <img src="img/wangzhanjianshe.png">
            <h4>网站建设</h4>
            <div class="sildeShow_hd_icon" name="sildeShow_hd_icon" href="javascript:;"></div>
        </div>
        <div class="customization">
            <i class="sildeShow_hd_border" name="sildeShow_hd_border"></i>
            <p class="customization_p">设计制作维护全方位服务</p>
            <p class="customization_p">7*24小时站点安全预警</p>
            <p class="customization_p">针对公司特点个性化设计</p>
            <p class="customization_p">官网手机站公众号任选组合</p>
        </div>
    </div>
    <div class="sildeShow_hd">
        <div class="sildeShow_hd_visible">
            <img src="img/dianzikeji.png">
            <h4 class="keji">电子科技</h4>
            <div class="sildeShow_hd_icon" name="sildeShow_hd_icon" href="javascript:;"></div>

        </div>
        <div class="customization">
            <i class="sildeShow_hd_border" name="sildeShow_hd_border"></i>
            <p class="customization_p">MES系统数据接入</p>
            <p class="customization_p">企业生产管理系统定制</p>
            <p class="customization_p">BS模式生产管理平台</p>
            <p class="customization_p">生产数据维护BI分析</p>
        </div>
    </div>
    <div class="sildeShow_hd">
        <div class="sildeShow_hd_visible">
            <img src="img/zhinengyingyong.png">
            <h4 class="zhineng">智能应用</h4>
            <div class="sildeShow_hd_icon" name="sildeShow_hd_icon" href="javascript:;"></div>

        </div>
        <div class="customization">
            <i class="sildeShow_hd_border" name="sildeShow_hd_border"></i>
            <p class="customization_p">智能物联网系统一站式开发</p>
            <p class="customization_p">人工智能+大数据+物联网</p>
            <p class="customization_p">安防系统+人脸识别+活体检测</p>
            <p class="customization_p">MongoDB+MapReduce分析</p>
        </div>
    </div>
    <div class="sildeShow_hd">
        <div class="sildeShow_hd_visible">
            <img src="img/qiyeguanli.png">
            <h4 class="qiye">企业管理</h4>
            <div class="sildeShow_hd_icon" name="sildeShow_hd_icon" href="javascript:;"></div>

        </div>
        <div class="customization">
            <i class="sildeShow_hd_border" name="sildeShow_hd_border"></i>
            <p class="customization_p">模块化设计功能自由组合</p>
            <p class="customization_p">弹性部署系统规模无缝扩容</p>
            <p class="customization_p">贴合用户实际快速定制功能</p>
            <p class="customization_p">App,桌面,微信多方式接入</p>
        </div>
    </div>
</div>
<!--可信赖的必弘产品大家族-->
<div class="product product2">
    <h4>可信赖的必弘产品大家族</h4>
    <p>融入先进的管理思想，采用领先的编程技术，</p>
    <p>全面实现多语言多管理思想，集成系统化，集成化的功能模块</p>
</div>
<!--科幻图片-->
<div class="science">
    <img src="img/tu1.png">
</div>
<!--解决方案-->
<div class="product product2 product3">
    <h4>解决方案</h4>
    <p>针对行业特性及业务场景深度定制一站式引领业务升级</p>
</div>
<!--轮播-->
<div class="swiper-container swiper-container2">
    <div class="swiper-wrapper">
        <div class="swiper-slide lwc-imghandle">
            <a href="javascript:;">
                <img src="img/sjd(oa).jpg">
            </a>
            <div class="swiper-slide_txt swiper-slide_txt2">
                <h4>OA系统</h4>
                <p>传统经典案例</p>
            </div>
        </div>
        <div class="swiper-slide lwc-imghandle">
            <a href="javascript:;">
                <img src="img/sjd(ai).jpg">
            </a>
            <div class="swiper-slide_txt">
                <h4>AI系统</h4>
                <p>传统经典案例</p>
            </div>
        </div>
        <div class="swiper-slide lwc-imghandle ">
            <a href="javascript:;">
                <img src="img/sjd(gyl).jpg">
            </a>
            <div class="swiper-slide_txt swiper-slide_txt2">
                <h4>供应链系统</h4>
                <p>传统经典案例</p>
            </div>
        </div>
        <div class="swiper-slide lwc-imghandle">
            <a class="erps" href="javascript:;">
                <img src="img/sjd(erp).jpg">
            </a>
            <div class="swiper-slide_txt">
                <h4>ERP系统</h4>
                <p>传统经典案例</p>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<div class="custom-made">
    <a href="javascript:;">了解更多</a>
</div>
<footer>
    <div class="footer_top">
        <ul>
            <li class="mian">
                <img src="img/money.png">
                <p>首年免维护费</p>
            </li>
            <li class="vip">
                <img src="img/yejiao2.png">
                <p>尊享VIP套餐</p>
            </li>
            <li class="ershi">
                <img src="img/yejiao3.png">
                <p>7X24技术支持</p>
            </li>
            <li class="kf">
                <img src="img/yejiao4.png">
                <p>1V1客户服务</p>
            </li>
        </ul>
    </div>
    <div class="footer_center">
       <div class="footer_center_top">
           <h4>热门产品</h4>
          <ul>
              <li>OA管理系统</li>
              <li>AI人工智能</li>
              <li>商超管理</li>
              <li class="renshi">人事管理</li>
          </ul>
       </div>
        <div class="footer_center_bottom">
            <a href="javascript:;">点击下载必弘定制APP</a>
            <p>关于我们</p>
            <p>关于我们：微信公众号</p>
            <div class="solid"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <!--<div class="bh">上海必弘信息技术有限公司</div>-->
        <!--<a href="https://www.amap.com/place/B00155NMJ4" target="_blank">-->
            <!--上海市嘉定区安亭镇新源路155弄v6时代新源商务楼1612室-->
        <!--</a>-->
        <div>
            ©2018 BIHO 沪ICP备18034805号-1
        </div>
    </div>
</footer>
<!--<div style="height: 200px"></div>-->
<script src="js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container1',{
        //自动滚动
        loop:true,//循环
        speed:1000,//滚动速度
        autoplay: {
            disableOnInteraction: false,
            delay:3000
        }
    });
    var swiper2 = new Swiper('.swiper-container2', {
        loop:true,
        speed:2000,//滚动速度
        slidesPerView: 'auto',
        spaceBetween: 30,
        pagination: {
            el: '.swiper-pagination2',
            clickable: true,

        },
        // autoplay: {
        //     disableOnInteraction: false,
        //     delay:3000
        // }
    });
</script>
<script src="js/jquery.js"></script>
<script src="js/index_web.js"></script>
</body>
</html>