{% extends "manage/standard_page.html" %}

{% block css %}
   <link rel="stylesheet" href="/static/css/manage/bootstrap-datetimepicker.min.css">
   <link rel="stylesheet" href="/static/css/manage/trade_history.css">
    <script src="/static/js/manage/bootstrap-datetimepicker.min.js"></script>
    <!--日期选择器本地化语言-->
    <script src="/static/js/manage/locales/bootstrap-datetimepicker.zh-CN.js"></script>
   <script>
   </script>
{% endblock %}

{% block show_area %}

    <div class="right_top">
        <div class="summary total">
            <span class="title">总数:</span>
            <span class="value">{{ preview.total if preview.total else 0  }}</span>
        </div>
        <div class="summary exit">
            <span class="title">离场:</span>
            <span class="value">{{ preview.exit if preview.exit else 0 }}</span>
        </div>
        <div class="summary hold">
            <span class="title">持仓:</span>
            <span class="value">{{ preview.hold if preview.hold else 0  }}</span>
        </div>
        <div class="summary win_rate">
            <span class="title">胜率:</span>
            <span class="value">{{ preview.win_rate if preview.win_rate else 0 }}%</span>
        </div>
    </div>

    <div class="code_list_outer">
        <div class="code_list_inner">
            <div class="insert_div">
                <div class="left">
                    <i class="fa fa-list-ul"></i>
                    <span id="clear_condition">所有信息</span>
                </div>

                <div class="right">
                    <div class="select_group">
                        <div class="small_title">
                            选择类型
                        </div>
                        <div class="my_input dropdown">
                            <button class="select_type btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span data-id="" class="current_value "></span>
                                <span class="caret"></span>
                            </button>
                            <ul data-type="type" class="types dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <li onclick="select_value($(this))" data-id="">全部</li>
                                <li onclick="select_value($(this))" data-id="enter">持仓中</li>
                                <li onclick="select_value($(this))" data-id="exit">已离场</li>
                            </ul>
                        </div>
                    </div>
                    <div class="select_group">
                        <div class="small_title">
                            选择老师
                        </div>
                        <div class="my_input dropdown">
                            <button class="select_teacher btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span data-id="" class="current_value "></span>
                                <span class="caret"></span>
                            </button>
                            <ul data-type="teachers" class="teachers dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <li onclick="select_value($(this))" data-id="">全部</li>
                                {% for x in selector %}
                                    <li onclick="select_value($(this))" data-id="{{ x._id }}">{{ x.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="select_group">
                        <div class="small_title">
                            选择时间
                        </div>
                        <div class="begin_div">
                            <label>
                            开始:
                        </label>
                        <input type="text" id="trade_begin" class="form-control date_picker">
                        </div>
                        <div class="begin_div">
                            <label>
                            结束:
                        </label>
                        <input type="text" id="trade_end" class="form-control date_picker">
                        </div>
                    </div>
                    <button id="filter_info" type="button" class="btn btn-default btn-sm btn-primary">
                       查询
                    </button>
                </div>
            </div>

            <div class="table_outer">
                <table id="trade_list" class="table table-hover">
                    <tr class="info">
                        <th class="select"></th>
                        <th>产品代码</th>
                        <th>产品名称</th>
                        <th>方向</th>
                        <th>老师</th>
                        <th>进场价</th>
                        <th>离场价</th>
                        <th>盈利(美元)</th>
                        <th>进场时间</th>
                        <th>离场时间</th>
                        <!--<th>操作</th>-->
                    </tr>
                    {% for trade in trades %}
                        <tr id="{{ trade._id }}">
                            <td  class="select">
                                <input data-id="{{ trade._id }}" type="checkbox" >
                            </td>
                            <td class="product_code">{{ trade.code }}</td>
                            <td class="product_name">{{ trade.product }}</td>
                            <td class="direction" style="color: {{'#e35e57' if trade.direction == '买入' else '#17b640' }}">{{ trade.direction }}</td>
                            <td class="teacher" data-id="{{ trade.teacher_id }}">
                                {{ trade.teacher_name }}
                            </td>
                            <td class="enter_price">{{ trade.enter_price }}</td>
                            <td class="exit_price">{{ trade.exit_price }}</td>
                            <td class="the_profit" title="{{ trade.formula }}" style="color: {{'#e35e57' if trade.the_profit and trade.the_profit >= 0 else '#17b640' }}">
                                {{ (trade.the_profit | short_num2) if trade.the_profit else trade.the_profit }}
                            </td>
                            <td  class="enter_time">{{ trade.enter_time| short_date3 }}</td>
                            <td  class="exit_time">{{ trade.exit_time | short_date3 }}</td>
                            <!--
                            <td>
                                <button data-id="{{ trade._id }}" class="change_direction btn btn-xs btn-default btn-primary edit_user">反转方向</button>
                            </td>
                            -->
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="bottom_div">
                <div class="left">
                    <input type="checkbox" id="check_all">
                    <span>全选</span>
                    <!--
                    <button id="cancel_sync" type="button" class="btn btn-sm btn-default btn-primary">
                        清除已回传的条码
                    </button>
                    -->
                    <button id="delete_trade" type="button" class="btn btn-sm btn-default btn-primary">
                        删除交易记录
                    </button>
                </div>
                <div class="right">
                    <i id="prev_page" class="fa fa-caret-left"></i>
                    <span id="page_count">{{ current_page }}/{{ total_page }}</span>
                    <i id="next_page" class="fa fa-caret-right"></i>
                    <input type="text" id="page_num">
                    <button id="jump_btn" type="button" class="btn btn-sm btn-default btn-primary">
                        Go
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--弹框部分-->
    <div class="modal_outer">
        <div class="modal_inner">
            <div class="modal_top">
                <h3 class="modal_title">
                    新增生产任务
                </h3>
            </div>
            <div class="modal_mid">

                <div class="line">
                    <label>生产任务名称</label>
                    <div class="my_input dropdown">
                        <input id="batch_sn" type="text" placeholder="区分不同任务">
                    </div>
                </div>
                <div class="line">
                    <label>计划生产数量</label>
                    <div class="my_input dropdown">
                        <input id="plan_number" type="text" placeholder="计划数量">
                    </div>
                </div>

            </div>
            <div class="modal_bot">
                <button class="close_medal btn btn-md btn-default first">关闭</button>
                <button id="submit_task" class="btn btn-md btn-primary last">保存</button>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="/static/js/manage/trade_history.js"></script>
{% endblock %}