<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
		<meta name="screen-orientation" content="portrait" />

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>{{ page_title }}</title>
		<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
        <link rel="stylesheet" href="/static/css/currentCrunchy.css?v={{ version }}">
		<script type="text/javascript" src="/static/js/common.js"></script>
        <script src="/static/js/tools.js"></script>
		<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
        <script src="/static/js/echarts.min.js"></script>
	</head>

    <body>
    <div class="wrapIn">

        <div class="crunchyWrap">
            <div class="crunchy-topText">
                <div class="p-img">
                    <img src="{{ info.head_img }}"/>
                </div>
                <div class="right-text">
                    <p class="name">
                        <span>{{ info.name }}</span>#  {{ info.feature if info.feature else '机会准 持单短' }}
                    </p>
                    <p class="num">
                        <span>{{ profit_ratio }}%</span>累计收益率
                    </p>
                </div>
            </div>
            <ul class="crunchy-tabList">
                <li id="count_page" class="on chart_li"><a href="javascript:;">数据统计</a></li>
                <li id="hold_page" class="hold_li"><a href="javascript:;">当前持仓</a></li>
                <li id="history_page" class="history_li"><a href="javascript:;">历史交易</a></li>


            </ul>
            <div class="crunchy-InfoText">
            {{ view_level }}
                <div class="wrap chart_wrap">
                    <!--胜率统计图-->

                </div>
                <div class="wrap hold_wrap">
                    <!--当前持仓-->
                    {% if view_level == 1 %}
                        <ul class="currentCrunchy">
                        {% for x in hold %}
                            <li>
                                <div class="textList">
                                    <p>{{ x.direction + x.product }}</p>
                                </div>
                                <div class="priceText">
                                    <p>{{ x.enter_price }}</p>开仓价
                                </div>
                                <div class="priceText">
                                    <p>{{ x.hold_hour }}小时</p>持仓时间
                                </div>
                                <div class="earnings">
                                    <p class="color12cb1b">持仓中</p>状态
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    {% elif view_level == 0 %}
                        <h3 class="hold_tips">{{ hold | length }}个持仓. 跟踪老师操作后方可查看持仓详情.</h3>
                    {% else %}
                        <h3>
                            绑定手机号码成为我们的会员后方能查看老师跟单。<a class="bind_a" href="/user/html/bind_phone.html">现在就去绑定手机</a>
                        </h3>

                    {% endif %}

                </div>
                <div class="wrap crunchy-wrap">
                    <!--历史记录-->
                    <ul class="currentCrunchy">
                        {% for x in history %}
                            <li>
                                <div class="textList">
                                    <p>{{ x.direction + x.product }}</p>
                                </div>
                                <div class="priceText">
                                    <p>{{ x.enter_price }}</p>开仓价
                                </div>
                                <div class="priceText">
                                    <p>{{ x.exit_price }}</p>收盘价
                                </div>
                                <div class="earnings">
                                    <p class="color12cb1b">${{ x.each_profit }}</p>收益
                                </div>
                            </li>
                        {% endfor %}
                        <!--
                        <li>
                            <div class="textList">
                                <p>卖出黄金</p>持仓3小时
                            </div>
                            <div class="priceText">
                                <p>1227.28</p>开仓价
                            </div>
                            <div class="priceText">
                                <p>1228.71</p>现价
                            </div>
                            <div class="earnings">
                                <p class="color12cb1b">$-71.50</p>收益
                            </div>
                        </li>	<li>
                        <div class="textList">
                            <p>卖出黄金</p>持仓3小时
                        </div>
                        <div class="priceText">
                            <p>1227.28</p>开仓价
                        </div>
                        <div class="priceText">
                            <p>1228.71</p>现价
                        </div>
                        <div class="earnings">
                            <p>$71.50</p>收益
                        </div>
                    </li>	<li>
                        <div class="textList">
                            <p>卖出黄金</p>持仓3小时
                        </div>
                        <div class="priceText">
                            <p>1227.28</p>开仓价
                        </div>
                        <div class="priceText">
                            <p>1228.71</p>现价
                        </div>
                        <div class="earnings">
                            <p>$71.50</p>收益
                        </div>
                    </li>	<li>
                        <div class="textList">
                            <p>卖出黄金</p>持仓3小时
                        </div>
                        <div class="priceText">
                            <p>1227.28</p>开仓价
                        </div>
                        <div class="priceText">
                            <p>1228.71</p>现价
                        </div>
                        <div class="earnings">
                            <p>$71.50</p>收益
                        </div>
                    </li>	<li>
                        <div class="textList">
                            <p>卖出黄金</p>持仓3小时
                        </div>
                        <div class="priceText">
                            <p>1227.28</p>开仓价
                        </div>
                        <div class="priceText">
                            <p>1228.71</p>现价
                        </div>
                        <div class="earnings">
                            <p>$71.50</p>收益
                        </div>
                    </li>	<li>
                        <div class="textList">
                            <p>卖出黄金</p>持仓3小时
                        </div>
                        <div class="priceText">
                            <p>1227.28</p>开仓价
                        </div>
                        <div class="priceText">
                            <p>1228.71</p>现价
                        </div>
                        <div class="earnings">
                            <p>$71.50</p>收益
                        </div>
                    </li>	<li>
                        <div class="textList">
                            <p>卖出黄金</p>持仓3小时
                        </div>
                        <div class="priceText">
                            <p>1227.28</p>开仓价
                        </div>
                        <div class="priceText">
                            <p>1228.71</p>现价
                        </div>
                        <div class="earnings">
                            <p>$71.50</p>收益
                        </div>
                    </li>	<li>
                        <div class="textList">
                            <p>卖出黄金</p>持仓3小时
                        </div>
                        <div class="priceText">
                            <p>1227.28</p>开仓价
                        </div>
                        <div class="priceText">
                            <p>1228.71</p>现价
                        </div>
                        <div class="earnings">
                            <p>$71.50</p>收益
                        </div>
                    </li>	<li>
                        <div class="textList">
                            <p>卖出黄金</p>持仓3小时
                        </div>
                        <div class="priceText">
                            <p>1227.28</p>开仓价
                        </div>
                        <div class="priceText">
                            <p>1228.71</p>现价
                        </div>
                        <div class="earnings">
                            <p>$71.50</p>收益
                        </div>
                    </li>
                        -->
                    </ul>
                </div>
                <div class="crunchy-btn">
                    <button type="button" id="follow_btn" data-follow="{{ follow }}" class="button-link">
                        {% if t_id == follow[0] %}
                            取消跟踪
                        {% else %}
                            跟踪高手
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
        <!--
        <div class="userFooter">
            <li>

                <a href="/user/html/index.html"> <img src="/static/images/icon3.png" />跟单</a>
            </li>
            <li>
                <a href="/user/html/user.html"><img src="/static/images/icon4.png" />我的</a>
            </li>
        </div>
        -->
    </div>
    </body>
<script>chart = {{ chart | safe }}; user_follow = {{ follow | safe }};</script>
<script src="/static/js/currentCrunchy.js?v={{ version }}"></script>
</html>