<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
		<meta name="screen-orientation" content="portrait" />

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>个人中心</title>
		<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
		<script type="text/javascript" src="/static/js/common.js"></script>
		<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
	</head>

	<body>
		<div class="wrapIn">

			<div class="wrap">

				<div>
					<ul class="helpList">
						<li class="li-tab">
							<h3><span>交易</span></h3>
						</li>
						<div class="divList">
							<dl>
								<dt>Q：什么是帮助中心呢？</dt>
								<dd>A：请使用您注册的邮箱和您开设的账户密码进行登录。</dd>
							</dl>
							<dl>
								<dt>Q：什么是帮助中心呢？</dt>
								<dd>A：请使用您注册的邮箱和您开设的账户密码进行登 录。
								</dd>
							</dl>
						</div>

						<li class="li-tab">
							<h3><span>积分提现</span></h3>
						</li>
						<div class="divList">
							<dl>
								<dt>Q：什么是帮助中心呢？</dt>
								<dd>A：请使用您注册的邮箱和您开设的账户密码进行登录。</dd>
							</dl>
							<dl>
								<dt>Q：什么是帮助中心呢？</dt>
								<dd>A：请使用您注册的邮箱和您开设的账户密码进行登 录。
								</dd>
							</dl>
						</div>

						<li class="li-tab">
							<h3><span>MT4平台</span></h3>
						</li>
						<div class="divList">
							<dl>
								<dt>Q：什么是帮助中心呢？</dt>
								<dd>A：请使用您注册的邮箱和您开设的账户密码进行登录。</dd>
							</dl>
							<dl>
								<dt>Q：什么是帮助中心呢？</dt>
								<dd>A：请使用您注册的邮箱和您开设的账户密码进行登 录。
								</dd>
							</dl>
						</div>
						<li class="li-tab">
							<h3><span>隔夜利息</span></h3>
						</li>
						<div class="divList">
							<dl>
								<dt>Q：什么是帮助中心呢？</dt>
								<dd>A：请使用您注册的邮箱和您开设的账户密码进行登录。</dd>
							</dl>
							<dl>
								<dt>Q：什么是帮助中心呢？</dt>
								<dd>A：请使用您注册的邮箱和您开设的账户密码进行登 录。
								</dd>
							</dl>
							<dl>
								<dt>Q：什么是帮助中心呢？</dt>
								<dd>A：请使用您注册的邮箱和您开设的账户密码进行登录。</dd>
							</dl>
							<dl>
								<dt>Q：什么是帮助中心呢？</dt>
								<dd>A：请使用您注册的邮箱和您开设的账户密码进行登 录。
								</dd>
							</dl>
						</div>
					</ul>
				</div>
			</div>
			<div class="userFooter">
				<li>

					<a href="index.html"> <img src="/static/images/icon3.png" />跟单</a>
				</li>
				<li>
					<a href="user.html"><img src="/static/images/icon4.png" />我的</a>
				</li>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		$(function() {

			$(".helpList li").bind("click", function() {
				$(this).next(".divList").slideToggle(300).siblings(".divList").slideUp(300);
			})

		})
	</script>

</html>