<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
		<meta name="screen-orientation" content="portrait" />

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>战绩榜单</title>
		<link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
		<script type="text/javascript" src="/static/js/common.js"></script>

	</head>

	<body>
		<div class="wrapIn">

			<div class="wrap">
				<div class="swiper-container standings-ppt">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="/static/images/wxgd-banner-1.png" />
						</div>
						<div class="swiper-slide">
							<img src="/static/images/wxgd-banner-2.png" />
						</div>
                        <!--
						<div class="swiper-slide">
							<img src="/static/images/bannerbg.png" />
						</div>
                        -->
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
				<div id="newlistTab" class="standings-Tab">
					<div class="hd">
						<ul>
							<li>收益高手</li>
							<li>常胜高手</li>

						</ul><span>收益领先 表现突出</span></div>

					<div class="bd" id="tabBox1-bd">
						<div class="con">
							<ul>
                                {%  for x in profit %}
                                    <li>
                                        <p class="p-img">
                                            <img src="{{ x.head_img }}" />{{ x.name }}
                                        </p>
                                        <p class="num">
                                            <span>{{ x.profit_ratio }}</span>累积收益率
                                        </p>
                                        <p class="history">
                                            <span>{{ x.follow }}</span>历史跟随
                                        </p>
                                        <p class="p-btn">
                                            <a href="currentCrunchy.html?t_id={{ x._id }}" class="button-link">跟踪高手</a>
                                        </p>
                                    </li>
                                {% endfor %}
                                <!--
								<li>
									<p class="p-img">
										<img src="/static/images/img1.png" />收益高手1号
									</p>
									<p class="num">
										<span>94.74%</span>近30天准确率
									</p>
									<p class="history">
										<span>16</span>历史跟随
									</p>
									<p class="p-btn">
										<a href="currentCrunchy.html" class="button-link">跟踪高手</a>
									</p>
								</li>
								<li>
									<p class="p-img">
										<img src="/static/images/img1.png" />收益高手1号
									</p>
									<p class="num">
										<span>94.74%</span>近30天准确率
									</p>
									<p class="history">
										<span>16</span>历史跟随
									</p>
									<p class="p-btn">
										<a href="currentCrunchy.html" class="button-link">跟踪高手</a>
									</p>
								</li>
								<li>
									<p class="p-img">
										<img src="/static/images/img1.png" />收益高手1号
									</p>
									<p class="num">
										<span>94.74%</span>近30天准确率
									</p>
									<p class="history">
										<span>16</span>历史跟随
									</p>
									<p class="p-btn">
										<a href="currentCrunchy.html" class="button-link">跟踪高手</a>
									</p>
								</li>
								<li>
									<p class="p-img">
										<img src="/static/images/img1.png" />收益高手1号
									</p>
									<p class="num">
										<span>94.74%</span>近30天准确率
									</p>
									<p class="history">
										<span>16</span>历史跟随
									</p>
									<p class="p-btn">
										<a href="currentCrunchy.html" class="button-link">跟踪高手</a>
									</p>
								</li>
                                -->
							</ul>
						</div>
						<div class="con">
							<ul>
                                {%  for x in win %}
                                    <li>
                                        <p class="p-img">
                                            <img src="{{ x.head_img }}" />{{ x.name }}
                                        </p>
                                        <p class="num">
                                            <span>{{ x.win_ratio }}</span>累积胜率
                                        </p>
                                        <p class="history">
                                            <span>{{ x.follow }}</span>历史跟随
                                        </p>
                                        <p class="p-btn">
                                            <a href="currentCrunchy.html?t_id={{ x._id }}" class="button-link">跟踪高手</a>
                                        </p>
                                    </li>
                                {% endfor %}
                                <!--
								<li>
									<p class="p-img">
										<img src="/static/images/img1.png" />收益高手1号
									</p>
									<p class="num">
										<span>94.74%</span>近30天准确率
									</p>
									<p class="history">
										<span>16</span>历史跟随
									</p>
									<p class="p-btn">
										<a href="currentCrunchy.html" class="button-link">跟踪高手</a>
									</p>
								</li>
								<li>
									<p class="p-img">
										<img src="/static/images/img1.png" />收益高手1号
									</p>
									<p class="num">
										<span>94.74%</span>近30天准确率
									</p>
									<p class="history">
										<span>16</span>历史跟随
									</p>
									<p class="p-btn">
										<a href="currentCrunchy.html" class="button-link">跟踪高手</a>
									</p>
								</li>
								<li>
									<p class="p-img">
										<img src="/static/images/img1.png" />收益高手1号
									</p>
									<p class="num">
										<span>94.74%</span>近30天准确率
									</p>
									<p class="history">
										<span>16</span>历史跟随
									</p>
									<p class="p-btn">
										<a href="currentCrunchy.html" class="button-link">跟踪高手</a>
									</p>
								</li>
								<li>
									<p class="p-img">
										<img src="/static/images/img1.png" />收益高手1号
									</p>
									<p class="num">
										<span>94.74%</span>近30天准确率
									</p>
									<p class="history">
										<span>16</span>历史跟随
									</p>
									<p class="p-btn">
										<a href="currentCrunchy.html" class="button-link">跟踪高手</a>
									</p>
								</li>
								<li>
									<p class="p-img">
										<img src="/static/images/img1.png" />收益高手1号
									</p>
									<p class="num">
										<span>94.74%</span>近30天准确率
									</p>
									<p class="history">
										<span>16</span>历史跟随
									</p>
									<p class="p-btn">
										<a href="currentCrunchy.html" class="button-link">跟踪高手</a>
									</p>
								</li>
								<li>
									<p class="p-img">
										<img src="/static/images/img1.png" />收益高手1号
									</p>
									<p class="num">
										<span>94.74%</span>近30天准确率
									</p>
									<p class="history">
										<span>16</span>历史跟随
									</p>
									<p class="p-btn">
										<a href="currentCrunchy.html" class="button-link">跟踪高手</a>
									</p>
								</li>
								<li>
									<p class="p-img">
										<img src="/static/images/img1.png" />收益高手1号
									</p>
									<p class="num">
										<span>94.74%</span>近30天准确率
									</p>
									<p class="history">
										<span>16</span>历史跟随
									</p>
									<p class="p-btn">
										<a href="currentCrunchy.html" class="button-link">跟踪高手</a>
									</p>
								</li>
								<li>
									<p class="p-img">
										<img src="/static/images/img1.png" />收益高手1号
									</p>
									<p class="num">
										<span>94.74%</span>近30天准确率
									</p>
									<p class="history">
										<span>16</span>历史跟随
									</p>
									<p class="p-btn">
										<a href="currentCrunchy.html" class="button-link">跟踪高手</a>
									</p>
								</li>
								-->
							</ul>
						</div>
						<div></div>
					</div>
				</div>
			</div>
			<div class="userFooter">
				<li>

					<a href="index.html"> <img src="/static/images/icon3.png" />跟单</a>
				</li>
				<li>
					<a href="user.html"><img src="/static/images/icon4.png" />我的</a>
				</li>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="/static/js/swiper-3.4.2.jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/TouchSlide.1.1.source.js"></script>
	<script type="text/javascript">
		var swiper = new Swiper('.swiper-container', {
			loop: true,
			autoplay:3000,
			pagination: {
				el: '.swiper-pagination',
			},
		});
	</script>
	<script type="text/javascript">
		$(function() {
			TouchSlide({
				slideCell: "#newlistTab",
				endFun: function(i) { //高度自适应
					var bd = document.getElementById("tabBox1-bd");
					bd.parentNode.style.height = bd.children[i].children[0].offsetHeight + "px";
					if(i > 0) bd.parentNode.style.transition = "200ms"; //添加动画效果
				}

			});
		})
	</script>

</html>