{% extends "wx/template.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/css/process_case.css?v={{ v }}">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top_block">

                <i class="fa fa-chevron-left"></i>

                <span class="title">
                    {{ page_title }}
                </span>
                <a href="/user/html/news.html">
                    系统消息
                </a>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 price_block">
            <div class="price_zone">
                <span data-id="" class="product_name">

                </span>
                <span class="buy_price">

                </span>
                <span class="sell_price">

                </span>
            </div>
            <div class="now_zone">
                <span class="now"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 process_block">
            <div class="user_info">
                <span class="col_name">
                    当前交易帐号:
                </span>
                <span class="account">
                    {{ teacher.name }}
                </span>
            </div>
            <div class="select_zone">
                <label class="product_name" for="select_product">
                    当前交易产品:
                </label>
                <input type="text" id="select_product" placeholder="点击选择产品">
            </div>
            <div class="process_case">
                    <button id="buy_it">买&emsp;&emsp;入</button>
                    <button id="sell_it">卖&emsp;&emsp;出</button>
            </div>
        </div>
    </div>

    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/process_case.js?v={{ v }}"></script>
{% endblock %}