{% extends "wx/template.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/css/t_login.css?v={{ version }}">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top_block">
                <div class="form">
                    <div class="icon_line">
                        <i class="fa fa-user-circle big_icon"></i>
                    </div>
                    <div class="line">
                        <i class="fa fa-mobile-phone fa-fw"></i>
                        <input id="phone" type="number" placeholder="手机">
                    </div>
                    <div class="line">
                        <i class="fa fa-key fa-fw"></i>
                        <input id="password" type="password" placeholder="密码">
                    </div>
                    <div class="line">
                        <button id="btn_login" class="btn btn-primary" type="button">Sign In</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/t_login.js?v={{ version }}"></script>
{% endblock %}