<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
		<meta name="screen-orientation" content="portrait" />

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>交易管理</title>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script type="text/javascript" src="js/common.js"></script>

	</head>

	<body>
		<div class="wrapIn">
			<div class="redLogBundle-navList">
				<p class="goListLink">
					<a href="javascript:history.go(-1)"><img src="images/titleIcon-2.png" /></a>
				</p>
				<ul class="redLogBundle-nav">

					<li class="on">
						<a href="remind.html">交易管理</a>
					</li>
				</ul>
			</div>
			<div class="wrap pt02">
				<div class="plr04">
					<div class="fz28 dealManageText">
						当前交易账号：北仑 <span>2018-09-15 10:41:52</span>
					</div>
					<div class="fz28 pt02 dealManageChoose">
						当前产品报价：<span class="red pr02">27924</span><span class="green">27904</span>
						<div class="selectText">
							<select>
								<option>XTIUSD</option>
								<option>XAUUSD</option>
								<option>XAGUSD</option>
								<option>EURUSD</option>
								<option>GBPUSD</option>
								<option>USDJPY</option>
								<option>USDCAD</option>
								<option>USDCHF</option>
								<option>HK</option>

							</select>
						</div>

					</div>
					<div class="dealChoose fz28 pt02">
						<p class="text">交易类型 ：</p>
						<div class="selectText">
							<button type="button" class="buyButton">买入</button>
							<span class="pl04"><button type="button" class="sellButton5ec679">卖出</button></span>
						</div>
					</div>
				</div>
				<div class="plr01">
					<ul class="crunchy-tabList">
						<li>
							<a href="positions.html">目前持仓</a>
						</li>
						<li>
							<a href="historicalTransaction.html">历史交易</a>
						</li>
						<li>
							<a href="statement.html">我的报表</a>
						</li>
						<li class="on">
							<a href="index.html">个人中心</a>
						</li>
					</ul>
					<div class="userTextimg">
						<p class="leftimg"><img src="images/img1.png" /></p>
						<div class="userInfo">
							<h3>北仑</h3>
							<p># 机会准 持单短</p>
						</div>
					</div>
					<div class="individualResume">
						<p class="title"><span>分析师简介：</span></p>

						<p style="text-indent: 2em;">资深金融行业人士，黄金外汇交易培训师，身兼股票外汇行业高管与投资者的双重身份。拥有十二年交易经验，擅长分析研究国际投资市场规律。2006年进入金融领域并十年一直坚持在金融领域发展。2011年创立“经典趋势节奏”交易系统，帮助交易者把握想要的趋势行情，形成年收益率目标100%的系统化规则化交易方法。“经典趋势节奏”体系的准确率高、盈亏比高、风险控制极强；注重多级别顺势、止损有效性、科学资金管理等方面综合判定下的交易方式。</p>
						<p>运用技术分析，深谙股市、利率、股指及大宗商品联动性 金融机构大客户等中短线交易。2016年创建语昂交易俱乐部，自俱乐部开设以来，各项课程受业内投资人一致好评。
						</p>

					</div>
				</div>
			</div>
		</div>
	</body>

</html>