{% extends "manage/base_template_light.html" %}
{% block extend_css %}
<link rel="stylesheet" href="../static/css/manage/accident_light.css">
{% endblock %}
{% block main %}
    <div id="main_zone" class="main_zone col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!--顶部区域开始-->
        <div class="row first_row">
            <div class="my_col">
                <a class="my_url blue" href="accident">事故统计</a><a class="my_url" href="update_accident">事故上报</a>
            </div>
        </div>
        <!--顶部区域结束-->
        <!--中间区域开始-->
        <div class="second_row row">
            <div class="my_col">
                <div class="my_left">
                    <!--靠左对齐部分-->
                    <div class="my_item">
                        <span>时间</span>
                        <input id="begin_date" type="text">--
                        <input id="end_date" type="text">
                    </div>
                    <div class="my_item">
                        <span>地点</span>
                        <input id="select_city" type="text">
                    </div>
                    <div class="my_item">
                        <span>司机</span>
                        <select id="select_driver">
                            <option value=""></option>
                            {% for user_id, item in drivers.items() %}
                                <option value="{{ item['real_name'] }}">{{ item['real_name'] }}</option>
                            {%  endfor %}
                        </select>
                    </div>
                    <div class="my_item">
                        <span>车辆</span>
                        <input id="select_car" type="text">
                    </div>
                    <div class="my_item">
                        <span>处理状态</span>
                        <input type="checkbox" {{'checked' if status is none or vio_statis == 1 else ''}}  id="check_processed">
                        <span class="check_name">
                            已处理
                        </span>
                        <input type="checkbox" {{'checked' if status is none or vio_statis == 0 else ''}}  id="check_unprocessed">
                        <span class="check_name">
                            未处理
                        </span>
                    </div>
                </div>

                <div class="my_right">
                    <!--靠右对齐部分-->
                    <span id="clear_condition">清空筛选</span>
                    <button id="redirect_btn" class="my_btn">确定</button>
                </div>
            </div>

            <div class="my_col table_col">
                <!--列表显示区域-->
                <table class="" id="show_table">
                    <tr class="title">
                        <th>事故编号</th>
                        <th>发生事故</th>
                        <th>事故时间</th>
                        <th>事故地点</th>
                        <th>事故城市</th>
                        <th>损失金额</th>
                        <th>驾驶员</th>
                        <th>事故车辆</th>
                        <th>事故对象分类</th>
                        <th>事故后果状态</th>
                        <th>处理状态</th>
                        <th></th>
                    </tr>
                    {% for acc in acc_list %}
                        <tr id="{{ acc._id }}">
                            <td>{{ acc.code }}</td>
                            <td>{{ acc.type }}</td>
                            <td>{{ acc.time.split(" ")[0] }}</td>
                            <td class="fix_width blue">{{ acc.address }}</td>
                            <td>{{ acc.city }}</td>
                            <td>{{ acc.loss }}</td>
                            <td>{{ acc.driver_name }}</td>
                            <td>{{ acc.plate_number }}</td>
                            <td>{{ acc.class }}</td>
                            <td>{{ acc.result }}</td>
                            <td>
                                <span class="my_status {{ 'status_0' if acc.status == 0 else 'status_1' }}">
                                    {{ '未处理' if acc.status == 0 else '已处理' }}
                                </span>
                            </td>
                            <td><span class="edit blue">修改</span></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="my_col bottom_col">
                   <div class="my_left">
                       当前事故记录共计<span id="vio_count">{{ acc_count }}</span>
                       条, 共<span id="page_count">{{ page_count }}</span>页
                   </div>
                   <div class="my_right">
                       <a id="prev_page" href="{{ prev_page_url }}">上一页</a>
                       {% for page in pages %}
                           <a class="page_index" style="{{'color:#ddd !important;' if page.page_url == cur_page_url else ''}}" href="{{ page.page_url }}">{{ page.page_num }}</a>
                       {% endfor %}
                       <a id="next_page" href="{{ next_page_url }}">下一页</a>
                   </div>
            </div>

        </div>
        <!--中间区域结束-->

    </div>
{% endblock %}
{% block extend_js %}
    <!--日期选择器样式-->
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.min.css">
    <!--日期选择器-->
    <script src="../../static/js/bootstrap-datetimepicker.min.js"></script>
    <!--日期选择器本地化语言-->
    <script src="../../static/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script src="../static/js/manage/accident_light.js"></script>
{% endblock %}