{% extends "manage/base_template_light.html" %}
{% block extend_css %}
    <link rel="stylesheet" href="/static/css/manage/accident_light.css">
{% endblock %}
{% block main %}
    <div id="main_zone" class="main_zone col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!--顶部区域开始-->
        <div class="row first_row">
            <div class="my_col">
                <a class="my_url blue" href="accident">事故明细</a><a class="my_url" href="update_accident">事故上报</a>
            </div>
        </div>
        <!--顶部区域结束-->
        <!--中间区域开始-->
        <div class="second_row row">
            <div class="my_col">
                <div class="my_left">
                    <!--靠左对齐部分-->
                    <div class="my_item">
                        <span>时间</span>
                        <input id="begin_date" type="text">--
                        <input id="end_date" type="text">
                    </div>
                    <div class="my_item">
                        <span>城市</span>
                        <input id="select_city" type="text">
                    </div>
                    <div class="my_item">
                        <span>司机</span>
                        <select id="select_driver">
                            <option value=""></option>
                            {% for user_id, item in e_dict.items() %}
                                <option value="{{ user_id }}">{{ item.real_name }}</option>
                            {%  endfor %}
                        </select>
                    </div>
                    <div class="my_item">
                        <span>车辆</span>
                        <input id="select_car" type="text">
                    </div>
                    <div class="my_item">
                        <span>处理状态</span>
                        <input type="checkbox" {{'checked' if status is none or vio_statis == 1 else ''}}  id="check_processed">
                        <span class="check_name">
                            已处理
                        </span>
                        <input type="checkbox" {{'checked' if status is none or vio_statis == 0 else ''}}  id="check_unprocessed">
                        <span class="check_name">
                            未处理
                        </span>
                    </div>
                </div>

                <div class="my_right">
                    <!--靠右对齐部分-->
                    <span id="clear_condition">清空筛选</span>
                    <button id="redirect_btn" class="my_btn">查询</button>
                </div>
            </div>

            <div class="my_col table_col">
                <!--列表显示区域-->
                <table class="" id="show_table">
                    <tr class="title">
                        <th>事故编号</th>
                        <th>发生事故</th>
                        <th>事故时间</th>
                        <th>事故地点</th>
                        <th>事故城市</th>
                        <th>损失金额</th>
                        <th>驾驶员</th>
                        <th>事故车辆</th>
                        <th>事故严重性</th>
                        <th>处理状态</th>
                        <th>操作</th>
                    </tr>
                    {% for acc in acc_list %}
                        <tr id="{{ acc._id }}">
                            <td>{{ acc.code }}</td>
                            <td>{{ acc.type }}</td>
                            <td>{{ acc.time.split(" ")[0] if acc.time is string else '' }}</td>
                            <td class="fix_width blue">{{ acc.address }}</td>
                            <td>{{ acc.city }}</td>
                            <td>{{ acc.loss }}</td>
                            <td>{{ e_dict[acc.driver_id].real_name }}</td>
                            <td>{{ acc.plate_number }}</td>
                            <td>{{ acc.level }}</td>
                            <td>
                                <span class="my_status {{ 'status_0' if acc.status == 0 else 'status_1' }}">
                                    {{ '未处理' if acc.status == 0 else '已处理' }}
                                </span>
                            </td>
                            <td>
                                <a class="edit blue" href="/manage/update_accident?a_id={{ acc._id }}">修改</a>
                                <a class="edit blue show_accident_btn" data-toggle="modal" data-target="#show_accident" data-id="{{ acc._id }}">查看</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="my_col bottom_col">
                   <div class="my_left">
                       当前事故记录共计<span id="vio_count">{{ acc_count }}</span>
                       条, 共<span id="page_count">{{ page_count }}</span>页
                   </div>
                   <div class="my_right">
                       <a id="prev_page" href="{{ prev_page_url }}">上一页</a>
                       {% for page in pages %}
                           <a class="page_index" style="{{'color:#ddd !important;' if page.page_url == cur_page_url else ''}}" href="{{ page.page_url }}">{{ page.page_num }}</a>
                       {% endfor %}
                       <a id="next_page" href="{{ next_page_url }}">下一页</a>
                   </div>
            </div>

        </div>
        <!--中间区域结束-->
        <!--查看事故模态框-->
        <div class="modal fade bs-example-modal-lg" id="show_accident" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myLargeModalLabel">事故详情页</h4>
                    </div>
                    <div class="model-body">
                        <table>
                            <tr>
                                <td>事故名称</td>
                                <td id="title" class="attr">机动车辆引起的机械伤害事故</td>
                                <td>事故类型</td>
                                <td class="attr" id="type">追尾碰撞</td>
                                <td rowspan="3"><img id="head_img_url" class="si_tou attr" src="/static/image/si_tou.jpg" alt=""></td>
                            </tr>
                            <tr>
                                <td>事故编号</td>
                                <td id="code" class="attr">08311</td>
                                <td>事故车辆</td>
                                <td id="plate_number" class="attr">沪A0017</td>
                            </tr>
                            <tr>
                                <td>事故时间</td>
                                <td id="time" class="attr">2018-03-11</td>
                                <td>驾驶员</td>
                                <td id="real_name" class="attr">刘成刚</td>
                            </tr>
                            <tr>
                                <td>事故地点</td>
                                <td id="address" class="attr">则铺路魔域路交叉口东99米</td>
                                <td>事故严重性</td>
                                <td colspan="2"  id="level" class="attr">轻微事故</td>
                            </tr>
                            <tr>
                                <td>损失金额</td>
                                <td  id="loss" class="attr">2000元</td>
                                <td>处理结果</td>
                                <td colspan="2"  id="status" class="attr">已处理</td>
                            </tr>
                            <tr>
                                <td>事故描述</td>
                                <td class="accident_td attr" colspan="4"  id="content">
                                    <textarea class="accident_text" name="" id="" cols="30" rows="10"></textarea>
                                </td>

                            </tr>
                            <tr>
                                <td>备注</td>
                                <td class="accident_td attr" colspan="4"  id="comment">
                                    <textarea class="accident_text" name="" id="" cols="30" rows="10"></textarea>
                                </td>

                            </tr>
                        </table>
                    </div>
                     <div class="modal-footer my_text_align">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" id="delete_btn" class="btn btn-danger">删除</button>
                      </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block extend_js %}
    <script>
    /*传值区域*/
    acc_dict = {{ acc_dict | safe }};  // 事故字典
    e_dict = {{ e_dict | safe }};   // 司机字典
    </script>
    <!--日期选择器样式-->
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <!--日期选择器-->
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <!--日期选择器本地化语言-->
    <script src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script src="/static/js/manage/accident_light.js"></script>
{% endblock %}