<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册示范</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--第一步:引入注册脚本-->
    <script src="http://39.108.67.178:5000/static/js/register.js"></script>
    <!-- <script src="register.js"></script> -->
    <!--引入echarts-->
    <script src="../../static/js/echarts.min.js"></script>
</head>
<style>
    .top-title{
        background-color:lightgray;
        margin-top:0rem;
        margin-bottom: 1rem;
    }
    .sms_btn:hover{
        cursor: pointer;
    }
    .blue{
        /*自定义的倒计时类*/
        color: lightblue;
        background-color: rgb(255, 143, 68) !important;
    }
    table{
      width:100%;
    }
    table tr td{
      text-align: center;
      padding: 10px;
      border: 1px solid #000;
    }
    table tr th{
      text-align: center;
      border: 1px solid #000;
      padding: 10px;
      font-size:16px;
    }
    #pingtu{
      width:100%;
      height:100%;
    }
    #zhu{
      width:100%;
      height:100%;
    }
    .table,.pingtu,.zhu{
      float: left;
    }
    .pingtu,.zhu{
      height:500px;
    }
</style>
<body>
    <div class="container-fluid">
        <div  class='row top-title'>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 style='text-align:center'>App Version</h2>
            </div>
        </div>
        <div class='row'>
            <div id="main" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="pingtu col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div id="pingtu"></div>
                </div>
                <div class="zhu col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div id="zhu"></div>
                </div>
                <div class="tab col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <table>
                  <tr>
                    <th>姓名</th>
                    <th>手机</th>
                    <th>时间</th>
                  </tr>
                </table>
              </div>
            </div>
        </div>
    </div>


</body>
<script>
$(function(){
    $.post("/manage/app_version_table", function(json){
          var data = [
            {'app_version': '1.1.19.1117', '_id': '59895177de713e304a67d30c', 'user_password': 'ce22be69a105a45277f3b4b959944438', 'head_img_url': 'static/image/head_img/default_01.png', 'last_update': '2017-11-23 10:25:40', 'phone_num': '15618317376', 'user_name': '15618317376'},
            {'app_version': '1.1.20.1117', '_id': '59895177de713e304a67231c', 'user_password': 'ce22be69a105a45277f3b4b959944234', 'head_img_url': 'static/image/head_img/default_02.png', 'last_update': '2017-11-23 10:30:40', 'phone_num': '15618317323', 'user_name': '15618317345'},
          ]
        for(let i = 0; i<data.length; i++){
          let name = data[i].real_name || data[i].user_name;
          console.log(data)
          let tr = document.createElement("tr");
          let one = document.createElement("td");
          let two = document.createElement("td");
          let treen = document.createElement("td");
          $(one).html(name);
          $(two).html(data[i].last_update);
          $(treen).html(data[i].phone_num);
          $(tr).attr("id",data[i]._id);
          $(tr).append(one);
          $(tr).append(treen);
          $(tr).append(two);
          $(".tab table").append(tr);
        }

        var myCenter = echarts.init(document.getElementById("zhu"))
        var option = {
          color: ['#3398DB'],
          tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
              type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis : [
            {
              type : 'category',
              data : ['急加速', '急转弯', '急刹车', '超速', '打手机',2,3,4,5,6],
              axisTick: {
                alignWithLabel: true
              }
            }
          ],
          yAxis : [
            {
              min : 0,
              max : 40,
              type : 'value'
            }
          ],
          series : [
            {
              name:'直接访问',
              type:'bar',
              barWidth: '60%',
              data:[24, 15, 28, 12, 38,3,4,5,6,7]
            }
          ]
        };
        myCenter.setOption(option);

        var myPing = echarts.init(document.getElementById("pingtu"));
        var pingtu = {
          tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
          },
          legend: {
          orient: 'vertical',
          x: 'left',
          data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
          },
          series: [
            {
              name:'访问来源',
              type:'pie',
              radius: ['50%', '70%'],
              avoidLabelOverlap: false,
              label: {
                normal: {
                  show: false,
                  position: 'center'
                },
                emphasis: {
                  show: true,
                  textStyle: {
                    fontSize: '30',
                    fontWeight: 'bold'
                  }
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data:[
                {value:335, name:'直接访问'},
                {value:310, name:'邮件营销'},
                {value:234, name:'联盟广告'},
                {value:135, name:'视频广告'},
                {value:1548, name:'搜索引擎'}
              ]
            }
          ]
        };
        myPing.setOption(pingtu);
    });
});    
</script>
</html>
