<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>成员可见性管理</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Title</title>
  <style>
    td,th{
      padding: 10px;
      text-align: center;
      border: 1px solid #000;
    }
    input[type=radio]{
      margin: 0;
      vertical-align: middle;
    }
    td span{
      vertical-align: middle;
      margin-right:5px;
    }
  </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div style="background-color: #9cc7ec; min-height: 4rem; margin-bottom: 2rem" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 style="text-align: center">用户可见性管理</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            当前用户:<span style="color:#337ab7">{{ current_user_name }}</span>
        </div>
    </div>
    <div class='row'>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-condensed">
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>手机</th>
                    <th>职务</th>
                    <th>所属部门</th>
                    <th>状态</th>
                </tr>
                {% for employee in employee_list %}
                    <tr class="{{ 'danger' if employee._id in block_list else 'info'}}">
                        <td>{{ loop.index }}</td>
                        <td>{{ employee.real_name }}</td>
                        <td>{{ employee.phone_num }}</td>
                        <td>{{ post_dict[employee.post_id["$id"]] }}</td>
                        <td>{{ dept_dict[employee.dept_path[-1]] }}</td>
                        <td><button class="btn btn-sm btn-primary" onclick="change_block(this)" data-id="{{ employee._id }}">{{ '用户不可见' if employee._id in block_list else '用户可见'}}</button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script>
$(function () {
    change_block = function(arg){
        let $this = $(arg);
        let employee_id = $.trim($this.attr("data-id"));
        $.post("/manage/block_employee_list", {"action":"edit", "block_id": employee_id}, function(json){
            let mes = JSON.parse(json);
            if(mes['message'] !== "success"){
                alert(mes['message']);
            }
            else{
                // console.log($this.parents("tr:first"));
                let tr = $this.parents("tr:first").toggleClass("danger").toggleClass("info");
                if($.trim($this.text()) === '用户不可见'){
                    $this.text('用户可见');
                }
                else{
                    $this.text('用户不可见');
                }
            }
        });
    };


// end!
})
</script>
</body>
</html>