{% extends "manage/base_template_light.html" %}
{% block extend_css %}
{#<link rel="stylesheet" href="/static/css/manage/driver_light.css">#}
<link rel="stylesheet/less" href="/static/less/manage/driver.less">
<script src="/static/js/less.min.js"></script>
{% endblock %}
{% block main %}

<div id="main_zone" class="main_zone">
    <div id="content_outer">
        <div id="content_inner">
            <!--页面上部基本资料开始-->
            <div class="row personal-data">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p1">
                            <div class="my_title">个人基本资料</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p2">
                            <div class="my_left">
                                <div class="img_outer">
                                    <img class="head_img img-circle" src="/{{ cur_user.head_img_url }}" alt="{{ cur_user.real_name }}" />
                                </div>
                                <span class="text_line green">当前路况良好</span>
                                <span class="text_line red">今日排名第六名</span>
                            </div>
                            <div class="my_right">
                                <div class="name_line">{{ cur_user.real_name }}</div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 base_info">
                                       <div class="info_cell">
                                           <img class="mini_icon" src="/static/image/icon/icon_nan.svg">
                                           <span class="my_label">性别</span>
                                           <span class="my_input">男</span>
                                       </div>
                                        <div class="info_cell">
                                           <img class="mini_icon" src="/static/image/icon/icon_xingming.svg">
                                           <span class="my_label">驾龄</span>
                                           <span class="my_input">{{ cur_user.driving_experience | string + "年" if cur_user.driving_experience else "" }}</span>
                                       </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 base_info">
                                       <div class="info_cell">
                                           <img class="mini_icon" src="/static/image/icon/icon_diqu.svg">
                                           <span class="my_label">籍贯</span>
                                           <span class="my_input">{{ cur_user.city }}</span>
                                       </div>
                                        <div class="info_cell">
                                           <img class="mini_icon" src="/static/image/icon/icon_xingming.svg">
                                           <span class="my_label">年龄</span>
                                           <span class="my_input">{{ cur_user.age }}</span>
                                       </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 base_info">
                                       <div class="info_cell">
                                           <img class="mini_icon" src="/static/image/icon/icon_xingming.svg">
                                           <span class="my_label">工号</span>
                                           <span class="my_input">{{ cur_user.employee_number }}</span>
                                       </div>
                                        <div class="info_cell">
                                           <img class="mini_icon" src="/static/image/icon/icon_dianhua.svg">
                                           <span class="my_label">手机</span>
                                           <span class="my_input">{{ cur_user.phone_num }}</span>
                                       </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 base_info">
                                       <div class="info_cell">
                                           <img class="mini_icon" src="/static/image/icon/icon_jinjilianxi.svg">
                                           <span class="my_label">紧急联系人</span>
                                           <span class="my_input">{{ cur_user.emergency_contact }}</span>
                                       </div>
                                        <div class="info_cell">
                                           <img class="mini_icon" src="/static/image/icon/icon_dianhua.svg">
                                           <span class="my_label">紧急号码</span>
                                           <span class="my_input">{{ cur_user.emergency_phone }}</span>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--页面上部基本资料结束-->
            <!--中上部分页切换开始-->
            <div class="row change_sub_page">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn_line">
                        <span id="today_chart" class="active_page page">当日报表</span>
                        <span id="prev_chart" class="page">历史报表</span>
                        <span id="acc_count" class="page">事故统计</span>
                        <span id="vio_count" class="page">违章统计</span>
                        <span id="extend_info" class="page">个人信息</span>
                    </div>
                </div>
                <div class="row date_row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 date_div">
                        <span class="select_interval" data-val="day">日报表</span>
                        <span class="select_interval select_interval_action" data-val="month">月报表</span>
                        <span class="select_interval select_interval_last" data-val="year">年报表</span>
                        <label for="select_date">选择日期</label><input id="select_date" type="text" readonly>
                        <span id="redirect_btn" class="btn btn-primary btn-sm">查 询</span>
                    </div>
                </div>
            </div>
            <!--中上部分页切换结束-->
            <!--当日报表子页面开始-->
            <div class="row sub_page today_chart">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--安全评估和驾驶状态-->
                    <div class="row security_and_status">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 my_left">
                            <div class="part_top">
                                安全评估
                            </div>
                            <div  class="part_bottom">
                                <div id="myyb"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 my_right">
                            <div class="part_top">
                                驾驶状态
                            </div>
                            <div class="my_line">
                                <div class="part_left">
                                    <div class="cell_left">
                                        <img src="/static/image/icon/icon_pingjun.png" alt="">
                                    </div>
                                    <div class="cell_right">
                                        <span>平均时速</span>
                                        <span>70公里/h</span>
                                    </div>
                                </div>
                                <div class="part_right">
                                    <div class="cell_left">
                                        <img src="/static/image/icon/icon_zuigao.png" alt="">
                                    </div>
                                    <div class="cell_right">
                                        <span>最高时速</span>
                                        <span>95公里/h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="my_line">
                                <div class="part_left">
                                    <div class="cell_left">
                                        <img src="/static/image/icon/icon_licheng.png" alt="">
                                    </div>
                                    <div class="cell_right">
                                        <span>行驶里程</span>
                                        <span>1480公里</span>
                                    </div>
                                </div>
                                <div class="part_right">
                                    <div class="cell_left">
                                        <img src="/static/image/icon/icon_shichang.png" alt="">
                                    </div>
                                    <div class="cell_right">
                                        <span>行驶时长</span>
                                        <span>240小时</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--生理状态-->
                    <div class="row healthy">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="part_top">生理状态</div>
                            <div class="part_bottom">
                                <div id="myChart"></div>
                                <div id="heart_table">
                                    <div class="my_title">
                                        <span>今日平均bmp：<span style="color:#958EFE">84</span></span>
                                        <span>健康状态：好</span>
                                        <span>最高：<span style="color:#958EFE">89</span></span>
                                        <span>最低：<span style="color:#958EFE">81</span></span>
                                    </div>
                                    <table class="my_table table">
                                        {% for i in range(6) %}
                                            <tr>
                                            {% for y in range(1, 5) %}
                                                <td>10月21日 {{ "0" + (i * 4 + y) | string if (i * 4 + y) < 10 else (i * 4 + y) }}：20
                                                    {{ "8" + [1, 2, 3, 4, 5, 6, 7, 8, 9] | random | string }}
                                                    次\分</td>
                                            {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--情绪和睡眠-->
                    <div class="row mood_and_sleep">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 my_title">
                                    情绪状况
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 my_title">
                                    睡眠质量
                                </div>
                            </div>
                            <div class="row">
                                <div id="big_img" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <img src="/static/image/tupian.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--不良驾驶行为-->
                    <div class="row bad_action">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="myxw">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--当日报表子页面结束-->
            <!--历史报表子页面开始-->
            <div class="row sub_page prev_chart hide_page">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--安全评估和驾驶状态-->
                    <div class="row security_and_status">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 my_left">
                            <div class="part_top">
                                安全评估
                            </div>
                            <div  class="part_bottom">
                                <div id="mylishi"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 my_right">
                            <div class="part_top">
                                驾驶状态
                            </div>
                            <div class="my_line">
                                <div class="part_left">
                                    <div class="cell_left">
                                        <img src="/static/image/icon/icon_pingjun.png" alt="">
                                    </div>
                                    <div class="cell_right">
                                        <span>平均时速</span>
                                        <span>70公里/h</span>
                                    </div>
                                </div>
                                <div class="part_right">
                                    <div class="cell_left">
                                        <img src="/static/image/icon/icon_zuigao.png" alt="">
                                    </div>
                                    <div class="cell_right">
                                        <span>最高时速</span>
                                        <span>95公里/h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="my_line">
                                <div class="part_left">
                                    <div class="cell_left">
                                        <img src="/static/image/icon/icon_licheng.png" alt="">
                                    </div>
                                    <div class="cell_right">
                                        <span>行驶里程</span>
                                        <span>1480公里</span>
                                    </div>
                                </div>
                                <div class="part_right">
                                    <div class="cell_left">
                                        <img src="/static/image/icon/icon_shichang.png" alt="">
                                    </div>
                                    <div class="cell_right">
                                        <span>行驶时长</span>
                                        <span>240小时</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--生理状态-->
                    <div class="row healthy">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="part_top">生理状态</div>
                            <div class="part_bottom">
                                    <div class="my_table">
                                        <div style="width:{{ 100 / max_day }}%" class="item">
                                            <span class="title">类型</span>
                                            <span>健康</span>
                                            <span>情绪</span>
                                            <span>睡眠</span>
                                        </div>
                                        {% for i in range(max_day) %}
                                            <div style="width:{{ 100 / max_day }}%"  class="item">
                                            <span class="title">{{ i + 1 }}日</span>
                                            <span>{{ ['优', '良'] | random }}</span>
                                            <span>{{ ['优', '良'] | random }}</span>
                                            <span>{{ ['优', '良'] | random }}</span>
                                        </div>
                                        {% endfor %}
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!--不良驾驶行为-->
                    <div class="row bad_action">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="prev_myxw">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--历史报表子页面结束-->
            <!--事故统计子页面开始-->
            <div class="row sub_page acc_count hide_page">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row filter_row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my_title">条件筛选</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 filter_zone">
                                    <label for="select_vio_date">选择时间</label>
                                    <input class="input" id="select_vio_date" type="text" readonly>
                                    <label for="select_vio_city">选择地点</label>
                                    <input class="input" id="select_vio_city" type="text" readonly>
                                    <label for="select_vio_fine">选择金额</label>
                                    <input class="input" id="select_vio_fine" type="text" readonly>
                                    <label for="select_vio_type">选择类型</label>
                                    <input class="input" id="select_vio_type" type="text" readonly>
                                    <label class="sep">处理状态</label>
                                    <input name="vio_status" type="radio"><span class="vio_status_str">已处理</span>
                                    <input name="vio_status" type="radio"><span class="vio_status_str">未处理</span>
                                    <div class="pull_right">
                                        <span class="my_btn_default">清空筛选</span>
                                        <button type="button" class="my_btn_primary">确  定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row table_row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table>
                                <tr>
                                    <th>事故编号</th>
                                    <th>涉事车辆</th>
                                    <th>事发时间</th>
                                    <th>事发地址</th>
                                    <th>事故类型</th>
                                    <th>驾驶员</th>
                                    <th>损失金额</th>
                                    <th>事故严重性</th>
                                    <th>处理状态</th>
                                </tr>
                                {% for i in range(6) %}
                                    <tr>
                                        <td> 3434</td>
                                        <td>沪A12345</td>
                                        <td>2018-01-01</td>
                                        <td>上海市嘉定区安亭镇xx路</td>
                                        <td>追尾事故</td>
                                        <td>张三</td>
                                        <td>26300</td>
                                        <td>轻微事故</td>
                                        <td><span  class="vio_status">未处理</span></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="row bottom_row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span>当前记录18条,共2页 </span>
                            <div class="pull_right">
                                <span>上一页</span>
                                <span>1</span>
                                <span>2</span>
                                <span>下一页</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--事故统计子页面结束-->
            <!--违章统计子页面开始-->
            <div class="row sub_page vio_count hide_page">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row filter_row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my_title">条件筛选</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 filter_zone">
                                    <label for="select_vio_date">选择时间</label>
                                    <input class="input" id="select_vio_date" type="text" readonly>
                                    <label for="select_vio_city">选择地点</label>
                                    <input class="input" id="select_vio_city" type="text" readonly>
                                    <label for="select_vio_fine">选择金额</label>
                                    <input class="input" id="select_vio_fine" type="text" readonly>
                                    <label for="select_vio_type">选择类型</label>
                                    <input class="input" id="select_vio_type" type="text" readonly>
                                    <label class="sep">处理状态</label>
                                    <input name="vio_status" type="radio"><span class="vio_status_str">已处理</span>
                                    <input name="vio_status" type="radio"><span class="vio_status_str">未处理</span>
                                    <div class="pull_right">
                                        <span class="my_btn_default">清空筛选</span>
                                        <button type="button" class="my_btn_primary">确  定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row table_row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table>
                                <tr>
                                    <th>违章编号</th>
                                    <th>车牌号</th>
                                    <th>违章时间</th>
                                    <th>违章原因</th>
                                    <th>违章地址</th>
                                    <th>驾驶员</th>
                                    <th>工号</th>
                                    <th>扣分</th>
                                    <th>罚金</th>
                                    <th>处理状态</th>
                                </tr>
                                {% for i in range(6) %}
                                    <tr>
                                        <td>08311</td>
                                        <td>沪A12345</td>
                                        <td>2018-01-01</td>
                                        <td>违章停车</td>
                                        <td>上海市嘉定区安亭镇xx路</td>
                                        <td>张三</td>
                                        <td>4300</td>
                                        <td>2</td>
                                        <td>200</td>
                                        <td><span  class="vio_status">未处理</span></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="row bottom_row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span>当前记录18条,共2页 </span>
                            <div class="pull_right">
                                <span>上一页</span>
                                <span>1</span>
                                <span>2</span>
                                <span>下一页</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--违章统计子页面结束-->
            <!--个人信息子页面开始-->
            <div class="row sub_page extend_info hide_page">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row dept_and_truck">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table>
                                <caption>部门信息</caption>
                                <tr>
                                    <th>职务</th>
                                    <th>所属部门</th>
                                    <th>部门领导</th>
                                    <th>上级领导</th>
                                    <th>公司名称</th>
                                </tr>
                                <tr>
                                    <td>驾驶员</td>
                                    <td>华新分拨中心</td>
                                    <td>{{ cur_user.real_name }}</td>
                                    <td>上海分公司</td>
                                    <td>顺丰速运</td>
                                </tr>
                            </table>
                            <table>
                                <caption>车辆信息</caption>
                                <tr>
                                    <th>车辆号牌</th>
                                    <th>车辆类型</th>
                                    <th>车辆型号</th>
                                    <th>车架号</th>
                                    <th>发动机号</th>
                                    <th>注册地</th>
                                    <th>注册日期</th>
                                    <th>发证日期</th>
                                </tr>
                                <tr>
                                    <td>{{ cur_user.plate_number }}</td>
                                    <td>{{ cur_user.car_type }}</td>
                                    <td>{{ cur_user.car_model }}</td>
                                    <td>{{ cur_user.vio_id }}</td>
                                    <td>{{ cur_user.engine_id }}</td>
                                    <td>{{ cur_user.register_city }}</td>
                                    <td>{{ cur_user.register_date }}</td>
                                    <td>{{ cur_user.issued_date }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--个人信息子页面结束-->
        </div>
    </div>
    <div id="right_bar">
        <ul>
            {% for e in employees %}
                <li>
                    <a href="/manage/driver?cur_user_id={{ e._id }}">
                        {{ e.official_name if e.get("real_name") is none else e.real_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
{% block extend_js %}
<!--百度图表-->
<script src="/static/js/echarts.common.min.js"></script>
<script src="/static/js/echarts.min.js"></script>
<!--日期选择器样式-->
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
<!--日期选择器-->
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<!--日期选择器本地化语言-->
<script src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="/static/js/manage/driver_light.js"></script>
{% endblock %}