{% extends "manage/base_template.html" %}
{% block extend_css %}
    <link rel="stylesheet" href="../static/css/employee_detail.css">
{% endblock %}
{% block extend_script %}
    <script src="../../static/js/manage/employee_detail.js"></script>
    <script src="../../static/js/jquery.AshAlom.gaugeMeter-2.0.0.min.js"></script>
    <script src="../../static/js/echarts.min.js"></script>
    <script src="../../static/js/jqmeter.min.js"></script>
    <script src="../../static/js/layDate-v5.0.8/laydate/laydate.js"></script>
{% endblock %}

{% block content_wrapper %}
    <div class="container-fluid">
      <div class="row">
        <div class="content-wrapper" style="height:100%;margin-top: 50px">
          <div class="driver-detail">
            <div class="driver-info-left">
              <div class="content-info">
                <div class="driver-Pinfo">
                  <div class="driver-Pinfo-T">
                    <span>司机列表</span>
                    <span>司机详情 <i></i></span>
                  </div>
                  <div class="driver-Pinfo-B clearfix">
                    <div class="info" id="info">

                    </div>
                  </div>
                </div>
                <!--<div class="car-info">-->
                  <!--<p>车辆信息</p>-->
                  <!--<ul>-->

                  <!--</ul>-->
                <!--</div>-->
                <div class="date-select clearfix">
                  <select name="" id="select">
                    <option value="天">天</option>
                    <option value="周">周</option>
                    <option value="月">月</option>
                    <option value="年">年</option>
                  </select>
                  <div class="date">
                    <input type="text" id="text">
                    <input type="text" id="text1">
                    <input type="text" id="text2">
                    <input type="text" id="text3">
                    <div class="month">
                      <div class="month-header">
                        <i class="iconfont icon-left"></i>
                        <i class="iconfont icon-rilijiantouzuodan"></i>
                        <div class="header-content">
                          <span id="year"></span>
                          <span id="month"></span>
                        </div>
                        <i class="iconfont icon-rilijiantouzuodan1"></i>
                        <i class="iconfont icon-rilijiantouyoushuang"></i>
                      </div>
                      <div class="month-body">
                        <ul>

                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="date-btn"><input type="button" onclick="show_report()" value="确定"></div>
                </div>
                <div class="driver-Dinfo clearfix">
                  <div class="safe">
                    <p id="safe_title">安全评估</p>
                    <div class="GaugeMeter" id="GaugeMeter_1"></div>
                    <ul>

                    </ul>
                  </div>
                  <div class="drive">
                    <p>驾驶状态</p>
                    <div class="drive-data">
                      <ul>

                      </ul>
                    </div>
                    <div class="driver-course">

                    </div>
                    <div class="driver-speed">

                    </div>
                  </div>
                </div>
                <div class="driver-phy">
                  <p>生理状态</p>
                  <div class="phy-img clearfix">
                    <ul>

                    </ul>
                  </div>
                  <div class="phy-info clearfix">
                    <ul>
                      <li><i></i><span>优</span></li>
                      <li><i></i><span>良</span></li>
                      <li><i></i><span>差</span></li>
                    </ul>
                  </div>
                </div>
                <div class="driver-bad-info clearfix">
                  <div class="bad-drive">
                    <p>不良驾驶行为</p>
                    <div id="bad-drive-center"></div>
                    <div class="bad-drive-data hidden-xs clearfix">
                      <ul>

                      </ul>
                    </div>
                  </div>
                  <div class="bad-headle">
                    <p>不良操作行为</p>
                    <div id="bad-headle-center"></div>
                  </div>
                </div>
                <div class="driver-btn">
                  <button>返回</button>
                </div>
              </div>
            </div>
            <div class="driver-list-right hidden-xs">
              <ul>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}