<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/manage/online_report.css">
{#    <link rel="stylesheet" href="./font/iconfont.css">#}
    <title>用户信息列表</title>
</head>
<body>
    <div class="box">
        <!-- 标题头 -->
        <div class="top">
            <span class="iconfont icon-font icon-arrow-top-copy"></span><p>用户列表</p> 
        </div>
        <!-- 提示栏 -->
        <div class="Prompts-column">
            <ul>
                <li>总用户量 <span>2400</span></li>
                <li>新增用户 <span>53</span> </li>
                <li>在线平均时长 <span>12h</span></li>
                <li>常用功能 违章查询<span>13</span>次  违章代缴<span>12</span>次</li>
                <li>选择用户 <input type="radio" name="use">在线 <input type="radio" name="use">不在线</li>
            </ul>
        </div>
        <div class="my-table">
            <table>
                <thead>
                    <tr>
                        <th>图片</th>
                        <th>手机号</th>
                        <th>手机版本号</th>
                        <th>app版本</th>
                        <th>最近一次登录时间</th>
                        <th>在线时长</th>
                        <th>状态</th>
                        <th>注册时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="/static/image/head_img/default_01.png" alt="无图片"></td>
                        <td>18577684225</td>
                        <td>5.1.1</td>
                        <td>V.5.1.1</td>
                        <td>2018-4-12 7：02：35</td>
                        <td>3小时</td>
                        <td>在线</td>
                        <td>2018-4-12 7：02：35</td>
                    </tr>
                    <tr>
                        <td><img src="/static/image/head_img/default_01.png" alt="无图片"></td>
                        <td>18577684225</td>
                        <td>5.1.1</td>
                        <td>V.5.1.1</td>
                        <td>2018-4-12 7：02：35</td>
                        <td>3小时</td>
                        <td>在线</td>
                        <td>2018-4-12 7：02：35</td>
                    </tr>
                    <tr>
                        <td><img src="/static/image/head_img/default_01.png" alt="无图片"></td>
                        <td>18577684225</td>
                        <td>5.1.1</td>
                        <td>V.5.1.1</td>
                        <td>2018-4-12 7：02：35</td>
                        <td>3小时</td>
                        <td>在线</td>
                        <td>2018-4-12 7：02：35</td>
                    </tr>
                    <tr>
                        <td><img src="/static/image/head_img/default_01.png" alt="无图片"></td>
                        <td>18577684225</td>
                        <td>5.1.1</td>
                        <td>V.5.1.1</td>
                        <td>2018-4-12 7：02：35</td>
                        <td>3小时</td>
                        <td>在线</td>
                        <td>2018-4-12 7：02：35</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>