{% extends "manage/login.html" %}
{% block extend_css %}
        <link rel="stylesheet" href="../static/css/register.css">
{% endblock %}
{% block extend_js %}
        <script src="../../static/js/manage/register.js"></script>
{% endblock %}
{% block main %}
    <div class="row">
       <div class="my_main">
           <div class="kuang col-sm-12 col-xs-12">
                    <div class="my_main-left col-lg-6 col-md-6 hidden-sm hidden-xs">
                        <div class="content">
                            <div class="login">
                            <img src="../../static/image/head_img/tubiao.png" alt="">
                            </div>
                            <div class="login-text">
                                <img src="../../static/image/head_img/安全管理平台.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="my_main-right col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="content-r">
                            <div class="zhuce">
                                <span>注册</span>
                            </div>
                            <div class="form">
                                <input type="text" autocomplete="off"  id="phone_num" placeholder="请输入手机号">
                                <input type="text" autocomplete="off" class="sms" placeholder="请输入验证码"><span>获取验证码</span>
                                <input type="password" autocomplete="off" class="password" placeholder="设置登录密码"><i class="iconfont icon-dengluzhuce-yanjingmimakekan"></i>
                            </div>
                            <input type="text" autocomplete="off" class="password" placeholder="设置登录密码">
                            <div class="zhuce-btn">
                                <input type="submit" id="submit_btn" value="立即注册">
                            </div>
                            </div>
                    </div>
           </div>
       </div>
    </div>
{% endblock %}