{% extends "manage/base_template_light.html" %}
{% block extend_css %}
    <!--富文本编辑器-->
    <link rel="stylesheet" href="/static/css/wangEditor.min.css">
    <link rel="stylesheet" href="/static/css/manage/update_accident_light.css">
{% endblock %}
{% block main %}
    <div id="main_zone" class="main_zone col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!--顶部区域开始-->
        <div class="row first_row">
            <div class="my_col">
                <a class="my_url" href="accident">事故统计</a><a class="my_url blue" href="update_accident">事故上报</a>
            </div>
        </div>
        <!--顶部区域结束-->
        <!--中间区域开始-->
        <div class="second_row row">
            <div class="my_col">

                <div class="my_item">
                    <div class="sub_item">
                        <span class="my_label">事故名称</span>
                        <input type="text" id="accident_title">
                    </div>
                    <div class="sub_item">
                        <span class="my_label">事故类型</span>
                        <select id="accident_type">
                            {% for x in acc_type %}
                                <option value="{{ x }}">{{ x }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="hr_outer">
                    <hr class="my_hr">
                </div>

                <div class="my_item">
                    <div class="sub_item">
                        <span class="my_label">事故编号</span>
                        <input type="text" id="accident_code">
                    </div>
                    <div class="sub_item">
                        <span class="my_label">涉事司机</span>
                        <input type="text" id="accident_driver">
                    </div>
                    <div class="sub_item">
                        <span class="my_label">涉事车辆</span>
                        <input type="text" id="accident_truck" placeholder="输入车牌">
                    </div>
                </div>
                <div class="hr_outer">
                    <hr class="my_hr">
                </div>


                <div class="my_item">
                    <div class="sub_item">
                        <span class="my_label">事故地点</span>
                        <input type="text" id="accident_address">
                    </div>
                    <div class="sub_item">
                        <span class="my_label">事故时间</span>
                        <input type="text" readonly id="accident_time">
                    </div>
                    <div class="sub_item">
                        <span class="my_label">事故城市</span>
                        <input type="text" id="accident_city">
                    </div>
                </div>
                <div class="hr_outer">
                    <hr class="my_hr">
                </div>

                <div class="my_item">
                    <div class="sub_item">
                        <span class="my_label">损失金额</span>
                        <input type="text" id="accident_loss">
                    </div>
                    <div class="sub_item">
                        <span class="my_label">事故后果(严重程度)</span>
                        <input type="text" id="accident_level">
                    </div>
                </div>
                <div class="hr_outer">
                    <hr class="my_hr">
                </div>

                <div class="my_item">
                    <div class="sub_item">
                        <span>处理状态</span>
                        <div class="check_div">
                            <input class="accident_status" type="checkbox" {{'checked' if vio_status is none or vio_statis == 1 else ''}}  id="check_processed">
                            <span class="check_name">
                            已处理
                        </span>
                            <input class="accident_status" type="checkbox" {{'checked' if vio_status is none or vio_statis == 3 else ''}}  id="check_unprocessed">
                            <span class="check_name">
                            未处理
                        </span>
                        </div>
                    </div>
                </div>
                <div class="hr_outer">
                    <hr class="my_hr">
                </div>

                <div class="my_item">
                    <div class="sub_item">
                        <span class="my_label">事件描述</span>
                        <div  id="accident_content"></div>
                    </div>
                </div>

                <div class="my_item">
                    <div class="sub_item">
                        <span class="my_label">图片和视频</span>
                        <div class="file_list">
                            <img id="add_file">
                        </div>
                    </div>
                </div>

                <div class="my_item">
                    <div class="sub_item">
                        <span class="my_label">备注</span>
                        <div contenteditable="true" id="accident_comment"></div>
                    </div>
                </div>

                <div class="my_item">
                    <div class="sub_item">
                        <button type="button" class="btn btn-primary" id="submit_accident">保存</button>
                    </div>
                </div>

            </div>
        </div>
        <!--中间区域结束-->

    </div>
{% endblock %}
{% block extend_js %}
    <!--富文本编辑器js-->
    <script src="/static/js/wangEditor.min.js"></script>
    <!--日期选择器样式-->
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <!--日期选择器-->
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <!--日期选择器本地化语言-->
    <script src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script src="/static/js/manage/update_accident_light.js"></script>
{% endblock %}