{% extends "manage/base_template_light.html" %}
{% block extend_css %}
<link rel="stylesheet" href="../static/css/manage/warning_light.css">
{% endblock %}
{% block main %}
    <div id="main_zone" class="main_zone col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!--顶部区域开始-->
        <div class="row first_row">
            <div class="my_col">
                预警记录
            </div>
        </div>
        <div class="row second_row">
            <div class="my_col">
                <div class="my_item">
                    <span>选择时间</span>
                    <input id="begin_date" type="text">--
                    <input id="end_date" type="text">
                </div>
                <div class="my_item">
                    <span>选择司机</span>
                    <select id="select_driver">
                        <option value="">全队</option>
                        {% for user_id, item in drivers.items() %}
                            <option value="{{ user_id }}">{{ item['real_name'] }}</option>
                        {%  endfor %}
                    </select>
                </div>
                <div class="my_item">
                    <span>预警名称</span>
                    <input id="select_car" type="text">
                </div>
            </div>
            <div class="my_col">
                <div class="my_item">
                    选择主动预警提示
                </div>
            </div>
            <div class="my_col select_row">
                <div class="my_item check_box">
                    <input type="checkbox" {{ 'checked' if active_tip is not none and "疲劳驾驶" in active_tip else '' }} id="check_processed">
                    <span class="check_name">
                            疲劳驾驶
                    </span>
                </div>
                <div class="my_item">
                    <input type="checkbox" {{ 'checked' if active_tip is not none and "看手机" in active_tip else '' }} id="check_processed">
                    <span class="check_name">
                            看手机
                    </span>
                </div>
                <div class="my_item">
                    <input type="checkbox" {{ 'checked' if active_tip is not none and "打手机" in active_tip else '' }} id="check_processed">
                    <span class="check_name">
                            打手机
                    </span>
                </div>
                <div class="my_item">
                    <input type="checkbox" {{ 'checked' if active_tip is not none and "超速" in active_tip else '' }} id="check_processed">
                    <span class="check_name">
                            超速
                    </span>
                </div>
                <div class="my_item">
                    <input type="checkbox" {{ 'checked' if active_tip is not none and "急刹车" in active_tip else '' }} id="check_processed">
                    <span class="check_name">
                            急刹车
                    </span>
                </div>
                <div class="my_item">
                    <input type="checkbox" {{ 'checked' if active_tip is not none and "急转弯" in active_tip else '' }} id="check_processed">
                    <span class="check_name">
                            急转弯
                    </span>
                </div>
                <div class="my_item">
                    <input type="checkbox" {{ 'checked' if active_tip is not none and "急加速" in active_tip else '' }} id="check_processed">
                    <span class="check_name">
                            急加速
                    </span>
                </div>
                <div class="my_item">
                    <input type="checkbox" {{ 'checked' if active_tip is not none and "睡眠" in active_tip else '' }} id="check_processed">
                    <span class="check_name">
                            睡眠
                    </span>
                </div>
                <div class="my_item">
                    <input type="checkbox" {{ 'checked' if active_tip is not none and "健康" in active_tip else '' }} id="check_processed">
                    <span class="check_name">
                            健康
                    </span>
                </div>
                <div class="my_item">
                    <input type="checkbox" {{ 'checked' if active_tip is not none and "情绪" in active_tip else '' }} id="check_processed">
                    <span class="check_name">
                            情绪
                    </span>
                </div>
            </div>
            <div class="my_col btn_row">
                <div class="my_left">
                    <!--靠左-->
                    <span id="clear_condition">清空筛选</span>
                    <button id="redirect_btn" class="my_btn">确定</button>
                </div>
            </div>
        </div>
        <!--顶部区域结束-->
        <!--表格区域开始-->
        <div class="third_row row">
            <div class="my_col">
                <table class="" id="show_table">
                <tr>
                    <td  colspan="9" class="my_right">
                        <button id="tip_btn" class="my_btn">提醒</button>
                    </td>

                </tr>
                    <tr class="title">
                        <td></td>
                        <th>预警名称</th>
                        <th>时间</th>
                        <th>地点</th>
                        <th>状态</th>
                        <th>车辆</th>
                        <th>预警类别</th>
                        <th>司机</th>
                        <th>联系方式</th>
                    </tr>
                    {% for event in event_list %}
                        <tr id="{{ event._id }}">
                            <td>
                                <input data-id="{{ event._id }}" type="checkbox" class="my_check">
                            </td>
                            <td>{{ event.event_type }}</td>
                            <td>{{ event.event_time }}</td>
                            <td class="blue fix_width">{{ event.address }}</td>
                            <td class="tip_status">{{ '刚生成' if event.tip_status == 0 else '已提醒' }}</td>
                            <td>{{ event.plate_number }}</td>
                            <td>不良驾驶行为</td>
                            <td class="driver_name">
                                {{ event.real_name }}
                            </td>
                            <td>
                                {{ event.user_phone }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="my_col bottom_col">
                   <div class="my_left">
                       当前预警记录共计<span id="event_count">{{ event_count }}</span>
                       条, 共<span id="page_count">{{ page_count }}</span>页
                   </div>
                   <div class="my_right">
                       <a id="prev_page" href="{{ prev_page_url }}">上一页</a>
                       {% for page in pages %}
                           <a class="page_index" style="{{'color:#ddd !important;' if page.page_url == cur_page_url else ''}}" href="{{ page.page_url }}">{{ page.page_num }}</a>
                       {% endfor %}
                       <a id="next_page" href="{{ next_page_url }}">下一页</a>
                   </div>
            </div>
        </div>
        <!--表格区域结束-->
    </div>
{% endblock %}
{% block extend_js %}
    <!--日期选择器样式-->
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.min.css">
    <!--日期选择器-->
    <script src="../../static/js/bootstrap-datetimepicker.min.js"></script>
    <!--日期选择器本地化语言-->
    <script src="../../static/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <script src="../static/js/manage/warning_light.js"></script>
{% endblock %}