<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>引导页</title>
    <style>
    *{
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
    html,body{
        width: 100%;
    }
    .boot_page{
        /* width: 100%; */
        padding: 2em;
    }
    .boot_page img{
        width: 100%;
    }
    .boot_page p{
        font-size: 2rem;
        color: #fff;
        background: #3793ff;
        text-align: center;
    }
    </style>
</head>
<body>
        <div class="boot_page">
            <p>第一步：点击搜索按钮</p>
            <img src="../images/1.png" alt="">
            <p>第二步：输入卡佑</p>
            <img src="../images/2.png" alt="">
            <p>第三步：点击搜一搜卡佑</p>
            <img src="../images/3.png" alt="">
            <p>第四步：点击进入即可关注卡佑公众号</p>
            <img src="../images/4.png" alt="">
            <p>扫码关注</p>
            <img src="../images/code.jpeg" alt="">

            <!-- <p>一， 关注后卡佑服务号三大菜单（服务，帮助中心， 关于）</p>
            <p>1,服务</p>
            <img src="../images/5.png" alt="">
            <p>（1）我要找工作（主要是司机信息的录入）</p>
            <p class="font_sm">注册页（输入手机号，获取验证码） 已注册用户不再显示此页面</p>
            <img src="../images/6.jpg" alt="">
            <p class="font_sm">基本信息的填写，只允许创建一份，但可后期修改</p>
            <img src="../images/7.jpg" alt="">
            <p class="font_sm">基本信息的填写，只允许创建一份，但可后期修改</p>
            <img src="../images/7.jpg" alt=""> -->
        </div>
</body>
</html>