<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>车辆信息填写</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/LCalendar.min.css">
    <link rel="stylesheet" href="/static/css/pickout.min.css">
    <link rel="stylesheet" href="/static/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/css/weui.min.css">
</head>
<style>
    .div_spn{
        padding: 0 60px;
    }

    .div_spn p span{
        display: inline-block;
        width: 49%;
    }
    #city_one , #city_two{
        text-align:center;
    }
    .div_spn_inp  input{
        text-align: center;
    }
    .div_info_btn{
        height: 100%;
        position: relative !important;
        margin-bottom: 0;
    }
    .iimg {
        display: inline-block;
        width: 60px;
        height: 6em;
        overflow: hidden;
    }
    .imgs{
        width: 100%;
        height:2.5em;
    }
    .p_alert{
        width: 100%;
        /* position: relative; */
    }
    .pk-input{
        line-height: 6em;
        margin-top: 1.7em;
    }
    .pk-arrow {
        margin: 0 auto;
        line-height: 195%;
    }
    .inp_widh{
        width: 30% !important;
        margin-top: 2.1em;
    }
    .dele{
        text-align: center;
        width: 100% !important;
        position: relative;
        display: inline-block;
        height: 3em;
    }
    .dele i{
        text-align: center;
        width: 3em;
        height: 3em;
        color: red;
        line-height: 3em;
        font-size: 1rem;
    }
</style>
<script>user = {{ user | safe }};</script>
<script src="/static/js/jquery.js"></script>
<script>
        $(function(){
                    let url_head = location.search;
                   if(url_head) {
                       $(".complete").css({
                           display: "none"
                       });
                   }else{
                       $(".modify").css({
                           display:"none"
                       })
                   }
            })
</script>
<body>
        <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                            <p>车辆照片 <i class="pull-right iimg">
                                    <img class="imgs" id="imgs_car"  src="/static/images/poto.png" alt="">
                            </i></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                            <p>  <input id="plate_number" class="inps" value="" type="text" placeholder="车辆号牌"></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                            <p class="p_alert"> 
                                <select name="state" id="state" class="state pickout inps" placeholder="选择车辆类型">
                                        <option value="pe">小型轿车</option>
                                        <option value="pb">小型客车</option>
                                        <option value="ba">中型客车</option>
                                        <option value="sp">大型客车</option>
                                        <option value="qd">平板式货车</option>
                                        <option value="qd">栏板式货车</option>
                                        <option value="qd">厢式货车</option>
                                        <option value="qd">仓栅式货车</option>
                                        <option value="qd">罐式车</option>
                                        <option value="qd">自卸车</option>
                                        <option value="qd"></option>
                                </select>
                            </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                            <p><input id="vehicle_load" class="inps" type="text" placeholder="车辆载重量/吨"></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                            <p><input id="vehicle_length" class="inps" type="text" placeholder="车辆长度/米"></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                            <p><input id="owner_name" class="inps" type="text" placeholder="车主姓名"></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                            <p><input id="vehicle_model" class="inps" type="text" placeholder="车辆型号"></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                            <p><input id="vin_id" class="inps" type="text" placeholder="车辆识别码/或后六位"></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                            <p><input id="engine_id" class="inps" type="text" placeholder="发动机号"></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                            <p>注册日期<input id="register_date" class="inps pull-right inp_widh" type="text" readonly="" placeholder="选择时间" data-lcalendar="2016-05-11,2016-05-11" /></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                            <p>发证日期<input id="issued_date" class="inps pull-right inp_widh" type="text" readonly="" placeholder="选择时间" data-lcalendar="2016-05-11,2016-05-11" /></p>
                    </div>
                    <!-- <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian div_spn div_spn_inp">
                        <p><span class="inp_mag">
                            <input id="city_one" type="text" readonly="" name="input_area" placeholder="景德">
                            <input id="value1" type="hidden"/>
                            </span> 
                            <i></i> 
                            <span class="pull-right">
                            <input id="city_two" type="text" readonly="" name="input_two" placeholder="南昌">
                            <input id="value2" type="hidden"/>
                            </span>
                        </p>
                    </div> -->
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info div_info_btn">
                        <a id="complete" href="javascript:;" class="complete"> <p>完成</p></a>
                        <a href="javascript:;" id="modify" class="modify"> <p>修改</p></a>
                        <a id="delete" class="dele" href="javascript:;"><i class="glyphicon glyphicon-trash"></i></a>
                    </div>
                </div>
            </div>
            <!-- 模态框 -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">有无车辆</h4>
                    </div>
                    <div class="modal-body" >
                        <div style="display: inline-block;width: 50%"><input type="radio" name="rad">有</div>
                        <div style="display: inline-block;width: 48%"><input type="radio" name="rad">无</div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">确认</button>
                    </div>
                </div>
                </div>
            </div>

        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/LCalendar.min.js"></script>
        <script src="/static/js/pickout.min.js"></script>
        <script src="/static/js/jquery-weui.min.js"></script>
        <!-- <script src="/static/js/LAreaData1.js"></script>
        <script src="/static/js/LArea.js"></script>  -->
        <script src="/static/js/wexin.js"></script>
        <script src="/wx/js_sdk_init?debug=0&api=chooseImage uploadImage"></script>
        <script>
           pickout.to({
			el:'.state',
			theme: 'clean',
		    });
            $('.pk-input').attr('id','vehicle_type');
            $('.pk-input').addClass('inps');
            $('.txt').append('<input type="text">');
        </script>
        <script>
            var lcalendar = new LCalendar();
            lcalendar.init({
                'trigger': '#register_date', //标签id
                'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
                'minDate': '1900-1-1', //最小日期
                'maxDate': '2022-1-1'
            })
            var localendar2 = new LCalendar();
            localendar2.init({
                'trigger': '#issued_date', //标签id
                'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
                'minDate': '1900-1-1', //最小日期
                'maxDate': '2022-1-1'
            });
        </script>
        <script>
               function img_car($obj){
                wx.chooseImage({
                        count: 1, // 默认9
                        sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                        sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                        success: function (res) {
                        var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                         $obj.attr('src',localIds);
                         wx.uploadImage({
                            localId: localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
                            isShowProgressTips: 1, // 默认为1，显示进度提示
                            success: function (res) {
                                var serverId = res.serverId; // 返回图片的服务器端ID
                                if($obj.attr('id') == 'imgs_car'){
                                    var table_name = "driving_license_image"
                                }
                               var  field_name =  "dl_image" 
                                 //上传图片对应的  id信息
                                var args = {
                                    "server_id":serverId,
                                    "table_name": table_name,
                                    "field_name": field_name,
                                    "db":"mongo_db2" // 库名，固定
                                };
                                var url = "/wx/auto_download/" + table_name;
                                $.post(url, args,function(resp){
                                    let  json = JSON.parse(resp);
                                    let status = json['message'];
                                    if(status == 'success'){
                                        $obj.attr("data-id", json[field_name]);
                                        $obj.attr("data-url", json[field_name+"url"]);
                                    }else{
                                        alert(status);
                                    }
                                })
                            }
                            });
                        }
                    });
               }

               $('.iimg').each(function(){
                   let $this = $(this);
                   $this.click(function(){
                       let  img = $this.find('.imgs');
                       img_car(img);
                   })
               });
               function sumit(class_name){
                   let doms = $(`.${class_name}`);
                   let args = {};
                   let is_null = false;
                   for(let dom of doms){
                       let obj = $(dom);
                       let tag_name = obj[0].tagName.toLowerCase();
                       let  arg_name = obj.attr('id');
                        if(tag_name == 'input'){
                            let val = $.trim(obj.val());
                            if(val){
                                args[arg_name] = val;
                                is_null = true;
                            }
                        }
                        else {
                            if(arg_name == 'imgs_car'){
                                let img_id = obj.attr("data-id");
                                if(img_id){
                                    is_null = true;
                                    args['image_id'] = img_id;
                                    args['image_url'] = obj.attr('data-url');
                                }
                                
                            }
                        }
                   }
                   return is_null? args:null;
               };
            //添加 完成  提交
               $('#complete').on("touchstart",function(){
                   var args = sumit("inps");
                //    var  car = $("input[name='rad']:checked").val();
                //    console.log(Boolean(args));
                   if(args){
                      let url =  '/wx/resume/extend';
                      args['resume_id'] = user.resume_id;
                      args['opt'] = "add_vehicle";
                       $.post(url,args,function(resp){
                           let json = JSON.parse(resp);
                            if(json['message'] == 'success'){
                                alert('保存成功！');
                                location.href = '/wx/html/resume.html';
                            }else{
                                alert('保存失败！');
                            }
                       })
                   } 
                   else{
                       alert('未保存信息！');
                   }
                //    var 
               });
               
            //修改信息
            $('#modify').on('touchstart', function(){
                let args = submit("inp_add");
                if(args){
                    let url_head = location.search; //获取url中含"?"符后的字串
                    let v_id = url_head.substring(6); //履历id
                    args['v_id'] = v_id;
                    args['resume_id'] = user.resume_id;
                    args['opt'] = "update_vehicle";
                    $.post("/wx/resume/extend", args, function(resp){
                        let json = JSON.parse(resp);
                        if(json['message'] == 'success'){
                            alert('修改成功！');
                            location.href = '/wx/html/resume.html';
                        }else{
                            alert('修改失败');
                        }
                    }) 
                }else{
                    alert('未修改信息');
                }
            });
        </script>
        <!-- 微信 提示 删除按钮-->
        <script>
            $("#delete").on("touchstart",function(){
                $.confirm("您确定删除本条信息？",function(){
                    // 删除操作
                    let url_head = location.search; //获取url中含"?"符后的字串
                    let v_id = url_head.substring(6);
                    let args = {};
                    // let work_id = $("#work_id").text();
                    args['resume_id'] = user.resume_id;
                    args['v_id'] = v_id;
                    args["opt"] = "delete_vehicle";
                    $.post("/wx/resume/extend", args, function(resp){
                        let json = JSON.parse(resp);
                        if(json['message'] == 'success'){
                            $.toast("删除成功！");
                            setTimeout(function(){location.href = '/wx/html/resume.html';},1000);
                        }else{
                            alert('删除失败！');
                        }
                    });
                },function(){ 
                    //取消c操作
                })
            })
        </script>        
</body>
</html>