<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>教育经历</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/LCalendar.min.css">
    <link rel="stylesheet" href="/static/css/pickout.min.css">
    <link rel="stylesheet" href="/static/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/css/weui.min.css">
</head>
<style>
        .div_info_btn{
            position: relative;
            bottom: 0;
            margin-bottom: 1em;
        }
        .div_info_btn p{
            margin-top: 20px;
            text-align: center;
            border: 1px solid #ccc;
            line-height: 0;
            border-radius: 6px;
        }
        #times{
            width: 30% !important;
        }
        .time_inp{
            width: 30% !important;
        }
        .p_alert{
        width: 100%;
        /* position: relative; */
        }
        .pk-input{
            line-height: 6em;
            margin-top: 1.7em;
        }
        .pk-arrow {
            margin: 0 auto;
            line-height: 195%;
        }
        .inp_widh{
            width: 30% !important;
            margin-top: 2.1em;
        }
        .dele{
            text-align: center;
            width: 100% !important;
            position: relative;
            display: inline-block;
            height: 3em;
        }
        .dele i{
            text-align: center;
            width: 3em;
            height: 3em;
            color: red;
            line-height: 3em;
            font-size: 1rem;
        }
        .div_info p input {
            width: 76%;
        }
        .div_info p .inp {
            width: 58%;
        }
           /* 微信提示 */
    .weui-toast{
        margin-left: 0 !important;
    }
    .toolbar .toolbar-inner{
            background: #e0e0e0;
        }
    </style>
    <script src="/static/js/jquery.js"></script>
    <script>
            $(function(){
                       let url_head = location.search; //获取url中含"?"符后的字串
                        let work_id = url_head.substring(6);
                        if( work_id == "" ){
                            $(".dele").hide();
                            $(".modify").hide();
                         }else{
                            $(".submit").hide();
                         };
                })
    </script>
<body>
        <div class="container-fluid">
            <div class="row row_padd">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <a href="/wx/html/resume_detail.html">
                                <button type="button" class="btn btn-primary btn-sm"> <i class="glyphicon glyphicon-menu-left  jiantou">返回</i> </button>
                            </a>
                        </div>    
                </div>
                <div class="row">
                        <span id="resume_id" style="display:none">{{ user.resume_id }}</span>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                        <p><span>培训教育机构名称:</span><input id="school_name" class="inp inp_add" value="{{ education.school_name }}" class="inp_add" type="text"></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                        <p>
                            开始时间
                            <i class="glyphicon glyphicon-menu-right pull-right"></i>
                            <input class="inp_add pull-right time_inp" id="begin" value="{{ education.begin }}"  type="text" readonly="" placeholder="日期选择" data-lcalendar="2016-05-11,2016-05-11" />
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                            <p>结束时间
                                <i class="glyphicon glyphicon-menu-right pull-right"></i>
                                <input class="pull-right time_inp inp_add" value="{{ education.end }}" id="end" type="text" readonly="" placeholder="日期选择" data-lcalendar="2016-05-11,2016-05-11" />
                            </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info xian">
                        <p><span>主修专业:</span><input id="major" class="inp_add" value = "{{ education.major }}" type="text"></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info div_info_btn">
                        <a href="javascript:;" id="submit" class="submit"> <p>完成</p></a>
                        <a href="javascript:;" id="modify" class="modify"> <p>修改</p></a>
                        <a id="delete" class="dele" href="javascript:;"><i class="glyphicon glyphicon-trash"></i></a>
                    </div>
                </div>
            </div>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/LCalendar.min.js"></script>
        <script src="/static/js/pickout.min.js"></script>
        <script src="/static/js/jquery-weui.min.js"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
        <script src="/wx/js_sdk_init?debug=0&api=chooseImage uploadImage"></script>
        <script src="/static/js/modal.js"></script>
        <script>
            pickout.to({
                el:'.state',
                theme: 'clean',
            });
//             var lcalendar = new LCalendar();
//             lcalendar.init({
//                 'trigger': '#begin', //标签id
//                 'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
//                 'minDate': '1900-1-1', //最小日期
//                 'maxDate': new Date().getFullYear()+"-"+(new Date().getMonth() + 1) + "-" + new Date().getDate() //最大日期
//             });
//             var lcalendar2 = new LCalendar();
//             lcalendar2.init({
//                 'trigger': '#end', //标签id
//                 'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
//                 'minDate': '1900-1-1', //最小日期
//                 'maxDate': new Date().getFullYear()+"-"+(new Date().getMonth() + 1) + "-" + new Date().getDate() //最大日期
//             });
            $("#begin").calendar({
                maxDate:new Date().getFullYear()+"-"+(new Date().getMonth() + 1) + "-" + new Date().getDate()
            });
            $("#end").calendar({
                maxDate:new Date().getFullYear()+"-"+(new Date().getMonth() + 1) + "-" + new Date().getDate()
            });
        </script>
        <script>
            //删除按钮 显示隐藏 判断
            let url_head = location.search; //获取url中含"?"符后的字串
            let work_id = url_head.substring(6);
            if( work_id == "" ){
                $(".dele").hide();
             }else{
                $(".submit").hide();
             };
        </script>
        <script>
             function submit(class_name){
                let doms = $(`.${class_name}`);
                let args = {};
                let is_null = false;
                for(let dom of doms){
                    let obj = $(dom);
                    let tag_name = obj[0].tagName.toLowerCase();
                    let arg_name = obj.attr('id');
                    if(tag_name == 'input'){
                        let val = $.trim(obj.val());
                        if(val){
                            args[arg_name] =val;
                            is_null = true;
                             //  微信时间格式转换
                            if( arg_name == 'begin'|| arg_name == 'end' ){
                                var arg_name_time = val.replace(/\//g ,"-");
                                args[arg_name] = arg_name_time; //存入数组替换之前的
                            }
                        };
                    };
                };
                return is_null? args:null;
            };
            //添加教育经历 信息
            $('#submit').on('touchstart', function(){
                let args = submit("inp_add");
                if(args){
                    var resume_id = $("#resume_id").text();
                    args['resume_id'] = resume_id;
                    args['opt'] = "add_education";
                    $.post("/wx/resume/extend", args, function(resp){
                        let json = JSON.parse(resp);
                        if(json['message'] == 'success'){
                            $.toast("保存成功！");
                            $.confirm("本条信息添加完成，是否继续添加？",function(){
                                // 继续添加操作
                                 setTimeout(function(){location.href = '/wx/html/educational_experience.html';},1000);
                            },function(){ 
                                //取消c操作
                                location.href = '/wx/html/resume_detail.html'
                            }); 
                        }else{
                            alert('保存失败');
                        }
                    }) 
                }else{
                    $.alert('提交信息失败！');
                }
            });
            
            //  修改
            $('#modify').on('touchstart', function(){
                let args = submit("inp_add");
                if(args){
                    var resume_id = $("#resume_id").text();
                    let url_head = location.search; //获取url中含"?"符后的字串
                    let e_id = url_head.substring(6); //履历id
                    args['e_id'] = e_id;
                    args['resume_id'] = resume_id;
                    args['opt'] = "update_education";
                    $.post("/wx/resume/extend", args, function(resp){
                        let json = JSON.parse(resp);
                        if(json['message'] == 'success'){
                            $.toast("修改成功！");
                            location.href = '/wx/html/resume_detail.html';
                        }else{
                            $.alert('修改失败');
                        }
                    }) 
                }else{
                    $.alert('未修改信息');
                }
            });
        </script>
        <!-- 微信 提示 -->
        <script>
            $("#delete").on("touchstart",function(){
                $.confirm("您确定删除本条信息？",function(){
                    // 删除操作
                    let url_head = location.search; //获取url中含"?"符后的字串
                    let e_id = url_head.substring(6);
                    let args = {};
                    var resume_id = $("#resume_id").text();
                    // let work_id = $("#work_id").text();
                    args['resume_id'] = resume_id;
                    args['e_id'] = e_id;
                    args["opt"] = "delete_education";
                    $.post("/wx/resume/extend", args, function(resp){
                        let json = JSON.parse(resp);
                        if(json['message'] == 'success'){
                            $.toast("删除成功！");
                            setTimeout(function(){location.href = '/wx/html/resume_detail.html';},1000);
                        }else{
                            $.alert('删除失败！');
                        }
                    })
                },function(){ 
                    //取消c操作
                })
            })
        </script>
</body>
</html>