{% extends "template.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/my_resource.css?v={{ version }}">
    <script>user = {{ user | safe }};</script>
{% endblock %}
{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="top col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button id="return_btn" class="btn-md btn-primary btn return_btn">返回</button><h3>{{ y }}年{{ m }}月</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search_group">
                <span class="left_icon">
                    <i id="refresh_search" class="fa fa-refresh"></i>
                </span>
                <input type="text" id="search_keyword" class="form-control" placeholder="输入昵称">
                <span class="right_icon">
                    <i id="submit_search" class="fa fa-search"></i>
                </span>
            </div>
        </div>
    <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 temp">

            </div>
        </div>
        <div class="row">
            <div class="middle col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="user_list">
                    {% for x in data %}
                        <div data-nick-name="{{ x.nick_name }}" class="line">
                            <div class="cell">
                                <img src="{{ x.head_img_url }}">
                            </div>
                            <div class="cell">
                                {{ x.nick_name }}
                            </div>
                            <div class="cell">
                                {{ x.relate_time | str_time }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="bottom col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page_area">
                    <!--改进版的页码区域,本例适应移动端-->
                    {% if pages[0] and pages[0] > 1 %}
                    <!--如果当前页码组中最小一个等于1,那就是不需要前一页这个标签-->
                        <a href="?u_id={{ user._id }}&index={{ page_index - 1 }}&y={{ y }}&m={{ m }}" class="prev">上一页</a>
                    {% endif %}
                    {% for page in pages %}
                        <a href="?u_id={{ user._id }}&index={{ page }}&y={{ y }}&m={{ m }}" class="num {{ "active" if page == page_index else "" }}">{{ page }}</a>

                    {% endfor %}
                    {% if pages[-1] and pages[-1] < total_page %}
                    <!--如果当前页码组中最大的一个大于等于最大页码,那就是不需要后一页这个标签-->
                        <a href="?u_id={{ user._id }}&index={{ page_index + 1 }}&y={{ y }}&m={{ m }}"  class="next">下一页</a>
                    {% endif %}
                    <span>{{ "共计" + total_page | string + "页" if total_page > 1 else "" }}</span>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/my_resource.js?v={{ version }}"></script>
{% endblock %}