<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分享微信示范</title>
    <script src="/static/js/jquery.js"></script>
</head>
<style>
    button, a{
        width: 200px;
        height: 50px;
        font-size:36px;
    }
</style>
<body>
    <button id="share_wx">点击我</button>
    <a href="weixin://dl/business/?ticket=3574667012">点击我2</a>
    <a href="weixin://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzU3NDY2NzAxMg==&scene=110#wechat_redirect">点击我3</a>
</body>
<script>
$(function(){
    $("#share_wx").click(function(){
        location.href = "https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzU3NDY2NzAxMg==&scene=110#wechat_redirect";
    });


//
});
</script>
</html>