<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上传身份证</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<style>
        *{
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        p{
            margin: 0;
        }
        .div_info p{
            line-height: 4em;
        }
        .xian{
            border-bottom:1px solid #ccc; 
        }
        .text_cen p{
            text-align: center;
        }
        .div_info p input{
            outline: none;
            border: none;
            height: 100%;
            width: 100%;
        }
        .div_info a{
            width: 45px;
        }
        .div_info_btn{
            margin-bottom: 2em;
        }
        .div_info_btn p{
            margin-top: 20px;
            text-align: center;
            border: 1px solid #ccc;
            line-height: 2.5em;
            border-radius: 6px;
            background: #417FFF;
            color: #Fff;
        }
        .div_info_p{
            text-align: center;
        }
        .div_info p img{
            width: 88%;
            height: 16em;
            pointer-events: none;
        }
        .p_mag {
            margin-top: 1em;
        }
    </style>
<body>
        <div class="container-fluid">
                <span style="display: none" id="resume_id">{{ user.resume_id }}</span>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info div_info_p ">
                        <p class="p_mag"><img class="imgs" id="id_image_face" src="/static/images/poto.png" alt=""></p>
                        <p>请上传身份证正面照</p>
                    </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info div_info_p">
                        <p class="p_mag"><img class="imgs" id="id_image_back" src="/static/images/poto.png" alt=""></p>
                        <p>请上传身份证反面照</p>
                </div>
                    <div id="res"></div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info div_info_btn">
                        <a id="submit" href="javascript:;"><p>完成</p></a>
                </div>
                </div>
            </div>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script src="/wx/js_sdk_init?debug=0&api=chooseImage uploadImage"></script>
        <!--<script src="/static/js/wx_custom.js"></script>-->
    <script>
    $(function(){
        /*
        * 整体逻辑如下：
        * 1. 上传图片到然后，得到微信服务器返回的serverId                       chose_and_upload 函数
        * 2. 把serverId发给自身服务器，通知自身服务器去微信服务器下载临时素材。     chose_and_upload 函数
        * 3. 等待自身服务器返回的图片id和url                                   chose_and_upload 函数
        * 4. 把字符串格式的id和url作为参数提交到简历基础/扩展接口                 $("#submit").click() 提交事件
        * */

        var chose_and_upload = function($dom){
            /*
            * 选择图片并上传：
            * 1. 打开摄像头或者本地图片并选择。
            * 2. 上传到微信服务器
            * 3. 发送serverId给专用的api
            * 4. 专用api根据serverId去下载临时素材
            * 5. api下载完毕后回传_id和url。
            * 6. 保存_id和url等待提交
            * */
            wx.chooseImage({
                count: 1, // 默认9
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                    var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                    $dom.attr('src',localIds);
                    // 上传图片到微信服务器
                    wx.uploadImage({
                        localId: localIds[0],  // 微信官方文档有误，请照此填写
                        isShowProgressTips: 1,
                        success: function(res){
                            // alert("localIds: " + res.serverId);

                            var id = res.serverId;
                            // alert("server_id: "+ id);

                            // 请求api接口去下载临时素材
                            var table_name = "id_image";  // 上传身份证对应的表名
                            var args = {
                                "server_id": id,    // server_id 下载素材用
                                "table_name": table_name,
                                "db": "mongo_db2"            // 库名，固定
                            }
                            var url = "/wx/auto_download/" + table_name;
                            $.post(url, args, function(resp){
                                var json = JSON.parse(resp);
                                var status = json['message'];
                                console.log(json);
                                if(status == "success"){
                                    // 成功，保存返回值
                                    $dom.attr("data-id", json[table_name]);
                                    $dom.attr("data-url", json[table_name + "_url"]);
                                }
                                else{
                                    alert(status);
                                }
                            });

                        }
                    });

                }
            });
        };

        // 给上传按钮加上事件
        $(".p_mag").each(function(){
            var $this = $(this);
            $this.click(function(){
                chose_and_upload($this.find(".imgs"));
            });
        });

        // 提交事件
        $("#submit").click(function(){
            var $id_image_face = $("#id_image_face");
            var $id_image_back = $("#id_image_back");
            var args = {};
            var need_submit = false;
            var id_image_face = $id_image_face.attr("data-id");
            if(id_image_face){
                need_submit = true;
                args['id_image_face'] = id_image_face;
                args['id_image_face_url'] = $id_image_face.attr("data-url");
            }
            var id_image_back = $id_image_back.attr("data-id");
            if(id_image_back){
                need_submit = true;
                args['id_image_face'] = id_image_back;
                args['id_image_back_url'] = $id_image_back.attr("data-url");
            }
            if(need_submit){
                args['_id'] = $("#resume_id").text();  // 简历id，这里是修改简历
                var url = "/wx/resume/opt";
                $.post(url, args, function(resp){
                    var json = JSON.parse(resp);
                    var status = json['message'];
                    console.log(json);
                    if(status == "success"){
                        // 成功，下一步
                        alert("上传成功");
                        location.href = "/wx/html/resume.html";
                    }
                    else{
                        alert(status);
                    }
                });
            }
            else{
                location.href = "/wx/html/resume.html";
            }
        });

        // end!
    });
    </script>
</body>
</html>