{% extends "standard_page.html" %}

{% block css %}
   <link rel="stylesheet" href="/static/css/document_list.css">
{% endblock %}

{% block show_area %}

    <div class="right_top">
        <div class="input-group">
            <input type="text" id="top_search_input"  class="form-control" placeholder="请输入搜索关键字...">
            <span class="input-group-btn">
                <button id="top_search_btn" class="btn btn-default" type="button">Go!</button>
              </span>
        </div>
    </div>

    <div class="role_list_outer">
        <div class="series_div">
        <button class="btn btn-default btn-primary btn-xs series-btn">全部</button>
            {% for series in series_list  %}
                <button class="btn btn-default btn-xs series-btn">{{ series }}</button>
            {% endfor %}
        </div>
        <div class="role_list_inner">
            <div class="insert_div">
                <div class="left">
                    <i class="fa fa-list-ul"></i>
                    <span id="clear_condition">所有信息</span>
                </div>


                <div class="right">
                    <label>请选择上传的文档类别</label>
                    <div class="my_input dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="select_series" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span data-id="" class="current_value">内部文档</span>
                            <span class="caret"></span>
                        </button>
                        <ul data-type="package_ratio" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <li class="selected_series">内部文档</li>
                                <li class="selected_series">学习资料</li>
                                <li class="selected_series">标准规范</li>
                        </ul>
                    </div>

                    <input type="file" name="file" style="display: none" id="upload_file">
                    <span class="file_path"></span>
                    <button id="add_md" type="button" class="pop_modal btn btn-default btn-sm btn-primary">
                        上传文档
                    </button>
                </div>
            </div>
            <div class="table_outer">
                <table id="doc_list" class="table table-hover">
                    <tr class="info">
                        <th class="select"></th>
                        <th>文档名</th>
                        <th>文档类别</th>
                        <th>文档 格式</th>
                        <th>文档大小</th>
                        <th>上传时间</th>
                        <th>操作</th>
                    </tr>
                    {% for doc in data %}
                        <tr id="{{ doc.id }}">
                            <td  class="select">
                                <input data-id="{{ doc.id }}" type="checkbox" >
                            </td>
                            <td class="file_name">{{ doc.file_name }}</td>
                            <td class="file_series">{{ doc.file_series }}</td>
                            <td class="file_type">{{ doc.file_type.split("/")[-1] }}</td>
                            <td class="file_size">{{ doc.file_size }}</td>
                            <td class="create_time">{{ doc.create_time }}</td>
                            <td class="operation">
                                {% if doc.file_type == "text/markdown" %}
                                    <button data-id="{{ doc.id }}" class="pop_modal btn btn-xs btn-default btn-primary view_doc">预览</button>
                                {% else %}
                                    <button data-id="{{ doc.id }}" class="pop_modal btn btn-xs btn-default btn-primary view_pdf">预览</button>
                                {% endif %}
                                {% if cur_user.id == doc.user_id %}
                                    <button data-name="{{ doc.file_name }}" data-id="{{ doc.id }}" class="pop_modal btn btn-xs btn-default btn-primary delete_doc">删除</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="bottom_div">
                <div class="left">
                    <!--
                    <input type="checkbox" id="check_all">
                    <span>全选</span>
                    <button id="delete_role" type="button" class="btn btn-sm btn-default btn-primary">
                        删除
                    </button>
                    -->
                </div>
                <div class="right">
                    <i id="prev_page" class="fa fa-caret-left"></i>
                    <span id="page_count">{{ current_page }}/{{ total_page }}</span>
                    <i id="next_page" class="fa fa-caret-right"></i>
                    <input type="text" id="page_num">
                    <button id="jump_btn" type="button" class="btn btn-sm btn-default btn-primary">
                        Go
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--弹框部分-->
    <div id="doc_modal" class="modal_outer">
        <div class="modal_inner">
            <div class="modal_top">
                <h3 data-current-id="" id="modal_title">
                    添加角色
                </h3>
                <i class="close_modal fa fa-times fa-3x" aria-hidden="true"></i>
            </div>

            <div id="doc_html" class="modal_mid">

            </div>
        </div>

    </div>

    <!--弹框部分-->
    <div id="pdf_modal" class="modal_outer">
        <div class="modal_inner">
            <div class="modal_top">
                <h3 data-current-id="" id="pdf_modal_title">
                    添加角色
                </h3>
                <i class="close_modal fa fa-times fa-3x" aria-hidden="true"></i>
            </div>

            <div id="pdf_html" class="modal_mid">

            </div>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script src="/static/js/showdown.min.js"></script>
    <!--显示pdf 的插件-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js"></script>
    <script src="/static/js/document_list.js"></script>
{% endblock %}