<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class='chatlist ss' >
    <span style='display:none'>匿名ID:</span>
    <span style='display:none' class='guest_id'>0</span>
    <span ><img src='../static/images/tong.png'/></span>
    <span class='ssbt'>用户昵称:</span>
    <span class='ssnr ssbt_nr1'>4</span>
    <span class='ssbt'> 内容:</span>
    <span class='ssnr ssbt_nr2'>0</span>
    <span class='ssbt'> 时间:</span>
    <span class='dialog_time ssnr'>ban</span>
    <span class='ssbt'> 状态:</span>
    <button class='change_status'>放行</button>
</div>
</body>
<script>
    var a=["sdscdsfvdfv453434121234343",2,3];
    alert(a.indexOf("sdscdsfvdfv453434121234343")!=-1);

</script>
</html>