<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>苏秦网络</title>
    <link rel="icon" href="{{ url_for('static', filename='../static/images/favicon.ico') }}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/public.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    {% block global_variable %}
    <script>
        allow_view = {{ allow_view | safe }};
        allow_edit = {{ allow_edit | safe }};  // 允许编辑的类别path
        projects = {{ allow_edit_projects | safe }};     // 允许编辑的项目
        all_projects = {{ nav_projects | safe }};   // 所有的项目列表
        allow_edit_pids = {{ allow_edit_pids| safe }};  // 允许编辑的项目的id的数组,用于判断权限
        all_modules = {{ nav_modules | safe }};  // 所有的模块列表
        allow_edit_modules = {{ allow_edit_modules | safe }};  // 允许编辑的模块,key是project的id
        allow_edit_mids = {{ allow_edit_mids | safe }}; // 允许编辑的模块的id的数组,用于判断权限
        module_mission_dict = {{ module_mission_dict | safe }};  // 模块_idkey, mission_list的字典
        tree_dict = {{ tree_dict | safe }};                     // 产品架构图字典
        task_dict = {{ task_dict | safe }};     // 所有任务的字典,用于向悬浮框传值
    </script>
    {% endblock %}
</head>
<body>
    <div class="content">
        <div class="dv-left">
            <div class="title">
                <span class="spn active">任务</span>
                <span class="spn">项目</span>
                <span class="spn">模块</span>
                <span class="spn">功能</span>
            </div>
            <div id="tbyone">
                <div class="list"  id="task_list">
                    <i class="xian"></i>
                    <table style="border-collapse:separate; border-spacing:0px 24px;">
                        <thead>
                            <tr>
                                <th>任务名称</th>
                                <th>工期</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                            </tr>

                        </thead>
                       </table>
                        <div class="gundt">


                    <table style="border-collapse:separate; border-spacing:0px 24px;">
                    	<tbody class="tby"  >
                            {% for t in tasks %}
                                <tr class="p_nav">
                                    <td data-id="{{ t['_id'] }}" onclick="view_item(this)"> <span class="spn"></span>{{ t['name'] }}</td>
                                    <td>{{ t['date_range'] }}天</td>
                                    <td>{{ t['begin_date_str'] }}</td>
                                    <td>{{ t['end_date_str'] }}<span class="spjian"><img src="../static/images/icon_er.svg"/></span></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    </div>
                </div>
            </div>
            <div class="tbytwo" id="project_list">
                <div class="list" id="tbytwos">
                    <i class="xian"></i>
                    <table style="border-collapse:separate; border-spacing:0px 24px;">
                        <thead>
                        <tr>
                            <th>项目名称</th>
                            <th>工期</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="gundt">
                        <table id="p_navs" style="border-collapse:separate; border-spacing:0px 24px;">
                            <tbody class="tby" >
                            {% for p in nav_projects %}
                                <tr class="p_nav">
                                    <td data-id="{{ p['_id'] }}" onclick="view_item(this)"> <span class="spn"></span>{{ p['name'] }}</td>
                                    <td>{{ p['date_range'] }}天</td>
                                    <td>{{ p['begin_date'] }}</td>
                                    <td>{{ p['end_date'] }}<span class="spjian"><img src="../static/images/icon_er.svg"/></span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tbythree" id="module_list">
                <div class="list" id="tbythrees">
                    <i class="xian"></i>
                    <table style="border-collapse:separate; border-spacing:0px 24px;">
                        <thead>
                        <tr>
                            <th>模块名称</th>
                            <th>工期</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="gundt">
                        <table id="p_navs" style="border-collapse:separate; border-spacing:0px 24px;">
                            <tbody class="tby" >
                            {% for m in nav_modules %}
                                <tr class="p_nav">
                                    <td data-id="{{ m['_id'] }}" onclick="view_item(this)"> <span class="spn"></span>{{ m['name'] }}</td>
                                    <td>{{ m['date_range'] }}天</td>
                                    <td>{{ m['begin_date'] }}</td>
                                    <td>{{ m['end_date'] }}<span class="spjian"><img src="../static/images/icon_er.svg"/></span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tbyfour" id="mission_list">
                <div class="list" id="tbyfours">
                    <i class="xian"></i>
                    <table style="border-collapse:separate; border-spacing:0px 24px;">
                        <thead>
                        <tr>
                            <th>功能名称</th>
                            <th>工期</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="gundt">
                        <table id="p_navs" style="border-collapse:separate; border-spacing:0px 24px;">
                            <tbody class="tby" >
                            {% for m in nav_missions %}
                                <tr class="p_nav">
                                    <td data-id="{{ m['_id'] }}" onclick="view_item(this)"><span class="spn"></span>{{ m['name'] }}</td>
                                    <td>{{ m['date_range'] }}天</td>
                                    <td>{{ m['begin_date'] }}</td>
                                    <td>{{ m['end_date'] }}<span class="spjian"><img src="../static/images/icon_er.svg"/></span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="dibu">
                <span class="tuichu"><a href="../templates/login.html"><img src="../static/images/icon_er.svg" alt=""></a></span>
                <span class="tianjia" id="add_item" data-toggle="modal" data-target=".bs-example-modal-lg">添加项目</span>
                <span></span>
            </div>
        </div>
        <!-- 右边内容 -->
        <div class="dv-right">
            <div class="top">
                <ul>
                    <li class="xian"><a href="/home_all/view">首页</a></li>
                    <!--目前用不上,注销
                    {% for category in categories %}
                        <li><a href="/home_{{ category['path'] }}/view">{{ category['name'] }}</a></li>
                    {% endfor %}
                    -->
                <li><a  href="/online_report">在线情况</a></li>
                <li><a  href="/flow_chart">数据流程</a></li>
                </ul>
                <div class="user_info">
                    <span id="user_name">{{ user_name }}</span>
                    <span id="setting">修改密码</span>
                    <span id="login_out">注销</span>
                </div>
            <div class="change_show">
                <span>甘特图</span>
                <span id="show_chart">架构图</span>
            </div>
                <p class="time-title" id="bar_title">
                    <a title="{{ prev_year }}年{{ prev_month }}月"  href="/home_all/view?year={{ prev_year }}&month={{ prev_month }}">
                        <span class="glyphicon  glyphileft  glyphicon-chevron-left"></span>
                    </a>
                    {{ current_month }}

                    <a title="{{ next_year }}年{{ next_month }}月" href="/home_all/view?year={{ next_year }}&month={{ next_month }}">
                        <span class="glyphicon glyphiright glyphicon-chevron-right"></span>
                    </a>
                </p>
                <div class="gundong" id="my_bar">
                    <div class="coll">
                        <div class="tab">
                            <table>
                                <thead>
                                    <tr>
                                        {% for day in days %}
                                            <th><span>{{ day }}</span></th>
                                        {% endfor %}
                                    </tr>
                                <tr>
                                        {% for week in weeks %}
                                            <th class="{{ "rest" if week == "六" or week == "日" else "work" }}"><span>{{ week }}</span></th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody id="jindu">
                                    {% for tr in trs %}
                                        <tr>
                                             {% for td in tr %}
                                                 {% if td == "" %}
                                                 <td class="no_plan"><span></span></td>
                                                 {% else %}
                                                     <td data-id="{{ td['_id'] }}" class="my_plan {{ td.raw_status }}_status" colspan="{{ td['colspan'] }}">
                                                         <span data-id="{{ td['_id'] }}"  class="hidden_overflow task_td">{{ td['name'] }}</span>
                                                     </td>
                                                 {% endif %}
                                             {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <p class="time-title" id="chart_title">产品架构图</p>
                <div class="gundong" id="my_chart">
                    <!--图表区域-->
                </div>

            </div>
        </div>
    </div>


    <!-- 模态框 添加任务  -->

    <div id="tinjone">
        <div class="modal fade bs-example-modal-lg tasks add_task_modal" id="tinj"   tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg"  role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body" style="padding:0 50px;padding-top: 24px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>任务名称</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="inp item_class"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>时间区间</p>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                    <div class='col-md-3'>
                                            <div class="form-group">
                                                <div class='input-group date datetimepicker1' id='datetimepicker1'>
                                                    <input type='text' class="form-control begin_date" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-cog"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-md-3'>
                                            <div class="form-group">
                                                <div class='input-group date datetimepicker2' id='datetimepicker2'>
                                                    <input type='text' class="form-control end_date" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-cog"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>角色选择</p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 jiaose select_category_div">
                                    {% for category in categories if category['path'] in allow_edit %}
                                        <span class="select_category" data-id="{{ category['_id'] }}" data-path="{{ category['path'] }}" data-selected="">{{ category['name'] }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="select_project_title">项目选择</p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 jiaose select_project_div">
{#                                    <input type="radio" name="mokgs" value="c">xx项目#}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="select_module_title">模块选择</p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 jiaose select_module_div">
{#                                    <input type="radio" name="mokgs" value="c">xx模块#}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="select_mission_title">对应功能</p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 jiaose select_mission_div">
{#                                    <input type="radio" name="mokgs" value="c">xx模块#}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 bjtitle">
                                    <span>正文</span>
                                    <span> <img src="../static/images/icon_fujian.svg" alt=""> 添加附件</span>
                                    <span> <img src="../static/images/icon_tupian.svg" alt=""> 图片</span>
                                    <span> <img src="../static/images/icon_fh.svg" alt=""> 文档</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 box">
                                        <textarea class="texta create_desc" name="" id="" cols="" rows=""></textarea>

                                    <div class="anniu">
                                        <a id="add_task" href="javascript:;"><span> 发布</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                </div>
            </div>
    </div>
<!-- 模态框 添加项目/模块 -->
<div id="xamone">
        <div class="modal fade bs-example-modal-lg tasks add_project_modal" id="xam"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg"  role="document">
                  <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body" style="padding:0 50px;padding-top: 24px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="nav nav-pills my_nav">
                                      <li role="presentation" class="active"><a href="javascript:;">添加项目</a></li>
                                      <li role="presentation"><a href="javascript:;">添加模块</a></li>
                                      <li role="presentation"><a href="javascript:;">添加功能</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="modal_title">名称</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="inp item_class"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>时间区间</p>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                    <div class='col-md-3'>
                                            <div class="form-group">
                                                <div class='input-group date datetimepicker1' id='datetimepicker1'>
                                                    <input type='text' class="form-control begin_date" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-md-3'>
                                            <div class="form-group">
                                                <div class='input-group date datetimepicker2' id='datetimepicker2'>
                                                    <input type='text' class="form-control end_date" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>角色选择</p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 jiaose select_category_div">
                                    {% for category in categories if category['path'] in allow_edit  %}
                                        <span class= "select_category" data-id="{{ category['_id'] }}" data-path="{{ category['path'] }}" data-selected="">{{ category['name'] }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="select_project_title">项目选择</p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 jiaose select_project_div">
{#                                    <input type="radio" name="mokgs" value="c">xx项目#}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="select_module_title">模块选择</p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 jiaose select_module_div">
{#                                    <input type="radio" name="mokgs" value="c">xx模块#}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 bjtitle">
                                    <span>正文</span>
                                    <span> <img src="../static/images/icon_fujian.svg" alt=""> 添加附件</span>
                                    <span> <img src="../static/images/icon_tupian.svg" alt=""> 图片</span>
                                    <span> <img src="../static/images/icon_fh.svg" alt=""> 文档</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 box">
                                        <textarea class="texta create_desc" name="" id="" cols="" rows=""></textarea>

                                    <div class="anniu">
                                        <a id="add_project_or_module" href="javascript:;"><span> 发布</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                  </div>
            </div>
         </div>
</div>
<!--通用的查看模态框-->
<button type="button" id="launch_view_modal" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#view_modal">
  Launch view_modal
</button>
<div class="modal fade" tabindex="-1" id="view_modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
            <div class="my_item">
                <!--查看的记录的内容-->
            </div>
      </div>
      <div class="modal-footer only_read">
        <button type="button" class="btn btn-primary center-block" data-dismiss="modal">关闭</button>
      </div>
      <div class="modal-footer can_edit">
          <div class="center-block">
            <button type="button" id="delete_submit" class="btn btn-default" data-dismiss="modal">删除</button>
            <button type="button" id="edit_submit" class="btn btn-primary">修改</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


<!--  模态框   任务列表详情查看 -->
<div id="popupone">
        <div class="model-custom model-customs" id="popupones">
                <div class="modal-content modal-content-custom">
                        <div class="modal-header header">
                                <button onclick="btn()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="col-md-12">
                                    <p> <span>任务名称</span> 开发工作计划</p>
                                    <p><span>开始时间</span> 2018-4-10</p>
                                    <p><span>结束时间</span> 2018-4-15</p>
                                    <p><span>任务期限</span> 5天</p>
                                    <p><span>任务角色</span> 开发</p>
                                </div>
                            </div>
                        <div class="modal-body" style="padding:0 50px;padding-top: 24px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <p>[本周完成工作内容]</p>
                                        <p>1,配合违章查询的业务修改</p>
                                        <P>2,解决Android7+以上版本更新失败的问题</P>
                                        <P>3,解决驾驶证输入页的错误提示</P>
                                        <P>4,在主页增加网络状态提示</P>
                                        <P>5,分离未处理的违章记录</P>
                                        <p>6,调研图片点击全屏预览的技术实现</p>
                                        <p>[本周发布的版本]</p>
                                        <p>v1.2.13</p>
                                        <p>Change Log:</p>
                                        <p>1,解决Android7+以上版本更新失败的问题</p>
                                        <p>2,增加网络状态提示</p>
                                        <p>3,修正一些小的错误，犯错的程序猿已经祭天 </p>
                                        <p>[下周计划完成工作内容]</p>
                                        <p>1,根据需求调整开发计划;2,其他计划外开发;=========</p>
                                        <p></p>
                                        <p></p>
                                        <p></p>
                                    </div>

                                    <div class="anniu">
                                    <span class="xiug"onclick="xiugai()" >修改</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>


                <!-- 修改页 -->
                <div class="modal-content modal-modifys">
                        <div class="modal-header">
                                <button onclick="btn()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body" style="padding:0 50px;padding-top: 24px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>任务名称</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="inp" value="开发工作计划"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>时间区间</p>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                    <div class='col-md-3'>
                                            <div class="form-group">
                                                <div class='input-group date datetimepicker1' id='datetimepicker1'>
                                                    <input type='text' class="form-control" value="2018-4-10"/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-md-3'>
                                            <div class="form-group">
                                                <div class='input-group date datetimepicker2' id='datetimepicker2'>
                                                    <input type='text' class="form-control" value="2018-4-15"/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>角色选择</p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 jiaose">
                                    <span>开发</span>
                                    <span>安卓</span>
                                    <span>UI</span>
                                    <span>前端</span>
                                </div>
                                <div class="col-md-12 mokuai">
                                    <p>项目</p>
                                    <p class="xm1">
                                        <input type="radio" name="xm">p1
                                        <input type="radio" name="xm">p2
                                    </p>
                                </div>
                                <div class="col-md-12 mks">
                                        <p>模块</p>
                                        <p class="mokmd">
                                            <select name="mokuai" id="">
                                                <option value="1">m1</option>
                                                <option value="2">m2</option>
                                                <option value="3">m3</option>
                                            </select>
                                            <span><input type="text"></span>
                                        </p>
                                        <div class="anniu">
                                                <span id="baoc" onclick="baocun()">保存</span>
                                            </div>
                                </div>
                            </div>


                            <!-- <div class="row">
                                <div class="col-md-12 bjtitle">
                                    <span>正文</span>
                                    <span> <img src="../images/icon_fujian.svg" alt=""> 添加附件</span>
                                    <span> <img src="../images/icon_tupian.svg" alt=""> 图片</span>
                                    <span> <img src="../images/icon_fh.svg" alt=""> 文档</span>
                                </div>
                            </div> -->
                            <!-- <div class="row">
                                <div class="col-md-12">
                                        <div class="box">
                                                <p>[本周完成工作内容]</p>
                                                <p>1,配合违章查询的业务修改</p>
                                                <P>2,解决Android7+以上版本更新失败的问题</P>
                                                <P>3,解决驾驶证输入页的错误提示</P>
                                                <P>4,在主页增加网络状态提示</P>
                                                <P>5,分离未处理的违章记录</P>
                                                <p>6,调研图片点击全屏预览的技术实现</p>
                                                <p>[本周发布的版本]</p>
                                                <p>v1.2.13</p>
                                                <p>Change Log:</p>
                                                <p>1,解决Android7+以上版本更新失败的问题</p>
                                                <p>2,增加网络状态提示</p>
                                                <p>3,修正一些小的错误，犯错的程序猿已经祭天 </p>
                                                <p>[下周计划完成工作内容]</p>
                                                <p>1,根据需求调整开发计划;2,其他计划外开发;=========</p>
                                                <p></p>
                                                <p></p>
                                                <p></p>
                                            </div>

                                    <div class="anniu">
                                        <span id="baoc"onclick="baocun()">保存</span>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                </div>
        </div>
</div>
 <!--  模态框  项目列表详情查看 -->
 <div id="popup">
        <div class="model-custom model-customs" id="popups">
                <div class="modal-content modal-content-custom">
                        <div class="modal-header header">
                                <button onclick="btn()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="col-md-12">
                                    <p> <span>项目名称</span> 开发工作计划</p>
                                    <p><span>参与人数</span> 4</p>
                                    <p><span>开始时间</span> 2018-4-10</p>
                                    <p><span>结束时间</span> 2018-4-15</p>
                                    <p><span>项目工期</span> 15</p>
                                    <p><span>项目说明</span>  追求极致</p>
                                </div>
                            </div>
                        <div class="modal-body" style="padding:0 50px;padding-top: 24px;">
                            <div class="row">
                                <div class="col-md-12">
                                        <div>
                                            <span class="spjind">项目进度</span>
                                            <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                    <span class="sr-only">90% Complete (success)</span>
                                                    </div>
                                            </div>
                                            <span class="spjinds">60%</span>
                                        </div>
	                                    <div class="conten">
	                                    	<div class="divs">
	                                    	<p>web前端视觉优化</p>
	                                    	<p>工期15天</p>
	                                    	<p>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                    <span class="sr-only">90% Complete (success)</span>
                                                    </div>
                                            </div>
                                            <span class="num">60%</span>
                                        </p>
	                                    </div>
	                                    <div class="divs">
	                                    	<p>web前端视觉优化</p>
	                                    	<p>工期15天</p>
	                                    	<p> <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                    <span class="sr-only">90% Complete (success)</span>
                                                    </div>
                                            </div>
                                            <span class="num">60%</span>
                                        </p>
	                                    </div>
	                                    <div class="divs">
	                                    	<p>web前端视觉优化</p>
	                                    	<p>工期15天</p>
	                                    	<p> <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                    <span class="sr-only">90% Complete (success)</span>
                                                    </div>
                                            </div>
                                            <span class="num">60%</span>
                                        </p>
	                                    </div>
	                                    <div class="divs">
	                                    	<p>web前端视觉优化</p>
	                                    	<p>工期15天</p>
	                                    	<p> <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                    <span class="sr-only">90% Complete (success)</span>
                                                    </div>
                                            </div><span class="num">60%</span> </p>
	                                    </div>
	                                    </div>

                                    <div class="box">
                                        <p>[本周完成工作内容]</p>
                                        <p>1,配合违章查询的业务修改</p>
                                        <P>2,解决Android7+以上版本更新失败的问题</P>
                                        <P>3,解决驾驶证输入页的错误提示</P>
                                        <P>4,在主页增加网络状态提示</P>
                                        <P>5,分离未处理的违章记录</P>
                                        <p>6,调研图片点击全屏预览的技术实现</p>
                                        <p>[本周发布的版本]</p>
                                        <p>v1.2.13</p>
                                        <p>Change Log:</p>
                                        <p>1,解决Android7+以上版本更新失败的问题</p>
                                        <p>2,增加网络状态提示</p>
                                        <p>3,修正一些小的错误，犯错的程序猿已经祭天 </p>
                                        <p>[下周计划完成工作内容]</p>
                                        <p>1,根据需求调整开发计划;2,其他计划外开发;=========</p>
                                        <p></p>
                                        <p></p>
                                        <p></p>
                                    </div>

                                    <div class="anniu">
                                    <span class="xiug" onclick="xiugai()">修改</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- 修改页 -->
                <div class="modal-content modal-modifys">
                        <div class="modal-header">
                                <button onclick="btn()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body" style="padding:0 50px;padding-top: 24px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>项目名称</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><input type="text" class="inp" value="开发工作计划"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>时间区间</p>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                    <div class='col-md-3'>
                                            <div class="form-group">
                                                <div class='input-group date datetimepicker1' id='datetimepicker1'>
                                                    <input type='text' class="form-control" value="2018-4-10"/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-md-3'>
                                            <div class="form-group">
                                                <div class='input-group date datetimepicker2' id='datetimepicker2'>
                                                    <input type='text' class="form-control" value="2018-4-15"/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>角色选择</p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 jiaose">
                                    <span>开发</span>
                                    <span>安卓</span>
                                    <span>UI</span>
                                    <span>前端</span>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-12">
                                    <p >参与人数</p>
                                    <p class="p">
                                        <input type="radio" name="people" value="1">1人&nbsp;&nbsp;
                                        <input type="radio" name="people" value="2">2人&nbsp;&nbsp;
                                        <input type="radio" name="people" value="3">3人&nbsp;&nbsp;
                                        <input type="radio" name="people" value="4">4人&nbsp;&nbsp;
                                    </p>
                                    <p>选择类别</p>
                                    <p class="p">
                                        <input type="radio" name="category" value="a">项目
                                        <input type="radio" name="category" value="b">模块
                                    </p>
                                    <p>模块归属</p>
                                    <p class="p">
                                        <input type="radio" name="modals" value="c">xx项目
                                        <input type="radio" name="modals" value="e">web页面视觉优化
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 bjtitle">
                                    <span>正文</span>
                                    <span> <img src="../static/images/icon_fujian.svg" alt=""> 添加附件</span>
                                    <span> <img src="../static/images/icon_tupian.svg" alt=""> 图片</span>
                                    <span> <img src="../static/images/icon_fh.svg" alt=""> 文档</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                        <div class="box">
                                                <p>[本周完成工作内容]</p>
                                                <p>1,配合违章查询的业务修改</p>
                                                <P>2,解决Android7+以上版本更新失败的问题</P>
                                                <P>3,解决驾驶证输入页的错误提示</P>
                                                <P>4,在主页增加网络状态提示</P>
                                                <P>5,分离未处理的违章记录</P>
                                                <p>6,调研图片点击全屏预览的技术实现</p>
                                                <p>[本周发布的版本]</p>
                                                <p>v1.2.13</p>
                                                <p>Change Log:</p>
                                                <p>1,解决Android7+以上版本更新失败的问题</p>
                                                <p>2,增加网络状态提示</p>
                                                <p>3,修正一些小的错误，犯错的程序猿已经祭天 </p>
                                                <p>[下周计划完成工作内容]</p>
                                                <p>1,根据需求调整开发计划;2,其他计划外开发;=========</p>
                                                <p></p>
                                                <p></p>
                                                <p></p>
                                            </div>

                                    <div class="anniu">
                                        <span id="baoc" onclick="baocun()">保存</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
</div>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/echarts.all.min.js"></script>
    <script src="../static/js/home.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../static/js/moment-with-locales.js"></script>
    <script src="../static/js/suspending.js"></script>
</body>
</html>
