<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='../static/images/favicon.ico') }}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/online_report.css">
    {#    <link rel="stylesheet" href="./font/iconfont.css">#}
    <title>用户信息列表</title>
</head>
<body>
<div class="box">
    <!-- 标题头 -->
    <div class="top">
        <a href="/home_all/view">
            <span class="iconfont icon-font icon-arrow-top-copy"></span>
        </a>
        <p>本月活跃用户列表</p>
        <div class="top_info">
            <span>月活跃用户数:{{ data | length }}人</span>
            <button onclick="month_active_chart($(this))" type="button" id="btn_01" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal1">
              分布图
            </button>
        </div>
    </div>
    <!-- 提示栏 -->
    <!--
    <div class="Prompts-column">


        <ul>
            <li>总用户量 <span>{{ data.all }}</span></li>
            <li>新增用户 <span>{{ data.today_reg }}</span></li>
            <li>在线平均时长 <span>{{ data.mean }}h</span></li>
            <li>常用功能 违章查询<span>{{ data.vio_count }}</span>次 违章代缴<span>0</span>次</li>
            <li>选择用户
                <input class="filter_online" data-filter="0" type="radio" name="use">全部
                <input class="filter_online" data-filter="1" type="radio" name="use">在线
                <input class="filter_online" data-filter="-1" type="radio" name="use">离线
            </li>
        </ul>

    </div>
    -->

    <div class="my-table">
        <table>
            <thead>
            <tr>
                <th>头像</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>手机版本号</th>
                <th>app版本</th>
                <th>最近一次登录时间</th>
                <th>在线时长</th>
                <th>当月数据包</th>
                <th>注册时间</th>
            </tr>
            </thead>
            <tbody>
            {% for emp in data %}
                <tr class="emp" data-id="{{ emp._id }}">
                    <td><img src="http://safego.org:5000/{{ emp.head_img_url }}" alt="头像"></td>
                    <td>{{ emp.real_name }}</td>
                    <td>{{ emp.phone_num }}</td>
                    <td>{{ emp.os_version }}</td>
                    <td>{{ emp.app_version }}</td>
                    <td>{{ emp.last_update }}</td>
                    <td>{{ emp.online_time }}</td>
                    <td>{{ emp.count }}</td>
                    <td>{{ emp.create_date }}</td>
                </tr>
            {% endfor %}
            <!--
                <tr>
                    <td><img src="/static/image/head_img/default_01.png" alt="无图片"></td>
                    <td>18577684225</td>
                    <td>5.1.1</td>
                    <td>V.5.1.1</td>
                    <td>2018-4-12 7：02：35</td>
                    <td>3小时</td>
                    <td>在线</td>
                    <td>2018-4-12 7：02：35</td>
                </tr>
                -->
            </tbody>
        </table>
    </div>
</div>
<!--弹出模态框-->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
            <div id="my_modal_nav">

            </div>
        </h4>
      </div>
      <div id="month_active_chart" class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

<!--加载蒙板-->
<div class="my_outer">
    <i class="fa fa-spinner fa-pulse"></i>
</div>
<!--加载蒙板-->
</body>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/echarts.all.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/online_report.js"></script>
</html>