{% extends "standard_template.html" %}
<!-- 页面专属css脚本-->
{% block extend_css %}
    <link rel="stylesheet" href="../static/css/sf_chart.css">
{% endblock %}

<!--页面专属js脚本-->
{% block extend_js %}
    <script src="../static/js/echarts.all.min.js"></script>
    <script src="../static/js/data.js"></script>
    <script src="../static/js/sf_chart.js"></script>
{% endblock %}

{% block nav %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2>驾驶行为分析表</h2>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div id="my_chart_01" class="my_chart">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table id="my_table_01" class="my_chart table table-striped">
                <tr>
                    <th>序号</th>
                    <th>司机</th>
                    <th>事件</th>
                    <th>开始速度(km/h)</th>
                    <th>结束速度(km/h)</th>
                    <th>平均速度(km/h)</th>
                    <th>加速度(km/h)</th>
                    <th>位置</th>
                    <th>时间</th>
                </tr>
                {% for event in events %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ event['user_name'] }}</td>
                        <td>{{ event['type'] }}</td>
                        <td>{{ event['begin_speed'] | round if  event['speed_delta'] else ""}}</td>
                        <td>{{ event['end_speed'] | round if  event['speed_delta'] else "" }}</td>
                        <td>{{ (event['av_speed'] | round)  if  event['av_speed'] else ""}}</td>
                        <td>{{ (event['speed_delta'] | round) if  event['speed_delta'] else "" }}</td>
                        <td>东经:{{ event['longitude'] | round(1)}} 北纬:{{ event['latitude'] | round(1)}}</td>
                        <td>{{ event['end'] }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}