<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基本信息</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/css/weui.min.css">
</head>
<style>
    .pheg {
           padding: 1.4em 0;
           border-bottom: 1px solid #ccc;
    }
    .pheg input{
               border: none;
               background-color: #fff;
               outline: none;
               width: 70%;
               text-indent: 3px;
               line-height: 2rem;
    }
    .div_info p{
         padding: 2em 0;
         border-bottom:1px solid #ccc; 
     }
      .div_info p input{
         outline: none;
         border: none;
         width: 87%;
         height: 1em;
         line-height: 1em;
         padding: 10px 0px;
        }
    .div_info p .class_wit{
        width: 70%;
    }
        .div_info a{
            width: 45px;
            line-height: 6em;
        }
        .div_info i{
            padding: 0;
            position: relative;
            top: -0.8em;
        }
        .div_info_btn{
            position: relative;
        }
        .div_info_btn p{
            margin-top: 20px;
            text-align: center;
            border: 1px solid #ccc;
            line-height: 0;
            border-radius: 6px;
        }
        .iimg {
            display: inline-block;
            width: 60px;
            height: 6em;
            overflow: hidden;
        }
        .imgs{
            width: 100%;
            height:2.5em;
        }
        .toolbar .title{
            line-height: 0;
        }
                /* 微信提示 */
        .weui-toast{
            margin-left: 0 !important;
        }
        .container-fluid{
            z-index: -1;
        }
        .weui-picker-modal.weui-picker-modal-visible{
            z-index: 100;
        }
    </style>
    <script>user = {{ user | safe }};</script>
<body>
        <div class="container-fluid">
            <div class="row row_padd">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <a href="/wx/html/resume_detail.html">
                                <button type="button" class="btn btn-primary btn-sm"> <i class="glyphicon glyphicon-menu-left  jiantou">返回</i> </button>
                            </a>
                        </div>    
                </div>
                <div class="row">
                   <!--  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                        <p>行车证
                            <i class="pull-right iimg">
                                    <img class="imgs class_agr" id="imgs_one"  src="{{ resume.imgs_one if resume.imgs_one else '/static/images/poto.png'  }}" alt="">
                            </i>
                        </p> 
                    </div>-->
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                        <span style="display: none">{{ resume }}</span>
                        <p>驾驶证
                            <i class="pull-right iimg">
                                <img class="imgs class_agr" id="dl_image"  src="{{ resume.dl_image_url + '&size=80*60' if resume.dl_image_url  else  '/static/images/poto.png' }}" alt="">
                            </i>
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                        <p>从业资格证
                            <i class="pull-right iimg">
                                <img class="imgs class_agr" id="rtqc_image"  src="{{ resume.rtqc_image + '&size=80*60' if resume.rtqc_image  else  '/static/images/poto.png' }}" alt="">
                            </i>
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                        <p>本人照片
                            <i class="pull-right iimg">
                                <img class="imgs class_agr" id="head_image" src="{{ resume.head_image + '&size=80*60' if resume.head_image else  '/static/images/poto.png' }}" alt="">
                            </i>
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                        <div class="pheg"> <span>资格证：</span>
                            <input class="class_agr inpt" value="{{ resume.rtqc_license_class if resume.rtqc_license_class else  "点击选择" }}" id="rtqc_license_class" type="text">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                        <div class="pheg"> <span>驾照：</span>
                           <input class="class_agr  dl_license_class"  value="{{ resume.dl_license_class }}" id="dl_license_class" type="text">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                        <div class="pheg"> <span>姓名：</span>
                          <input class="class_agr" value="{{ resume.real_name }}" id="real_name" type="text" placeholder="姓名">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                        <div class="pheg"><span>驾龄:</span>
                            <input class="class_agr" value="{{ resume.driving_experience }}" id="driving_experience" type="number">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                         <div class="pheg"><span>从业年限:</span>
                            <input class="class_agr" value="{{ resume.industry_experience }}" id="industry_experience" type="number">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                        <p id="myModal"><span> 性别: </span> <input class="class_agr gender_selt" id="gender" type="text" value="{{ resume.gender }}"></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                        <p>
                            <span> 年龄: </span> <input class="class_agr" id="age" type="number" value="{{ resume.age }}">
                             <!-- <i class="glyphicon glyphicon-menu-right pull-right"></i> -->
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                            <p><span> 户籍: </span> <input class="class_agr" id="birth_place" type="text" value="{{ resume.birth_place }}">
                                <!-- <i class="glyphicon glyphicon-menu-right pull-right"></i> -->
                           </p>
                    </div> 
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                            <p><span> 身份证号码: </span> <input class="class_agr class_wit" id="id_num" type="number" value="{{ resume.id_num }}">
                                <!-- <i class="glyphicon glyphicon-menu-right pull-right"></i> -->
                           </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                        
                        <p><span> 邮箱: </span><input class="class_agr" id="email" type="text" value="{{ resume.email }}"></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                            <p><span> 家庭住址: </span> <input id="address" class="class_agr class_wit" type="text" value="{{ resume.address }}">
                                <!-- <i class="glyphicon glyphicon-menu-right pull-right"></i> -->
                           </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info">
                            <p><span> 现居地址: </span> <input class="class_agr class_wit" id="living_place" type="text" value="{{ resume.living_place }}">
                                <!-- <i class="glyphicon glyphicon-menu-right pull-right"></i> -->
                           </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 div_info div_info_btn">
                       <a id="submt" href="javascript:;"> <p>完成</p></a>
                    </div>                       
                </div>
            </div>
            <!--模态框 -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery-weui.min.js"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
        <script src="/wx/js_sdk_init?debug=0&api=chooseImage uploadImage getLocalImgData"></script>
<!--         <script src="/static/js/modal.js"></script> -->
        <script>
//                console.log(document.body)[0]
            /*
               document.getElementsByClassName("weui-picker-modal")[0].addEventListener('touchmove', function (e) {
                  e.preventDefault(); //阻止默认的处理方式(阻止下拉滑动的效果)
                }, {passive: false}); //passive 参数不能省略，用来兼容ios和android
               document.getElementsByClassName("weui-picker-modal")[0].addEventListener('touchmove', function (e) {
                  e.preventDefault(); //阻止默认的处理方式(阻止下拉滑动的效果)
                }, {passive: false}); //passive 参数不能省略，用来兼容ios和android
            */
            
            // $('setTimeout(function(){on(){
            //                                        $('.modal').modal('hide');
            // });                                 },3000);
             //选择状态
             $(".gender_selt").select({
                title: "选择性别",
                items: ["男","女"]
                });
             var imgs_one_num = -1;
             var dl_image_num = -1;
             var head_image_num = -1;
            function take_a_photo($obj){
                wx.chooseImage({
                count: 1, // 默认9
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                    $obj.attr('src',localIds);
                    wx.uploadImage({
                        localId:localIds[0],
                        isShowProgressTips: 1,
                        success:function(res){
                            // alert("localIds: " + res.serverId);
                            var id = res.serverId;
                            //请求api接口  传入对应的接口信息
                            if($obj.attr("id")== "dl_image"){
                                var table_name = "driving_license_image";
                                var field_name = "dl_image";
                            }
                            else if($obj.attr("id")== "head_image"){
                                var table_name = "head_image";
                                var field_name = "head_image";
                            }
                            else if($obj.attr("id")== "rtqc_image"){
                                var table_name = "rtqc_image";
                                var field_name = "rtqc_image";
                            }
                            
                            //上传图片对应的  id信息
                            var args = {
                                "server_id":id,
                                "table_name": table_name,
                                "field_name": field_name,
                                "db":"mongo_db2" // 库名，固定
                            };
                            var url = "/wx/auto_download/" + table_name;

                            $.post(url, args, function(resp){
                                var json = JSON.parse(resp);
                                var status = json['message'];
                                console.log(url);
                                if(status == 'success'){
                                    $obj.attr("data-id", json[field_name]);
                                    $obj.attr("data-url",json[field_name + "_url"]);
                                }
                                else{
                                    alert(status);
                                }
                            })
                        }
                    })
                }
                });
            }
            // 微信上传图片
            $('.iimg').each(function(){
                var $this = $(this);
                $this.click(function(){
                    var img = $this.find(".imgs");
                    take_a_photo(img);
                })
            });

            // 循环要提交的内容
            function submit(class_name){
                var doms = $(`.${class_name}`);
                let args  = {};
                let is_null = false;
                for(let dom of doms){
                    let obj = $(dom);
                    let tag_name = obj[0].tagName.toLowerCase();
                    let arg_name = obj.attr('id');
                    if(tag_name == 'input'){
                        let val = $.trim(obj.val());
                        if(val){
                          args[arg_name] = val;
                          is_null = true;
                        }
                    }
                    else {
                         if(arg_name == 'dl_image'){
                            let img_id = obj.attr('data-id');
                            if(img_id){
                                is_null = true;
                                args['dl_image'] = img_id;
                                args['dl_image_url'] = obj.attr('data-url');$("body").on("touchstart", function(event){console.log(event); return false;}).on("touchmove", function(event){console.log(event); return false;}).on("touchend", function(event){console.log(event); return false;})
                                
                            }
                        }
                        else if(arg_name == 'head_image'){
                            let img_id = obj.attr('data-id');
                            if(img_id){
                                is_null = true;
                                args['head_image'] = img_id;
                                args['head_image'] = obj.attr('data-url');
                                }
                        }
                        else if(arg_name == 'rtqc_image'){
                            let img_id = obj.attr('data-id');
                            if(img_id){
                                is_null = true;
                                args['rtqc_image'] = img_id;
                                args['rtqc_image'] = obj.attr('data-url');
                                }
                        }
                    }
                }
                return is_null? args: null;
            };
            //提交/修改 简历信息
            $('#submt').click(function (){
                let args = submit("class_agr");
                if(args){
                    $('.modal').modal({backdrop: 'static', keyboard: false});
                    args['_id'] = user.resume_id;
                    $.post("/wx/resume/opt", args, function(resp){
                    let json = JSON.parse(resp);
                        if(json['message'] === "success"){
                            setTimeout(function(){
                                    $('.modal').modal('hide');
                                 },3000);
                            console.log(args);
                            // 成功
                            $.toast("保存成功！");
                            location.href = "/wx/html/resume_detail.html";
                        }
                        else{
                            // 失败
                            $.alert('保存失败！',function(){
                                location.href = "/wx/html/resume_detail.html";
                            });
                        }
                    }); 
                }else{
                    $.alert('未保存信息',function(){});
                }
            });
             //  修改
             ($(function(){
                 
                console.log(user);
             }));
             
  wx.error(function(){
            alert(error)
        });
        </script>
</body>
<script>
    $(".inpt").select({
  title: "选择资格证类型",
  items: [
    {
      title: "经营性道路旅客运输",
      value: "001",
    },
    {
      title: "经营性道路货物运输",
      value: "002",
    },
    {
      title: "道路危险货物运输",
      value: "003",
    },
    {
      title: "道路危险货物运输装卸管理人员和押运人员资格证书",
      value: "004",
    },
    {
      title: "机动车维修技术人员 ",
      value: "004",
    },
    {
      title: "机动车驾驶培训教练员 ",
      value: "004",
    }
  ]
});
    
    $(".inpt").one("click", function(){
        setTimeout(function() {
            $(".weui-picker-container").on("touchmove", function () {
                return false;
            });
            console.log($(".weui-picker-container").length);
        }, 1000);

    });
    
   $(".inpt").on("click touchstart", function(event){
       console.log(event);
   });


$(".dl_license_class").select({
  title: "驾照类型",
  items: [
    {
      title: "A1",
      value: "001",
    },
    {
      title: "A2",
      value: "002",
    },
    {
      title: "A3",
      value: "003",
    },
    {
      title: "B1",
      value: "004",
    },
    {
      title: "B2",
      value: "005",
    },
    {
      title: "C1",
      value: "006",  
    },
    {
      title: "C2",
      value: "007",  
    },
    {
      title: "C3",
      value: "008",  
    },
    {
      title: "C4",
      value: "009",  
    }
  ]
});
</script>
</html>