<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>卡佑微信</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        p{
            width: 100%;
            padding: 0 20px;
        }
        p a{
            text-align: center;
            background: blue;
            color: #fff;
            display: inline-block;
            width: 100%;
        }
    </style>
</head>
<body>
    <div>
        <img src="../images/kayou.png" alt="">
    </div>
    <p><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzU3NDY2NzAxMg==&scene=116#wechat_redirect">一键关注</a></p> 
</body>
</html>