font_color = #9A9A9A
label_color = #636363
border_color = #dcdcdc
default_blue = #3388FE
light_grey = #f4f4f4
deep_grey = #5C5F63


.page_middle
  height auto !important
  .nav_top
    padding 0.8em 0
    .nav-tabs
      li
        a
          color label_color
          padding 5px 15px
      .active
        a
          color default_blue



