font_color = #9A9A9A
label_color = #636363
border_color = #dcdcdc
default_blue = #3388FE
light_grey = #f4f4f4
deep_grey = #5C5F63


.page_middle
  height auto !important
  .nav_top
    margin 0.8em 0
    .nav-tabs
      padding-left 1em
      li
        a
          color label_color
          padding 5px 15px
      .active
        a
          color default_blue
  label
    color label_color
    font-weight 400
  .nav_div
    font-size:1rem
    color font_color
    padding 1em 0 2em 0

  .search_div
    font-size:1rem
    background-color light_grey
    padding-left 2em
    padding-right 1em

    .line_div
      padding 10px 0
      display flex
      flex-direction row

      input
        width 20%
        height auto
        color font_color
        border 1px solid border_color
        border-radius 4px

      /*input的placeholder的颜色,要比input高一级才生效*/
      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    font_color;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    font_color;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    font_color;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    font_color;
      }

      .dropdown
        width 20%

        > button
          width 100%
          padding: 10px
          color font_color !important
          text-align left !important
          > i
            float:right
            color font_color !important
            margin-top 2px

        > ul
          width 100%
          padding: 10px
          color font_color !important
          text-align left !important
          > li > a
            color font_color !important

      label
        width 13%
        display flex
        flex-direction row
        flex-wrap nowrap
        justify-content space-around
        align-items center
        vertical-align center

      .left_margin
        margin-left 1.5em

  .content
    width 100%
    padding-left 2em
    .text
      border 1px solid border_color
      height 20em
      width 100%
      white-space pre-line
      word-break break-all
      overflow-y auto
      margin-bottom 2em
    .last
      height 10em

  .welfare
    display flex
    flex-direction row
    justify-content flex-start
    .child
      width calc(100% / 8)

  .submit_div
    width 100%
    padding 3em 2em 3em 2em
    #submit
      background-color #009EF9
      color white
      padding-top 1em
      border 1px solid #009EF9
      padding-bottom 1em
      width 100%

