font_color = #BABABA
border_color = #dcdcdc
default_blue = #3388FE
light_grey = #f4f4f4
deep_grey = #5C5F63


.page_middle
  height auto !important
  .nav_div
    font-size:1rem
    color font_color
    padding 1em 0

    .block_01
      .block_left
        width 75%
      .block_right
        width 25%