html
    font-size 14px
    color lightgrey
body
    #main
        text-align left
        margin auto
        max-width 1000px
        ccolor #939393

.top_tools
    font-size 20spx
    display flex
    flex-direction row
    justify-content flex-end
    align-items center
    padding 15px 0
    color #939393
    >.tool_item:hover
        cursor pointer
    >.tool_item
        margin-right 28px
        >i
            margin-right 10px
.title_div
    text-align center
.base_info
    width 100%
    padding 20px 20px
    background-color #7366a7
    display flex
    flex-direction row
    justify-content flex-start
    font-size 14px
    >.left
        width 20%
        padding 10px 20px
        >.head_img
            border-radius 5px
            width 100%
    >.right
        width 80%
        display flex
        flex-direction column
        justify-content flex-start
        padding-left 20px
        >.right_line
            display flex
            flex-direction row
            justify-content flex-start
            align-items center
            color white
            margin 12px 0
            >.info_item
                display flex
                flex-direction row
                justify-content flex-start
                align-items center
                margin-right 30px
                >i
                    color #c0c0c0
                    margin-right 5px
        >.first
            font-size 24px

.show_zone
    padding 20px 20px 0 20px
    font-size 14px
    color #939393
.last_show_zone
    padding 20px 20px

.my_table
    width 100%
    font-size 16px
    list-style-type none
    padding 0
    >li
        margin 0
        width 100%
        border 1px solid lightgrey
        border-bottom none
        display flex
        flex-direction row
        justify-content flex-start
        >span
            padding 10px
            display block
            border-left 1px solid lightgrey
        >.title
            color #606060
            font-weight 700
        >.title2
            color #b1b1b1
            font-weight 700
        >.first
            border-left none
    >.col_2
        >.name
            width 10em
        >.value
            width calc(50% - 10em - 10px)
    >.col_3
        >span
            width 16.5%
    >.first
        background-color #ececec
    >.last
        border 1px solid lightgrey

.page_bottom
    width 100%
    min-height 80px