<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/product.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="js/jquery.js"></script>
    <script src="js/jquery-latest.js"></script>
</head>
<body>
<!--banner-->
<div class="carousel slide carousel-fade" id="carousel" data-interval="3000" data-pause="hover" data-wrap="true" data-ride="carousel">
    <ul class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel"></li>
        <li data-slide-to="1" data-target="#carousel"></li>
        <!--  <li data-slide-to="2" data-target="#carousel"></li>
          <li data-slide-to="3" data-target="#carousel"></li>-->
    </ul>
    <div class="carousel-inner">
        <div class="item active">
            <img src="img/banner.jpg" width="100%">
        </div>
        <div class="item">
            <img src="img/banner2.jpg" width="100%">
        </div>
        <!--<div class="item">
            <img src="img/Banner1.jpg" width="100%">
        </div>
        <div class="item">
            <img src="img/Banner2222.jpg" width="100%">
        </div>-->
    </div>
    <!--<a href="#carousel" data-slide="prev" class="carousel-control left">
        <span class="glyphicon glyphicon-chevron-left"></span>

    </a>
    <a href="#carousel" data-slide="next" class="carousel-control right">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>-->
</div>
<!--<div class="banner" id="banner">
    <div class="banner-content">
        <div class="banner-img" id="banner-img">
            <a href="" class="first"><img src="img/Banner1.jpg"> </a>
            <a href=""><img src="img/Banner2222.jpg"> </a>
        </div>
        <div class="banner-btn" id="banner-btn">
            <span></span>
            <span></span>
        </div>
    </div>
</div>-->
<!--导航-->
<div class="fixed" id="nav">
    <div class=" fixed-pd">
        <a href="index.html" class="f1"><img src="img/logo_news.png"></a>
        <a href="javascript:;" class="f2">产 品</a>
        <a href="scheme.html" class="f3">解 决 方 案</a>
        <a href="cooperation.html" class="f3">合 作 企 业</a>
        <a href="" class="f4">案 例 介 绍</a>
        <a href="" class="f5">外 包 平 台</a>
        <a href="about.html" class="f6">关 于 我 们</a>
        <div class="f7">
            <input type="text">
            <span class="search"><img src="img/incon.png"></span>
        </div>
        <a href="" class="f8">登录</a>
        <a href="" class="f9">注册</a>
    </div>
</div>
<!--滚动条下拉导航-->
<div class="fixed" id="hidden">
    <div class=" fixed-pd">
        <a href="index.html" class="f1"><img src="img/logo_news.png"></a>
        <a href="javascript:;" class="f2">产 品</a>
        <a href="scheme.html" class="f3">解 决 方 案</a>
        <a href="cooperation.html" class="f3">合 作 企 业</a>
        <a href="" class="f4">案 例 介 绍</a>
        <a href="" class="f5">外 包 平 台</a>
        <a href="about.html" class="f6">关 于 我 们</a>
        <div class="f7">
            <input type="text">
            <span class="search"><img src="img/incon.png"></span>
        </div>
        <a href="" class="f8">登录</a>
        <a href="" class="f9">注册</a>
    </div>
</div>
<!--经典产品-->
<div class="product">
    <div class="product-c">
        <span class="cp"></span>
        <div class="product-L"></div>
        经典产品
        <div class="product-R"></div>
    </div>
</div>
<!--科技-->
<div class="content">
    <div class="content-L">
        <div class="content-c">
            <h3>1科技创造美好生活</h3>
            <p>必弘协同管理软件A8-V5 7.0，是面
                向中型、大型、集团型组织的OA综
                合办公管理平台</p>
            <div></div>
            <a href="">了解更多</a>
        </div>
        <div class="content-c">
            <h3>2科技创造美好生活</h3>
            <p>必弘协同管理软件A8-V5 7.0，是面
                向中型、大型、集团型组织的OA综
                合办公管理平台</p>
            <div></div>
            <a href="">了解更多</a>
        </div>
        <div class="content-c">
            <h3>3科技创造美好生活</h3>
            <p>必弘协同管理软件A8-V5 7.0，是面
                向中型、大型、集团型组织的OA综
                合办公管理平台</p>
            <div></div>
            <a href="">了解更多</a>
        </div>

    </div>
    <div class="content-C">
        <div class="banner" id="banner">
            <a href="" class="first"><img src="" data-imgurl="img/t1.jpg"></a>
            <a href=""><img src="" data-imgurl="img/t2.jpg"></a>
            <a href=""><img src="" data-imgurl="img/t3.jpg"></a>
        </div>
        <div class="banner-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="content-R">
        <div class="content-r">
            <h3>1必弘工作，以人为本、流程管理</h3>
            <p>以必弘工作为主线、利用二元化工作流，形成组织内高效的协同流程引擎，打通组织中人与人、人与事的工作交流与互动机制，实现管理柔性和刚性的完美结合，从而达到上下管控，有效沟通和高效管理，减少中间成本，实现协同价值最大化</p>
        </div>
        <div class="content-r">
            <h3>2必弘工作，以人为本、流程管理</h3>
            <p>以必弘工作为主线、利用二元化工作流，形成组织内高效的协同流程引擎，打通组织中人与人、人与事的工作交流与互动机制，实现管理柔性和刚性的完美结合，从而达到上下管控，有效沟通和高效管理，减少中间成本，实现协同价值最大化</p>
        </div>
        <div class="content-r">
            <h3>3必弘工作，以人为本、流程管理</h3>
            <p>以必弘工作为主线、利用二元化工作流，形成组织内高效的协同流程引擎，打通组织中人与人、人与事的工作交流与互动机制，实现管理柔性和刚性的完美结合，从而达到上下管控，有效沟通和高效管理，减少中间成本，实现协同价值最大化</p>
        </div>

    </div>
    <div class="clear"></div>
</div>
<!--产品分类-->
<div class="product">
    <div class="product-c">
        <span class="cp"></span>
        <div class="product-L"></div>
        产品分类
        <div class="product-R"></div>
    </div>
</div>
<!--版本-->
<div class="versions">
    <ul>
        <li>
            <h3>旗舰版</h3>
            <p>面向大中型企事业单位，有一定的信息化基础，需求全面且深入，希望实现全面深入的协同办公管理</p>
            <a href="">了解更多</a>
        </li>
        <li>
            <h3>专业版</h3>
            <p>小型企事业的全员信息化，流程较复杂，需求全面，期望实现日常办公电子化、移动化。</p>
            <a href="">了解更多</a>
        </li>
        <li>
            <h3>政务版</h3>
            <p>面向政府机关、事业单位，深入支持政务信息化，符合国家标准的公文处理平台</p>
            <a href="" style="margin-top: 54px">了解更多</a>
        </li>
        <li>
            <h3>集团版</h3>
            <p>满足“分散经营 集中管理”的需要，构建“分而不离”的协同办公网络，实现集团统一信息大平台</p>
            <a href="">了解更多</a>
        </li>
        <li>
            <h3>平台版</h3>
            <p>大中型企事业单位，IT技术力量强，信息化程度高，期望能够在OA平台上自行打造业务平台。</p>
            <a href="">了解更多</a>
        </li>
        <li style="margin-right: 0">
            <h3>人力资源系统</h3>
            <p>完整的人力资源系统，包括:人事档案、考勤、薪资、招聘、培训、绩效、在线考试</p>
            <a href="">了解更多</a>
        </li>
    </ul>
</div>
<!--最新合作-->
<div class="product">
    <div class="product-c">
        <span class="cp"></span>
        <div class="product-L"></div>
        最新合作
        <div class="product-R"></div>
    </div>
</div>
<!--合作内容-->
<div class="product-content">
    <div class="product-c-l">
        <div class="product-l-ct">
            <div class="product-img">
                <a href=""> <img src=""></a>
            </div>
            <h3>1中国正在成为全球最大的服装市场</h3>
            <p>中国正在成为全球最大的服装市场。而且消费机构也在改变中国的高端消费者</p>
            <p>正在寻找那些能真正令他们与众不同的服装</p>
            <a href="" class="lj">了解更多</a>
        </div>
        <div class="product-l-ct">
            <div class="product-img">
                <a href=""> <img src=""></a>
            </div>
            <h3>2中国正在成为全球最大的服装市场</h3>
            <p>中国正在成为全球最大的服装市场。而且消费机构也在改变中国的高端消费者</p>
            <p>正在寻找那些能真正令他们与众不同的服装</p>
            <a href="" class="lj">了解更多</a>
        </div>
        <div class="product-l-ct">
            <div class="product-img">
                <a href=""> <img src=""></a>
            </div>
            <h3>3中国正在成为全球最大的服装市场</h3>
            <p>中国正在成为全球最大的服装市场。而且消费机构也在改变中国的高端消费者</p>
            <p>正在寻找那些能真正令他们与众不同的服装</p>
            <a href="" class="lj">了解更多</a>
        </div>
        <div class="product-l-ct">
            <div class="product-img">
                <a href=""> <img src=""></a>
            </div>
            <h3>4中国正在成为全球最大的服装市场</h3>
            <p>中国正在成为全球最大的服装市场。而且消费机构也在改变中国的高端消费者</p>
            <p>正在寻找那些能真正令他们与众不同的服装</p>
            <a href="" class="lj">了解更多</a>
        </div>
    </div>
    <div class="product-c-r">
        <ul class="product-r-left">
            <li><h3>01-04</h3><p>2017</p></li>
            <li><h3>01-04</h3><p>2017</p></li>
            <li><h3>01-04</h3><p>2017</p></li>
            <li><h3>01-04</h3><p>2017</p></li>
        </ul>
        <div class="product-r-right" id="product-r-right">
            <div>
                <h6>立泰服饰-珍惜穿校服时光</h6>
                <p>现在我不穿着校服，我可以穿着我喜欢的衣服，可是我开始羡慕那些穿着校服的同学，怀念着穿着校服上学的日字</p>
            </div>
            <div>
                <h6>立泰服饰-珍惜穿校服时光</h6>
                <p>现在我不穿着校服，我可以穿着我喜欢的衣服，可是我开始羡慕那些穿着校服的同学，怀念着穿着校服上学的日字</p>
            </div>
            <div>
                <h6>立泰服饰-珍惜穿校服时光</h6>
                <p>现在我不穿着校服，我可以穿着我喜欢的衣服，可是我开始羡慕那些穿着校服的同学，怀念着穿着校服上学的日字</p>
            </div>
            <div>
                <h6>立泰服饰-珍惜穿校服时光</h6>
                <p>现在我不穿着校服，我可以穿着我喜欢的衣服，可是我开始羡慕那些穿着校服的同学，怀念着穿着校服上学的日字</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--底部-->
<div class="footer">
    <div class="footer-top"></div>
    <div class="footer-bottom">
        <a href="" class="bh">上海必弘信息技术有限公司</a>
        <a href="https://www.amap.com/place/B00155NMJ4" target="_blank">上海市嘉定区安亭镇新源路155弄v6时代新源商务楼1612室</a>
        <a href="javascript:;">沪ICP备18034805号-1</a>
    </div>
</div>
</body>
<script src="js/product.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</html>