<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/scheme.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="js/jquery.js"></script>
</head>
<body>
<!--banner-->
<div class="carousel slide carousel-fade" id="carousel" data-interval="3000" data-pause="hover" data-wrap="true" data-ride="carousel">
    <ul class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel"></li>
        <li data-slide-to="1" data-target="#carousel"></li>
        <!--  <li data-slide-to="2" data-target="#carousel"></li>
          <li data-slide-to="3" data-target="#carousel"></li>-->
    </ul>
    <div class="carousel-inner">
        <div class="item active">
            <img src="img/banner.jpg" width="100%">
        </div>
        <div class="item">
            <img src="img/banner2.jpg" width="100%">
        </div>
        <!--<div class="item">
            <img src="img/Banner1.jpg" width="100%">
        </div>
        <div class="item">
            <img src="img/Banner2222.jpg" width="100%">
        </div>-->
    </div>
    <!--<a href="#carousel" data-slide="prev" class="carousel-control left">
        <span class="glyphicon glyphicon-chevron-left"></span>

    </a>
    <a href="#carousel" data-slide="next" class="carousel-control right">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>-->
</div>
<!--<div class="banner" id="banner">
    <div class="banner-content">
        <div class="banner-img" id="banner-img">
            <a href="" class="first"><img src="img/Banner1.jpg"> </a>
            <a href=""><img src="img/Banner2222.jpg"> </a>
        </div>
        <div class="banner-btn" id="banner-btn">
            <span></span>
            <span></span>
        </div>
    </div>
</div>-->
<!--导航-->
<div class="fixed" id="nav">
    <div class=" fixed-pd">
        <a href="index.html" class="f1"><img src="img/logo_news.png"></a>
        <a href="product.html" class="f2">产 品</a>
        <a href="javascript:;" class="f3">解 决 方 案</a>
        <a href="cooperation.html" class="f3">合 作 企 业</a>
        <a href="" class="f4">案 例 介 绍</a>
        <a href="" class="f5">外 包 平 台</a>
        <a href="about.html" class="f6">关 于 我 们</a>
        <div class="f7">
            <input type="text">
            <span class="search"><img src="img/incon.png"></span>
        </div>
        <a href="" class="f8">登录</a>
        <a href="" class="f9">注册</a>
    </div>
</div>
<!--滚动条下拉导航-->
<div class="fixed" id="hidden">
    <div class=" fixed-pd">
        <a href="index.html" class="f1"><img src="img/logo_news.png"></a>
        <a href="product.html" class="f2">产 品</a>
        <a href="javascript:;" class="f3">解 决 方 案</a>
        <a href="cooperation.html" class="f3">合 作 企 业</a>
        <a href="" class="f4">案 例 介 绍</a>
        <a href="" class="f5">外 包 平 台</a>
        <a href="about.html" class="f6">关 于 我 们</a>
        <div class="f7">
            <input type="text">
            <span class="search"><img src="img/incon.png"></span>
        </div>
        <a href="" class="f8">登录</a>
        <a href="" class="f9">注册</a>
    </div>
</div>
<!--解决方案-->
<div class="container">
    <div class="jf">
        <h3>解决方案</h3>
    </div>
    <div class="menu">
        <h3 name="h3s" id="h3s1">推荐专区<i class="q-menu-img positionIicon trans" name="img" id="img1"></i></h3>
        <ul class="ulmenu1">
            <li><a class="selected" href="#tab1"><span></span><i class="red"></i>基础问题</a></li>
            <li><a href="javascript:;"><span></span><i></i>业务处理</a></li>
            <li><a href="javascript:;"><span></span><i></i>事务处理</a></li>
            <li><a href="javascript:;"><span></span><i></i>财务处理</a></li>
            <li><a href="javascript:;"><span></span><i></i>报表</a></li>
            <li><a href="javascript:;"><span></span><i></i>系统设置</a></li>
            <li><a href="javascript:;"><span></span><i></i>硬件设备</a></li>
            <!--<li><a href="#"><span></span><i></i>系统设置2</a></li>
            <li><a href="#"><span></span><i></i>系统设置2</a></li>
            <li><a href="#"><span></span><i></i>系统设置2</a></li>
            <li><a href="#"><span></span><i></i>系统设置2</a></li>
            <li><a href="#"><span></span><i></i>系统设置2</a></li>-->
        </ul>

        <h3 name="h3s"  id="h3s2">管理系统<i class="q-menu-doit positionIicon" name="img" id="img2"></i></h3>
        <ul class="ulmenu2">
            <li><a href="javascript:;" class="selected"><span></span><i class="red"></i>全部</a></li>
            <li><a href="javascript:;"><span></span><i></i>金融</a></li>
            <li><a href="javascript:;"><span></span><i></i>流程制造</a></li>
            <li><a href="javascript:;"><span></span><i></i>服务</a></li>
            <li><a href="javascript:;"><span></span><i></i>离散制造</a></li>
            <li><a href="javascript:;"><span></span><i></i>建筑与房地产</a></li>
            <li><a href="javascript:;"><span></span><i></i>政府与机关单位</a></li>
            <li><a href="javascript:;"><span></span><i></i>集团性企业</a></li>
            <li><a href="javascript:;"><span></span><i></i>能源</a></li>
            <li><a href="javascript:;"><span></span><i></i>公共事业</a></li>
            <li><a href="javascript:;"><span></span><i></i>农林牧业</a></li>
            <li><a href="javascript:;"><span></span><i></i>流通与零售</a></li>
        </ul>

        <h3 name="h3s"  id="h3s3">收银系统<i class="q-menu-three positionIicon" name="img" id="img3"></i></h3>
        <ul class="ulmenu3">
            <li><a class="selected" href="#tab1"><span></span><i class="red"></i>全部</a></li>
            <li><a href="javascript:;"><span></span><i></i>项目管理</a></li>
            <li><a href="javascript:;"><span></span><i></i>HR管理</a></li>
            <li><a href="#tab3"><span></span><i></i>采购管理</a></li>
            <li><a href="#tab4"><span></span><i></i>预算管理</a></li>
            <li><a href="#tab5"><span></span><i></i>固定资产管理</a></li>
            <li><a href="javascript:;"><span></span><i></i>办公设备管理</a></li>
            <li><a href="javascript:;"><span></span><i></i>公文管理</a></li>
            <li><a href="javascript:;"><span></span><i></i>会议管理</a></li>
            <li><a href="javascript:;"><span></span><i></i>销售管理</a></li>
        </ul>
    </div>
    <div class="content">
        <!--<div class="get-menu">
            <a href="#">帮助中心</a>
            <span>></span>
            <a class="A1" href="#">常见问题</a>
        </div>-->
        <div class="menu1 menu_tab">
            <div id="tab1" class="tab active">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产1：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>

            </div>
            <div  id="tab2" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产2：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>

            </div>
            <div  id="tab3" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产3：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab4" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产4：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab5" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产5：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab6" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产6：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="menu2 menu_tab">
            <div id="tab-1" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产11：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="ta-2" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产22：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-3" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产33：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r" data-imgurl="">
                        <img src="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-4" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产44：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-5" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产55：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-6" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产66：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-7" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产77：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-8"  class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产88：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-9" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产99：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-10" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产100：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-11"  class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产111：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-12" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产112：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="menu3 menu_tab">
            <div id="tab-3-1" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产1111：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-3-2" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产22222：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-3-3" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产3333：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-3-4" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产4444：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-3-5" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产5555：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-3-6" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产6666：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-3-7" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产7777：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-3-8"  class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产8888：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-3-9" class="tab">
                <ul>
                    <li class="box-r">
                        <img src=""data-imgurl="">
                        <h5>保利地产9999：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-3-10" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产1000：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-3-11"  class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产1111：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
            <div  id="tab-3-12" class="tab">
                <ul>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产12222：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>百联集团：管好7000家网点25万...</h5>
                        <p>必弘以流程管理与门户一体化整合技术为基点，整合管理板块资源以综合利用着重
                            提高整体帮效率</p>
                    </li>
                    <li class="box-r no-right">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>

                    </li>
                    <li class="box-r">
                        <img src="" data-imgurl="">
                        <h5>保利地产：实现信息化·自动化...</h5>
                        <p>通过必弘协同平台的项目群计划协同，实现
                            了全面的PDCA管理</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div class="footer">
    <div class="footer-top"></div>
    <div class="footer-bottom">
        <a href="" class="bh">上海必弘信息技术有限公司</a>
        <a href="https://www.amap.com/place/B00155NMJ4" target="_blank">上海市嘉定区安亭镇新源路155弄v6时代新源商务楼1612室</a>
        <a href="javascript:;">沪ICP备18034805号-1</a>
    </div>
</div>
<script src="js/scheme.js"></script>
<script src="js/pc.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>