<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上海必弘信息技术有限公司</title>
    <link rel="stylesheet" href="css/index.css">
    <link href="img/logo_purple.png" rel="shortcut icon" type="image/x-icon" />
</head>
<body>

    <div class="header">
        <img src="img/guanyuwomen.jpg">
    </div>
    <div class="content1 content3">
        <img src="img/top.jpg">
    </div>


    <div class="content2" id="content2">
        <div class="top">
            <img src="img/top_bottom.jpg">
        </div>
        <div class="bottom">
            <img src="img/bottom_top.jpg">
        </div>
        <div class="showTeam">
            <div class="teamTitle">Fusce posuere massa sit amet enim tincidunt, non bibendum  sem auctor. Mauris tellus odio, mollis in sem eu.</div>
            <div class="teamRander teamRander_txt">必弘信息(隶属于上海必弘信息技术有限公司)是一家专精于
                行业解决方案的系统定制服务商，在办公自动化(OA), 客户管理(CRM), 生产管理(EMS), HR, 财务,
                ERP等系统开发和集成方面积累了多年的开发经验。根据企业自身特点,为企业在市场竞争中快速建立竞争优势,
                提供可持续集成和扩展的生产,管理,运营等方面的管理方案.创造更广阔的商业价值,助企业在市场竞争中处于优势地。
                我们不是技术宅，我们是一群渴望以自己手中的技术帮助客户解决实际问题的践行者。我们有技术、有激情、有创新的意识、有共同的目标 我们是有着不同专业知识背景的朝气蓬勃的年轻人组成的一个不可分割的整体。
            </div>

            <div class="teamMotto teamRander_txt">
                ——— 信息 、 革新 、 未来
            </div>
            <div class="teamFoot">
                <img src="img/teamFoot.png" alt="" width="100%">
            </div>
        </div>
    </div>

    <div class="content3">
        <img src="img/bottom.jpg">
    </div>


<div class="content_function">
    <div class="content_function_b">
        <ul class="content_function_ul">
            <li>
                <img src="img/tu1.png">
                <h3>系统集成</h3>
                <p>低成本的、高效率的
                <br>
                    性能匀称的
                    <br>
                    可扩充性、可维护
                </p>
            </li>
            <li>
                <img src="img/tu2.png">
                <h3>APP应用开发</h3>
                <p>iOS、Andriod
                    <br>
                    抢占商机、清新美观
                    <br>
                    体验感强、成本低廉
                </p>
            </li>
            <li>
                <img src="img/tu3.png">
                <h3>网站开发</h3>
                <p>HTML+CSS3+JAVA(PHP)
                    <br>
                    美观大方、完美体验
                    <br>
                    安全性能高
                </p>
            </li>
            <li>
                <img src="img/tu4.png">
                <h3>企业应用</h3>
                <p>功能全面、界面美观
                    <br>
                    安全性能高
                    <br>
                    无缝对接的后期维护
                </p>
            </li>
            <li style="margin-right: 0">
                <img src="img/tu5.png">
                <h3>CRM</h3>
                <p>客户资源、客户关系
                    <br>
                    客户数据
                    <br>
                    客户关怀等管理维护
                </p>
            </li>
        </ul>
    </div>
</div>


<div class="English">
    <!--<h3>TECHNICAL ABILITY</h3>-->
    <!--<p>Yihong information will</p>-->
    <img src="img/50084840_2.jpg">
</div>





<div class="people">
    <div class="people_img">
        <img src="img/logo121.png">
    </div>
</div>

<div class="English English2">
    <h3>CONTACT US</h3>
    <p>Leave A Message</p>
</div>


<div class="English2_content">
    <div class="English2_content_b">
        <ul class="English2_content_ul">
            <li class="marginb">
                <img src="img/dizhi.png">
                <p>
                    上海市嘉定区安亭镇新源路
                    <br>
                    155弄V6时代
                    <br>
                    新源商务楼1612室
                </p>
            </li>
            <li>
                <img src="img/dianhua.png">
                <p>
                    电话：
                    <br>
                    <br>
                    15000672271
                    <br>
                </p>
            </li>
            <li style="margin-right: 0">
                <img src="img/youxiang.png">
                <p>
                    邮箱：
                    <br>
                    <br>
                    Jsonyu jsonyu@aliyun.com
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="content4">
    <div class="content4_img">
        <img src="img/guanyuwomen4.png">
    </div>
</div>
<div class="footer">
    <div class="footer_content">
        <div style="margin-right: 70px" >上海必弘信息技术有限公司</div>
        <div>
            <a href="https://www.amap.com/place/B00155NMJ4" target="_blank">上海市嘉定区安亭镇新源路155弄v6时代新源商务楼1612室</a>
        </div>
        <div class="floats">©2018 BIHO 联系我们 隐私条款 沪ICP备18034805号-1</div>
    </div>

</div>
<script src="js/jquery.js"></script>
<script src="js/index.js"></script>

</body>
</html>
