<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>聊天室演示</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>SSE文字聊天室演示页面</h3>
        </div>
    </div>
    <div class="row">
        <div id="dialogs" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--对话区域-->
        </div>
    </div>
    <div class="row">
        <div id="select_div" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--选择用户区域-->
        </div>
    </div>
    <div class="row">
        <div id="panel" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--对话区域-->
            <textarea id="my_text"></textarea><button class="btn primary-btn">发送</button>
        </div>
    </div>
</div>
</body>
<script>
$(function(){
    const Notification = window.Notification;
    let user_name = "{{ user_name }}";
    // 桌面通知
    Notification.requestPermission().then(function(permission){
        console.log(permission);
        if("granted" === permission){
            console.log("用户允许了桌面通知");
        }
        else{
            console.log("用户拒绝了桌面通知");
        }
    });

    // 显示消息
    function show_mes(mes_dict){
        let form = mes_dict['form'];
        let to = mes_dict['to'];
        let mes = mes_dict['mes'];
        if(to === user_name && Notification.permission === "granted"){
            let notify = new Notification(`${form}对你说:`, {"body": mes});
        }

        let div = $("#dialogs");
        let str = `${form} 对 ${to} 说:${mes}\n`;
        div.html(div.html() + str);
    }

    let source = new EventSource("{{ url_for('sse.stream') }}");
    source.addEventListener("greeting", function(event){
        let data = JSON.parse(event.data);
        let notify = new Notification("title", {body:"hello"});
    });

//  end!
})
</script>
</html>