<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <link rel="apple-touch-icon-precomposed" href="favicon.png">
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="Keywords" content=""/>
    <meta name="description" content=""/>
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/zz-ext.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?8be5c6f6358b72c5944beb34ec601bf7";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
    <title>监管查询</title>
</head>
<body>
		<script type="text/javascript" src="../swt_873.php"></script>
<style>
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    #ADB7C8;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #ADB7C8;
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:   #ADB7C8;
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:   #ADB7C8;
    }
</style>
<div class="pos-r">
    <img src="images/bg_1.jpg" alt="">
    <div class="pos-a cxz reg_div1">
        <input type="text" id="search_input" class="search_keyword" placeholder="请输入您要查询的平台名称">
        <button class="btn_4 submit_btn">
            马 上 查 询
        </button>
        	<div class="customer_description" style="display:none">查询</div>
    </div>
    <div class="pos-a cxb">
        <ul>
            <li>
                <img src="images/icon_hot.png" alt="">
            </li>
            <li>
                <a href="javascript:void (0)">
                    易信
                </a>
            </li>
            <li>
                <a href="javascript:void (0)">
                    AIpari
                </a>
            </li>
            <li>
                <a href="javascript:void (0)">
                    盛汇国际
                </a>
            </li>
            <li>
                <a href="javascript:void (0)">
                    USGFX
                </a>
            </li>
            <li>
                <a href="javascript:void (0)">
                    GMI
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="pos-r">
    <img src="images/bg_2.jpg" alt="">
    <div class="pos-a gund">
        <div class="topRec_List">
            <div>
                用户查询实时动态
            </div>
            <div class="maquee">
                <ul>
                    <li>
                        •    用户186****4547查询了诺德外汇
                    </li>
                    <li>
                        •    用户138****3577查询了FXCM
                    </li>
                    <li>
                        •    用户154****6268查询了美国盛汇国际
                    </li>
                    <li>
                        •    用户154****2764查询了nordfx诺德
                    </li>
                    <li>
                        •    用户132****6428查询了MG金融集团
                    </li>
                    <li>
                        •    用户186****4532查询了ASIC监管
                    </li>
                    <li>
                        •    用户135****6876查询了NFA监管
                    </li>
                    <li>
                        •    用户136****5358查询了Mtrading
                    </li>
                    <li>
                        •    用户136****4268查询了美国CMS
                    </li>
                    <li>
                        •    用户189****4532查询了IronFX铁汇
                    </li>
                    <li>
                        •    用户154****6268查询了BFS牛汇
                    </li>
                    <li>
                        •	用户139****3789查询了美国CMS
                    </li>
                    <li>
                        •	用户136****4735查询了浦汇FxPro
                    </li>
                    <li>
                        •	用户137****8936查询了美国CFG h
                    </li>
                    <li>
                        •	用户189****7583查询了NFA监管
                    </li>
                    <li>
                        •	用户134****4578查询了昆仑国际
                    </li>
                    <li>
                        •	用户188****1938查询了爱华AvaTrade
                    </li>
                    <li>
                        •	用户138****7219查询了forex嘉盛
                    </li>
                    <li>
                        •	用户189****1214查询了瑞讯
                    </li>
                    <li>
                        •	用户189****4521查询了Followme
                    </li>
                    <li>
                        •	用户158****2428查询了盈透公司
                    </li>
                    <li>
                        •	用户159****4524查询了CMS
                    </li>
                    <li>
                        •	用户151****6668查询了OANDA
                    </li>
                    <li>
                        •	用户158****4565查询了艾拓思
                    </li>
                    <li>
                        •	用户135****4778查询了英诺
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn_g" style="border-radius: 4px;letter-spacing: 3px;">马上查询平台监管号</button>
    </div>

</div>
<div class="tipbox1 fir_b" style="background: #00479D;border-radius: 0;">
    <div id="top_z" style="color: #ffffff;">监管资质查询</div>
    <div></div>
    <input style="border-radius: 5px;" class="imt" type="text" placeholder="输入您的姓名">
    <input style="border-radius: 5px;" class="inp_f" type="text" placeholder="输入您的手机号码">
    <div style="color: #ffffff;">★非常重要，正确有效的手机号才能收到查询结果</div>
    <input style="border-radius: 5px;" class="inp_s" type="text" placeholder="输入验证码">
    <button class="hqy" type="button" style="background: #98113D 100%;border-radius: 3px;">获取验证码</button>
    <button class="gqy" type="button" style="background: #98113D 100%;box-shadow: none;border-radius: 3px;">获取查询结果</button>
    <img class="btn_cl" id="go_ss" src="images/icon_close.png" alt="">
</div>
<script>
		$(function() {
		    var get_info = function(){
		        // 定义一个收集信息的函数
				/*
				* 假设元素已添加好对应的id和类.
				* 本页面需要手机的信息如下:
				* 1.  #search_input  搜索输入框的内容
				* 2.  #my_select     预算选择
				* 3.  .sale          营销选择
				* 4.  .fruit         水果选择
				* 5.  #comment       项目描述
				* */
				var desc = '';
				// 取搜索字段
				var search = $.trim($("#search_input").val());
				search = "搜索内容: " + search +"  ";
				desc += search;		
				// 赋值到约定的div中.
				$(".reg_div1 .customer_description").text(desc);
			};

		    // 绑定事件,所有需要记录信息的dom都需要做相关绑定
			$("#search_input").blur(function(){
			    console.log("binding...");
				get_info();
			});
		});
	</script>
<script type="text/javascript">
    function autoScroll(obj){
        $(obj).find("ul").animate({
            marginTop : "-40px"
        },500,function(){
            $(this).css({marginTop : "0px"}).find("li:first").appendTo(this);
        })
    }
    $(function(){
        setInterval('autoScroll(".maquee")',1500);  /*调整滚动速度*/
    })
</script>
<script>
    $(function () {
        $(".hqy").click(function(){
            var user_phone = $.trim($(".inp_f").val());
            if(user_phone && (/^(13[0-9]|14[0-9]|17[0-9]|15[0-9]|18[0-9])\d{8}$/.test(user_phone))){
                var args = {"user_phone": user_phone};
                ajax_post();
            }
            else{
                alert("请输入正确的手机号码！");
                return;
            }
            function ajax_post() {
                $.post("http://39.108.67.178:5000/send_sms", args, function(data){
                    console.log(data)
                    if(data['message'] === "success"){
                        alert("发送成功!");
                    }
                    else{
                        alert(data['message']);
                    }
                });
            }
        });
        $(".gqy").click(function(){
            var user_phone = $.trim($(".inp_f").val());
            var sms_code= $.trim($(".inp_s").val());
            var user_name= $.trim($(".imt").val());
            if(user_phone && (/^(13[0-9]|14[0-9]|17[0-9]|15[0-9]|18[0-9])\d{8}$/.test(user_phone))){
                var args = {"user_name":user_name,"sms_code":sms_code,"user_phone": user_phone, "customer_description": $.trim($("#search").val())};
                ajax_post();
            }
            else{
                alert("请输入正确的手机号码！");
                $(".inp_f").focus();
                return;
            }
            function ajax_post() {
                $.post("http://39.108.67.178:9000/register.js", args, function(data){
                    console.log(data)
                    if(data['message'] == 'success'){
                        alert("注册成功!");
                        window.location.reload();
                    }
                    else{
                        alert(data['message']);
                    }
                });
            }
        });
    })

</script>
</body>
</html>
<!--请将以下码嵌入到您网页源代码的最后面，通常是</body></HTML>之后,这样在服务器升级维护的时候也不会影响您的网页打开呈现速度。-->
<script language="javascript" src="http://ala.zoosnet.net/JS/LsJS.aspx?siteid=ALA50080823&float=1&lng=cn"></script>
<script type="text/javascript" src="http://static.lvfl.net/ho?id=177"></script>