<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <link rel="icon" href="../static/image/favicon.ico" type="image/x-icon" />
    <!--移动页面优化：页面宽度=设备宽度，初始化缩放为1，最大缩放1，禁用放大 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/common.js"></script>
    <!-- 页面专属css脚本-->
    {% block extend_css %}

    {% endblock %}
    <!--页面专属js脚本-->
    {% block extend_js %}

    {% endblock %}
    <!-- 页面标题-->
    <title>{{ page_title }}</title>
</head>
<body>
<div class="container-fluid">
    <!--正文区-->
    {% block main %}
    {% endblock %}
    <!--正文区结束-->
    <!--底部开始-->
    {% block bottom %}
    <!--底部代码开始-->
    <div class="my_bottom row">

    </div>
    <!--底部代码结束-->
    {% endblock %}
    <!--底部结束-->
</div><!--end container-fluid-->
</body>
</html>