<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
		<meta name="screen-orientation" content="portrait" />

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>我的红包</title>
		<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
		<script type="text/javascript" src="/static/js/common.js"></script>

	</head>

	<body>
		<div class="wrapIn">

			<div class="wrap">
				<ul class="redLogBundle-nav">
					<li class="on">
						<a href="/user/html/RedLogBundle.html">可用红包</a>
					</li>
					<li>
						<a href="/user/html/RedLoghistory.html">红包记录</a>
					</li>
				</ul>
				<div class="redLogBundle-list">
					<div class="titleText">
						<p class="leftText">体验金盈利</p>
						<p class="rightText">
							<span>5积分</span>
							<a href="">去完成</a>
						</p>
					</div>
					体验金交易满2手、盈利15%以上，完成首次入金后即可兑现(美 元/人民币和CFD产品不参与活动)，每位用户仅可领取一次(注册 后60日内兑现)。
					<p class="dataText">兑换有效期截止至 2018-08-14 09:40</p>
				</div>
				<div class="redLogBundle-list">
					<div class="titleText">
						<p class="leftText">好友邀请</p>
						<p class="rightText">
							<span>10积分</span>
							<a href="">去完成</a>
						</p>
					</div>
					体验金交易满2手、盈利15%以上，完成首次入金后即可兑现(美 元/人民币和CFD产品不参与活动)，每位用户仅可领取一次(注册 后60日内兑现)。
					<p class="dataText">兑换有效期截止至 2018-08-14 09:40</p>
				</div>

				<div class="redLogBundle-list">
					<div class="titleText">
						<p class="leftText">首次入金专享</p>
						<p class="rightText">
							<span>500积分</span>
							<a href="">去完成</a>
						</p>
					</div>
					体验金交易满2手、盈利15%以上，完成首次入金后即可兑现(美 元/人民币和CFD产品不参与活动)，每位用户仅可领取一次(注册 后60日内兑现)。
					<p class="dataText">兑换有效期截止至 2018-08-14 09:40</p>
				</div>
			</div>
            <!--
			<div class="userFooter">
				<li>

					<a href="index.html"> <img src="/static/images/icon3.png" />跟单</a>
				</li>
				<li>
					<a href="user.html"><img src="/static/images/icon4.png" />我的</a>
				</li>
			</div>
            -->
		</div>
	</body>

</html>