a,
body,
button,
dd,
div,
dl,
dt,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
input,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
ul {
  list-style: none;
}
img {
  border: 0 none;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
h3 {
  font-weight: 600;
}
a {
  color: #4e4e4e;
}
body {
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: none;
  background: #fff;
  color: #4e4e4e;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 0;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular, sans-serif, "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
  line-height: 1.42857;
}
body,
html {
  height: 100%;
}
img {
  max-width: 100%;
}
.wrapIn {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}
.wrapUser {
  margin: 0 auto;
  width: 7.5rem;
  position: relative;
  background: url(../images/bannerbg.png) no-repeat center 0;
  background-size: 100% auto;
  -webkit-flex: 1;
  flex: 1;
  overflow-y: auto;
}
.top-navlist {
  padding: 0 0.25rem;
  text-align: right;
}
.top-navlist a {
  display: inline-block;
  padding: 0.1rem 0 0.1rem 0.3rem;
}
.top-navlist a img {
  width: 0.36rem;
}
.topUserlist {
  margin: 0.84rem 0.25rem 0;
  position: relative;
  background: #fff;
  border-radius: 0.1rem 0.1rem 0 0;
  padding: 0.08rem 0.3rem 0.4rem;
  color: #b3b3b3;
}
.topUserlist .p-head {
  position: relative;
  color: #535353;
  padding-bottom: 0.46rem;
  font-size: 0.36rem;
}
.topUserlist .p-head img {
  width: 1.6rem;
  margin-top: -0.8rem;
  margin-right: 0.15rem;
  margin-left: 0.2rem;
  border-radius: 1.6rem;
}
.topUserlist .p-head span {
  display: inline-block;
}
.topUserlist .integral-list {
  display: -webkit-flex;
  display: flex;
  padding: 0 0.3rem 0.4rem;
  text-align: center;
}
.topUserlist .integral-list li {
  width: 1%;
  -webkit-flex: 1;
  flex: 1;
}
.topUserlist .integral-list li p {
  font-size: 0.28rem;
  color: #535353;
}
.topUserlist .integral-list li a {
  color: #b3b3b3;
}
.topUserlist .applyFor-btn {
  text-align: center;
  border-top: 1px dashed #B3B3B3;
  padding-top: 0.3rem;
}
.topUserlist .applyFor-btn p {
  padding-bottom: 0.15rem;
}
.topUserlist .applyFor-btn button {
  background: -webkit-linear-gradient(left, #f5e077, #f5c15d);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #f5e077, #f5c15d);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f5e077, #f5c15d);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f5e077, #f5c15d);
  /* 标准*/
  padding: 0.12rem 0.75rem;
  font-size: 0.3rem;
  border-radius: 0.55rem;
}
.ulList-nav {
  padding: 0 0 0 0.85rem;
}
.ulList-nav li {
  padding-bottom: 0.051rem;
}
.ulList-nav li a {
  display: block;
  padding: 0.16rem 0;
  color: #343434;
  font-size: 0.3rem;
}
.userFooter {
  text-align: center;
}
.userFooter li {
  display: inline-block;
  padding: 0 0.2rem;
  color: #afafaf;
}
.userFooter li a {
  color: #afafaf;
  padding: 0.2rem 0.25rem;
  display: block;
}
.userFooter li img {
  height: 0.6rem;
  display: block;
  margin: 0 auto;
  padding-bottom: 0.1rem;
}
.userFooter li:last-child {
  color: #333;
}
.userFooter li:last-child a {
  color: #333;
}
.helpList {
  padding: 0.2rem;
}
.helpList .li-tab {
  border-top: solid #ffd700 1px;
  padding: 0.42rem 0 0.45rem;
  text-align: center;
}
.helpList .li-tab h3 {
  font-size: 0.36rem;
  color: #FFD700;
}
.helpList .li-tab h3 span {
  padding-bottom: 5px;
  position: relative;
}
.helpList .li-tab h3 span:after {
  content: '';
  height: 0.05rem;
  background: #FFD700;
  width: 0.76rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -0.38rem;
}
.helpList .divList {
  display: none;
}
.helpList .divList dl {
  border-bottom: solid #ffd700 1px;
  padding: 0.35rem 0;
}
.helpList .divList dl dt {
  font-size: 0.46rem;
  color: #FFD700;
  padding-bottom: 0.21rem;
}
.helpList .divList dl dd {
  font-size: 0.3rem;
  color: #0b0b0b;
}
.wrap {
  margin: 0 auto;
  width: 7.5rem;
  position: relative;
  -webkit-flex: 1;
  flex: 1;
  overflow-y: auto;
}
.redLogBundle-nav {
  display: -webkit-flex;
  display: flex;
  padding: 0 20% 4%;
}
.redLogBundle-nav li {
  -webkit-flex: 1;
  flex: 1;
  width: 1%;
  font-size: 0.28rem;
  text-align: center;
}
.redLogBundle-nav li a {
  padding: 0.25rem 0.15rem;
  display: block;
  margin: 0 0.1rem;
  color: #8b8b8b;
  position: relative;
}
.redLogBundle-nav .on a {
  color: #222;
}
.redLogBundle-nav .on a:after {
  content: '';
  height: 0.05rem;
  background: #FFD700;
  width: 0.56rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -0.28rem;
}
.redLogBundle-list {
  padding: 0.35rem 0.35rem;
  color: #636363;
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.15);
  margin: 0 0.3rem 0.4rem;
  position: relative;
}
.redLogBundle-list:after,
.redLogBundle-list:before {
  background: url(../images/red-icon2.jpg) no-repeat;
  background-size: 0.3rem 0.44rem;
  content: '';
  height: 0.44rem;
  width: 0.3rem;
  position: absolute;
  bottom: 0;
  left: -0.1rem;
  top: 50%;
  margin-top: -0.22rem;
}
.redLogBundle-list:before {
  left: inherit;
  right: -0.1rem;
  background: url(../images/red-icon.jpg) no-repeat;
  background-size: 0.3rem 0.44rem;
}
.redLogBundle-list .titleText {
  padding-bottom: 0.25rem;
  color: #191919;
  font-size: 0.42rem;
  display: -webkit-flex;
  display: flex;
}
.redLogBundle-list .titleText .leftText {
  -webkit-flex: 1;
  flex: 1;
  padding-top: 0.25rem;
  padding-right: 0.2rem;
}
.redLogBundle-list .titleText .rightText {
  text-align: right;
  color: #df5e5e;
  font-size: 0.52rem;
  line-height: 1.1;
}
.redLogBundle-list .titleText .rightText span {
  display: block;
}
.redLogBundle-list .titleText .rightText a {
  border: 1px solid #df5e5e;
  padding: 0.08rem 0.25rem;
  font-size: 0.28rem;
  color: #df5e5e;
  display: inline-block;
  border-radius: 0.08rem;
}
.redLogBundle-list .dataText {
  color: #999;
  padding-top: 0.08rem;
}
.invitation-Info {
  box-shadow: -0.01rem 0.01rem 0.064rem 0.064rem rgba(0, 0, 0, 0.1);
  margin: 0.3rem;
  padding: 0.3rem 0.3rem 0.4rem;
  background: url(../images/HUIYING-ZHINENG.png) no-repeat 94% 0.42rem;
  background-size: 1.91rem auto;
  border-radius: 0.1rem;
  color: #3a3a3a;
}
.invitation-Info .h3Text {
  font-size: 0.48rem;
  line-height: 1.3;
}
.invitation-Info .textMiddle {
  padding: 1.1rem 0;
  text-align: center;
  font-size: 0.36rem;
}
.invitation-Info .text-num {
  display: -webkit-flex;
  display: flex;
}
.invitation-Info .text-num li {
  -webkit-flex: 1;
  flex: 1;
  width: 1%;
  text-align: center;
  font-size: 0.28rem;
}
.invitation-Info .text-num li span {
  color: #a0a0a0;
}
.invitation-explain {
  padding: 0.1rem 0.45rem 0.25rem;
}
.invitation-explain p {
  padding: 0.1rem 0;
}
.plr03 {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.pb02 {
  padding-bottom: 0.2rem;
}
.button-link {
  background: -webkit-linear-gradient(left, #f5e077, #f5c15d);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #f5e077, #f5c15d);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #f5e077, #f5c15d);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #f5e077, #f5c15d);
  /* 标准*/
  padding: 0.22rem 0;
  font-size: 0.3rem;
  width: 100%;
  border-radius: 0.1rem;
}
.standings-ppt {
  height: 3rem;
  overflow: hidden;
  position: relative;
}
.standings-ppt img {
  height: 3rem;
  width: 100%;
}
.standings-Tab {
  margin: 0 0.25rem;
  overflow: hidden;
}
.standings-Tab .hd {
  border-bottom: 1px solid #e4e4e4;
  display: -webkit-flex;
  display: flex;
  text-align: right;
  color: #ccc;
  font-size: 0.2rem;
  padding: 0;
}
.standings-Tab .hd ul {
  flex: 1;
  font-size: 0.32rem;
  text-align: left;
  color: #adadad;
}
.standings-Tab .hd ul li {
  display: inline-block;
  padding: 0.2rem 0.23rem;
}
.standings-Tab .hd ul .on {
  color: #333333;
}
.standings-Tab .hd span {
  padding-top: 0.28rem;
  display: inline-block;
}
.standings-Tab .bd {
  margin: 0.1rem 0;
}
.standings-Tab .bd li {
  border-bottom: 1px solid #e4e4e4;
  padding: 0.2rem 0;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  align-items: center;
}
.standings-Tab .bd li .p-img {
  width: 1.9rem;
  color: #333;
}
.standings-Tab .bd li .p-img img {
  display: block;
  width: 0.75rem;
  border-radius: 0.75rem;
  height: 0.75rem;
  margin: 0 auto 0.1rem;
}
.standings-Tab .bd li .num,
.standings-Tab .bd li .history {
  color: #999;
  font-size: 0.2rem;
  width: 1.6rem;
}
.standings-Tab .bd li .num span,
.standings-Tab .bd li .history span {
  display: block;
  color: #cc0000;
  font-size: 0.28rem;
}
.standings-Tab .bd li .history span {
  display: block;
  color: #333;
  font-size: 0.3rem;
}
.standings-Tab .bd li .p-btn {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  padding: 0 0.1rem;
}
.standings-Tab .bd li .p-btn a {
  display: block;
  padding: 0.1rem 0;
  font-size: 0.28rem;
}
.crunchy-topText {
  display: -webkit-flex;
  -webkit-flex: flex;
  padding: 0.3rem;
  min-height: 1.36rem;
  align-items: center;
}
.crunchy-topText .p-img {
  padding-right: 0.2rem;
}
.crunchy-topText .p-img img {
  width: 1.36rem;
  height: 1.36rem;
  border: 1px solid #f0f0f0;
  border-radius: 1.36rem;
}
.crunchy-topText .right-text {
  display: -webkit-flex;
  -webkit-flex: flex;
  -webkit-flex: 1;
  flex: 1;
  align-items: center;
  color: #999;
}
.crunchy-topText .right-text .name {
  -webkit-flex: 1;
  flex: 1;
  padding-right: 0.2rem;
}
.crunchy-topText .right-text .name span {
  display: block;
  color: #333;
  font-size: 0.45rem;
}
.crunchy-topText .right-text .num {
  border-left: 1px solid #f0f0f0;
  padding-left: 0.2rem;
  width: 1.9rem;
  text-align: center;
  margin-top: 0.1rem;
}
.crunchy-topText .right-text .num span {
  display: block;
  color: #f00;
  font-size: 0.28rem;
}
.crunchy-tabList {
  margin: 0 0.3rem 0.3rem;
  display: -webkit-flex;
  -webkit-flex: flex;
}
.crunchy-tabList li {
  -webkit-flex: 1;
  flex: 1;
  color: #cccccc;
  text-align: center;
}
.crunchy-tabList li a {
  display: block;
  padding: 0.15rem 0;
  background: #f2f2f2;
  border: 1px solid #F2F2F2;
  color: #cccccc;
}
.crunchy-tabList .on {
  background: #fff;
  color: #333;
}
.crunchy-tabList .on a {
  background: #fff;
  color: #333;
}
.redLogHistory {
  padding: 0 0.35rem 0.3rem;
}
.redLogHistory li {
  border-top: 1px solid #f0f0f0;
  padding: 0.3rem 0;
  display: -webkit-flex;
  -webkit-flex: flex;
  align-items: center;
}
.redLogHistory li .leftText {
  -webkit-flex: 1;
  flex: 1;
  color: #999;
}
.redLogHistory li .leftText p {
  font-size: 0.3rem;
}
.redLogHistory li .rightNum {
  font-size: 0.34rem;
  color: #999;
}
.redLogHistory li .color12cb1b {
  color: #12cb1b;
}
.crunchyWrap {
  margin: 0 auto;
  width: 7.5rem;
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex: 1;
  flex: 1;
  overflow-y: auto;
}
.crunchy-InfoText {
  display: -webkit-flex;
  -webkit-flex: flex;
  height: 100%;
  flex-direction: column;
}
.crunchy-InfoText .crunchy-wrap {
  -webkit-flex: 1;
  flex: 1;
  overflow-y: auto;
}
.crunchy-InfoText .crunchy-wrap .textTop {
  padding: 0.15rem 0.3rem;
  text-align: right;
  color: #ccc;
  display: -webkit-flex;
  -webkit-flex: flex;
}
.crunchy-InfoText .crunchy-wrap .textTop p {
  -webkit-flex: 1;
  flex: 1;
  color: #333;
  text-align: left;
  font-size: 0.3rem;
}
.crunchy-InfoText .crunchy-wrap .textHint {
  text-align: center;
  color: #ccc;
  padding: 0.2rem 0;
}
.crunchy-InfoText .crunchy-wrap .tongjiTitle {
  font-size: 0.3rem;
  color: #333;
  padding-left: 0.3rem;
}
.crunchy-InfoText .crunchy-wrap .tongji {
  overflow: hidden;
  font-size: 0;
}
.crunchy-InfoText .crunchy-wrap .tongji li {
  display: inline-block;
  width: 33.33333%;
  color: #ccc;
  text-align: center;
  margin-top: 0.3rem;
  font-size: 0.24rem;
}
.crunchy-InfoText .crunchy-wrap .tongji li p {
  font-size: 0.3rem;
  color: #333;
}
.crunchy-InfoText .crunchy-btn {
  padding: 0.3rem;
}
.currentCrunchy {
  padding: 0.15rem 0.3rem 0;
}
.currentCrunchy li {
  display: -webkit-flex;
  -webkit-flex: flex;
  border-bottom: 1px solid #f0f0f0;
  padding: 0.3rem 0;
  color: #999;
  text-align: center;
}
.currentCrunchy li p {
  color: #8b8b8b;
  font-size: 0.3rem;
}
.currentCrunchy li .textList {
  width: 1.6rem;
  text-align: left;
}
.currentCrunchy li .priceText {
  width: 1.9rem;
}
.currentCrunchy li .earnings {
  -webkit-flex: 1;
  flex: 1;
}
.currentCrunchy li .earnings p {
  color: #e41414;
}
.currentCrunchy li .earnings .color12cb1b {
  color: #12CB1B;
}
.pay-list {
  padding: 0.3rem;
}
.pay-list li {
  padding-bottom: 0.5rem;
  color: #2c2c2c;
}
.pay-list li .spanText {
  padding-right: 0.2rem;
  display: inline-block;
}
.pay-list li .p-ritghtText {
  -webkit-flex: 1;
  flex: 1;
}
.pay-list li .p-ritghtText select {
  width: 100%;
  height: 0.4rem;
}
.pay-list li .inputText {
  font-size: 0.54rem;
  color: #333;
  padding: 0.2rem 0 0.3rem;
  border-bottom: 1px solid #F0F0F0;
  width: 100%;
}
.pay-list .liText {
  display: -webkit-flex;
  -webkit-flex: flex;
  align-items: center;
}
.pay-list .Hint {
  display: -webkit-flex;
  -webkit-flex: flex;
  padding-top: 0.2rem;
  color: #6a6a6a;
}
.pay-list .Hint p {
  -webkit-flex: 1;
  flex: 1;
  text-align: right;
  color: #dddddd;
}
.pb03 {
  padding-bottom: 0.3rem;
}
.pl03 {
  padding-left: 0.3rem;
}
.topNavlist {
  display: -webkit-flex;
  -webkit-flex: flex;
  align-items: center;
  text-align: center;
  padding: 0.15rem 0.1rem;
}
.topNavlist a {
  display: block;
}
.topNavlist .goHistory {
  width: 0.8rem;
}
.topNavlist .goHistory img {
  width: 0.26rem;
}
.topNavlist .title {
  font-size: 0.3rem;
  color: #000;
  -webkit-flex: 1;
  flex: 1;
}
.topNavlist .bank {
  width: 0.8rem;
}
.topNavlist .bank img {
  width: 0.4rem;
}
/*# sourceMappingURL=index.css.map */
