.upmorelist
    >i
        font-size 24px

.edit_dom
    border 1px solid #9abbd3
    padding 4px 10px
    background-color #e1fbf3

.title
    .fa-save
        display none
        margin-left 10px
.flex_row_left
    display flex
    flex-direction row
    justify-content flex-start
    align-items baseline
    .fa-save
        display none
        margin-left 10px
    >#edit_teacher_name
        font-size 24px
        margin-left 15px
    >#edit_teacher_feature,#edit_teacher_resume
         margin-left 15px

/*自定义模态框样式*/
.modal_outer
    position absolute
    top 0
    left 0
    width 100%
    min-height 100%
    height auto
    background-color rgba(125, 124, 125, 0.5)
    z-index 99
    display none
    .modal_inner
        margin-top 5%
        width 95%
        margin-left 2.49%
        display flex
        flex-direction row
        justify-content center
        >#select_image
            display none
        >.modal_stage
            width 100%
            display flex
            flex-direction column
            justify-content center
            align-items center
            >.top
                width 100%
                display flex
                flex-direction row
                justify-content flex-end
                >.fa
                    display block
                    font-size 28px
                    color gray
                    margin-right 5px
                    margin-bottom -20px
            >.up
                width 100%
                //min-height 400px
                display flex
                flex-direction row
                justify-content center
                padding 30px 10px 10px
                >#view_image
                    width 400px
                    height auto
                    max-width 800px
                    max-height 600px
            >.down
                margin-top 10px
                width 100%
                display flex
                flex-direction row
                justify-content space-around
                >.submit_btn
                    font-size 16px
                    width 9em
                    padding 5px 10px
                    border-radius 4px
                >#submit_select
                    background-color #50b2fe
                    border-color #2e74e1
                    color white
                >#reselect
                    color gray

