.upmorelist >i {
  font-size: 24px;
}
.edit_dom {
  border: 1px solid #9abbd3;
  padding: 4px 10px;
  background-color: #e1fbf3;
}
.title .fa-save {
  display: none;
  margin-left: 10px;
}
.flex_row_left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.flex_row_left .fa-save {
  display: none;
  margin-left: 10px;
}
.flex_row_left >#edit_teacher_pw {
  font-size: 18px;
  display: block;
  margin-left: 25px;
}
.flex_row_left >#edit_teacher_feature,
.flex_row_left #edit_teacher_resume {
  margin-left: 15px;
}
/*自定义模态框样式*/
.modal_outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: rgba(125,124,125,0.5);
  z-index: 99;
  display: none;
  text-align: center;
}
.modal_outer .modal_inner {
  margin-top: 5%;
  width: 95%;
  margin-left: 2.49%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.modal_outer .modal_inner >#select_image {
  display: none;
}
.modal_outer .modal_inner >.modal_stage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal_outer .modal_inner >.modal_stage >.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.modal_outer .modal_inner >.modal_stage >.top >.fa {
  display: block;
  font-size: 28px;
  color: #808080;
  margin-right: 5px;
  margin-bottom: -20px;
}
.modal_outer .modal_inner >.modal_stage >.up {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 10px 10px;
}
.modal_outer .modal_inner >.modal_stage >.up >#view_image {
  width: 400px;
  height: auto;
  max-width: 800px;
  max-height: 600px;
}
.modal_outer .modal_inner >.modal_stage >.down {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.modal_outer .modal_inner >.modal_stage >.down >.submit_btn {
  font-size: 16px;
  width: 9em;
  padding: 5px 10px;
  border-radius: 4px;
}
.modal_outer .modal_inner >.modal_stage >.down >#submit_select {
  background-color: #50b2fe;
  border-color: #2e74e1;
  color: #fff;
}
.modal_outer .modal_inner >.modal_stage >.down >#reselect {
  color: #808080;
}
#edit_pw_modal .modal_inner {
  margin-top: 26%;
  margin-left: calc((100% - 300px) / 2);
  background-color: #fff;
  width: 300px;
  text-align: center;
}
#edit_pw_modal .modal_inner .modal_stage {
  width: 100%;
  padding: 0 20px;
}
#edit_pw_modal .modal_inner .modal_stage .top {
  justify-content: center;
  color: #a3a3a3;
}
#edit_pw_modal .modal_inner .modal_stage .top >h3 {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
  font-weight: 700px;
  font-size: 18px;
  text-align: center;
}
#edit_pw_modal .modal_inner .modal_stage .up {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
#edit_pw_modal .modal_inner .modal_stage .up >.modal_line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
#edit_pw_modal .modal_inner .modal_stage .up >.modal_line >label {
  font-size: 16px;
  color: #a3a3a3;
  width: 6em;
  text-align: left;
}
#edit_pw_modal .modal_inner .modal_stage .up >.modal_line >input {
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  font-size: 16px;
  background-color: #ececec;
  width: calc(100% - 6em);
}
#edit_pw_modal .modal_inner .modal_stage .down {
  padding: 0 0 30px;
}
#edit_pw_modal .modal_inner .modal_stage .down >.submit_btn {
  width: 6em;
}
#edit_pw_modal .modal_inner .modal_stage .down >#change_pw {
  background-color: #2e74e1;
  color: #fff;
}
