html
    font-size 14px
    color #4e4e4e

.top_block
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    font-size 18px
    color #7e7e7e
    padding 15px 10px
    >a
        font-size 14px

.price_block
    font-size 16px
    padding 20px 10px
    .price_zone
        width 100%
        display flex
        flex-direction row
        justify-content center
        align-items center
        >span
            width 30%
            text-align center
            display inline-block
        .buy_price
            color #e35e57
        .sell_price
            color #5ec679
    .now_zone
        width 100%
        display flex
        flex-direction row
        justify-content flex-end
        .now
            display block
            font-size 14px
            width 20em
            height 1em
            text-align right

.process_block
    font-size 16px
    padding 20px 10px
    .user_info
        margin-bottom 10px
    .user_info,.select_zone, .process_case
        padding 10px 10px
        width 100%
        display flex
        flex-direction row
        justify-content center
        align-items center
        >span,label,input
            width 50%
            border none
        #buy_it,#sell_it
            width calc((100% - 20px)/2)
            margin-top 20px
            height 3em
            border-radius 4px
            margin-bottom 20px
        #buy_it
            margin-right 10px
            background-color #e35e57
            border 1px solid #e35e57
        #sell_it
            margin-left 10px
            background-color #5ec679
            border 1px solid #5ec679



