html
    font-size 14px
    color grey

.top_block
    display flex
    flex-direction row
    justify-content center
    padding 20px 10px
    background-color #e6e6e6
    border-bottom 1px solid lightgrey
    .left, .right
        font-size 20px
        color #fff
        background-color: #5e87fe
        text-align center
        padding 5px 10px 5px 20px
        border-radius 4px 0 0 4px
        margin 1px
        border: 1px solid #3085b5
        box-shadow 2px 2px 4px #c2c2c2
    .right
        padding 5px 20px 5px 10px
        border-radius 0 4px 4px 0


.middle_block
    font-size 16px
    .price_list
        margin 5px 10px 10px 10px
        width 100%
        .line
            font-size 14px
            width 100%
            padding 10px 0 5px 0
            border-bottom 1px solid lightgrey
            display flex
            flex-direction row
            justify-content center
            .cell
                display inline-block
                width 25%
                text-align center