{% extends "admin_template.html" %}
{% block extend_js %}
    <script src="../static/js/admin_cases.js"></script>
{% endblock %}
{% block extend_css %}
    <link rel="stylesheet" href="../static/css/admin_cases.css">
{% endblock %}
{% block main %}
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="small_nav col-lg-7 col-md-7">
{#                <div id="batch_count">共计 {{ case_count }} 个赔案</div>#}
            </div>
            <div class="search_bar col-lg-5 col-md-5">
                <div class="input-group input-group-sm">
                    <input id="key_word" type="text" class="form-control" placeholder="">
                    <div class="input-group-btn">
                        <button id="current_class" data-name="customer_alias" type="button"
                                class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">所属用户<span class="caret"></span></button>
                        <ul id="select_class" class="dropdown-menu dropdown-menu-right">
                            <li><a data-name="customer_alias" href="#">所属用户</a></li>
                            <li><a data-name="batch_name" href="#">批次号</a></li>
                            <li><a data-name="case_name" href="#">赔案号</a></li>
                        </ul>
                        <button id="launch_search" class="btn btn-primary btn-group-xs">Go</button>
                    </div><!-- /btn-group -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table id="request_table" class="table table-hover">
                <tr>
                    <th>赔案号</th>
                    <th>批次号</th>
                    <th>用户</th>
                    <th>完成度</th>
                    <th>操作</th>
                </tr>
                {% for case in case_data %}
                    <tr id="{{ case.case_sn }}">
                        <td class="case_sn" style="display:none">{{ case.case_sn }}</td>
                        <td class="case_name">{{ case.case_name }}</td>
                        <td class="batch_name">{{ sn_batch[case.batch_sn] }}</td>
                        <td class="company_alias">{{ sn_alias[case.customer_sn] }}</td>
                        <td class="customer_sn" style="display:none">{{ case.customer_sn }}</td>
                        <td class="my_per">{{ case.finish_count }} / {{ case.image_count}}</td>
                        <td class="not"><a href="/manage_tickets?term=case_sn&key_word={{ case.case_sn }}"><button class="btn btn-xs btn-primary">查看</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <!-- 底部分页 -->
    <div class="row text-center">
        <nav aria-label>
            <ul id="page_list" class="pagination">
                <li class="{{ 'disabled' if index_range[0] == 1 else '' }}"><a
                        href="/manage_cases?index={{ prev_index }}" aria-label="Previous"><span
                        aria-hidden="true">&laquo;</span></a></li>
                {% for index in index_range %}
                    <li class="{{ 'active' if index == current_index else '' }}">
                        <a href="/manage_cases?index={{ index }}">{{ index }}</a>
                    </li>
                {% endfor %}
                <li class="{{ 'disabled' if index_range[-1] == max_index else '' }}"><a
                        href="/manage_case?index={{ next_index }}" aria-label="Next"><span
                        aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
    </div>
    <!--SFTP信息弹出框-->
    <div class="sftp-outer">
        <div class="sftp-inner">
            <h4 class="h4 blue">
                发送通知邮件
            </h4>
            <table class="table table-striped">
                <tr>
                    <td class="blue">邮件标题</td>
                    <input type="hidden" id ="mail_customer_sn">
                    <td><input style="width:100%" id="title" placeholder="请输入邮件标题"></td>
                </tr>
                 <tr>
                    <td class="blue">邮件正文</td>
                    <td>
                        <textarea style="width:100%; min-height: 100px" id="content" placeholder="请输入邮件正文"></textarea>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary btn-md" id="send_mail_btn">发送</button>
            <button class="btn btn-default btn-md" id="close_sftp_div">关闭</button>
        </div>
    </div>
    <!--SFTP信息弹出框结束-->
{% endblock %}

