{% extends "admin_template.html" %}
{% block extend_js %}
    <script src="../static/js/admin_batches.js"></script>
{% endblock %}
{% block extend_css %}
    <link rel="stylesheet" href="../static/css/admin_batches.css">
{% endblock %}
{% block main %}
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="small_nav col-lg-7 col-md-7">
                <div id="batch_count">共计 {{ batch_count }} 个批次</div>
            </div>
            <div class="search_bar col-lg-5 col-md-5">
                <div class="input-group input-group-sm">
                    <input id="key_word" type="text" class="form-control" placeholder="">
                    <div class="input-group-btn">
                        <button id="current_class" data-name="customer_alias" type="button"
                                class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">所属用户<span class="caret"></span></button>
                        <ul id="select_class" class="dropdown-menu dropdown-menu-right">
                            <li><a data-name="customer_alias" href="#">所属用户</a></li>
                            <li><a data-name="batch_name" href="#">批次号</a></li>
                        </ul>
                        <button id="launch_search" class="btn btn-primary btn-group-xs">Go</button>
                    </div><!-- /btn-group -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table id="request_table" class="table table-hover">
                <tr>
                    <th>批次</th>
                    <th>用户</th>
                    <th>开始时间</th>
                    <th>md5校验</th>
                    <th>解压测试</th>
                    <th>人工校验</th>
                    <th>完成度</th>
                    <th>批次状态</th>
                    <th>最后处理时间</th>
                    <th>操作</th>
                </tr>
                {% for batch in batch_data %}
                    <tr id="{{ batch.batch_sn }}">
                        <td class="batch_sn" style="display:none">{{ batch.batch_sn }}</td>
                        <td class="batch_name" style="color: {{ 'black' if batch.batch_description == '' else 'red' }}">{{ batch.batch_name }}</td>
                        <td class="company_alias">{{ sn_alias[batch.customer_sn] }}</td>
                        <td class="customer_sn" style="display:none">{{ batch.customer_sn }}</td>
                        <td class="begin_datetime">{{ batch.begin_datetime }}</td>
                        <td style="color:{{ 'blue' if batch.check_md5 == 0 else ('red' if batch.check_md5 == -1 else ("green" if batch.is_uziped ==1 else "orange")) }}" class="check_md5">{{'wait' if batch.check_md5 == 0 else ('fail' if batch.check_md5 == -1 else ("success" if batch.is_uziped ==1 else "working")) }}</td>
                        <td style="color:{{ 'blue' if batch.is_uziped == 0 else ('red' if batch.is_uziped == -1 else ("green" if batch.to_supplier_ftp ==1 else "orange")) }}" class="is_uziped">{{'wait' if batch.is_uziped == 0 else ('fail' if batch.is_uziped == -1 else ("success" if batch.to_supplier_ftp ==1 else "working")) }}</td>
                        <td style="color:{{ 'blue' if batch.to_supplier_ftp == 0 else ('red' if batch.to_supplier_ftp == -1 else ("green" if batch.to_checked ==1 else "orange")) }}" class="to_supplier_ftp">{{'wait' if batch.to_supplier_ftp == 0 else ('fail' if batch.to_supplier_ftp == -1 else ("success" if batch.to_checked ==1 else "working")) }}</td>
                        <td class="my_per"><div>{{ batch.finish_count }} / {{ batch.case_count}} </div><div>{{ batch.image_count }}</div> </td>
                        <td class="to_checked">{{ ("<button class='btn btn-xs btn-primary' onclick=check($(this))>pass</button>"  if batch.to_checked == 1 else "<button class='btn btn-xs btn-primary' onclick=check($(this))>blocked</button>") | safe }}</td>
                        <td class="prev_datetime">{{ batch.prev_datetime }}</td>
                        <td class="not"><a href="/manage_cases?term=batch_sn&key_word={{ batch.batch_sn }}"><button class="btn btn-xs btn-primary">查看</button></a>
                            <button class="btn btn-xs btn-primary" data-sn="{{ batch.batch_sn }}" onclick="pop_mail($(this))">通知</button>
                            <button class="btn btn-xs btn-primary" data-sn="{{ batch.batch_sn }}" data-description="{{ batch.batch_description }}" onclick="pop_description($(this))">备注</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <!-- 底部分页 -->
    <div class="row text-center">
        <nav aria-label>
            <ul id="page_list" class="pagination">
                <li class="{{ 'disabled' if index_range[0] == 1 else '' }}"><a
                        href="/manage_batches?index={{ prev_index }}" aria-label="Previous"><span
                        aria-hidden="true">&laquo;</span></a></li>
                {% for index in index_range %}
                    <li class="{{ 'active' if index == current_index else '' }}">
                        <a href="/manage_batches?index={{ index }}">{{ index }}</a>
                    </li>
                {% endfor %}
                <li class="{{ 'disabled' if index_range[-1] == max_index else '' }}"><a
                        href="/manage_batches?index={{ next_index }}" aria-label="Next"><span
                        aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
    </div>
    <!--发送邮件弹出框-->
    <div class="sftp-outer">
        <div class="sftp-inner">
            <h4 class="h4 blue">
                发送通知邮件
            </h4>
            <table class="table table-striped">
                <tr>
                    <td class="blue">邮件标题</td>
                    <input type="hidden" id ="mail_customer_sn">
                    <td><input style="width:100%" id="title" placeholder="请输入邮件标题"></td>
                </tr>
                 <tr>
                    <td class="blue">邮件正文</td>
                    <td>
                        <textarea style="width:100%; min-height: 100px" id="content" placeholder="请输入邮件正文"></textarea>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary btn-md" id="send_mail_btn">发送</button>
            <button class="btn btn-default btn-md" id="close_sftp_div">关闭</button>
        </div>
    </div>
    <!--发送邮件弹出框结束-->

    <!--备注信息弹出框-->
    <div class="description-outer">
        <div class="description-inner">
            <h4 class="h4 blue">
                批次备注信息
            </h4>
            <table class="table table-striped">
                <tr>
                    <td>
                        <textarea id="batch_description" style="width:100%;min-height:150px"></textarea>
                    </td>
                </tr>

            </table>
            <button class="btn btn-default btn-md" id="close_description_div">关闭</button>
            <button class="btn btn-primary btn-md btn-primary" id="save_description_div">保存</button>
        </div>
    </div>
    <!--备注信息弹出框结束-->

{% endblock %}

