{% extends "admin_template.html" %}
{% block extend_js %}
    <script src="../static/js/admin_ticket.js"></script>
{% endblock %}
{% block extend_css %}
    <link rel="stylesheet" href="../static/css/admin_ticket.css">
{% endblock %}
{% block main %}
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="small_nav col-lg-3 col-md-3">
                <a class="btn btn-xs" href="#"><span>导出excel</span></a>
                <a class="btn btn-xs" href="#"><span>发送邮件</span></a>
            </div>
            <div class="search_bar col-lg-3 col-md-3">
                <div class="input-group input-group-sm">
                    <input id="begin_date" type="date" class="form-control">
                    <span class="input-group-addon">开始时间</span>
                </div>
            </div>
            <div class="search_bar col-lg-3 col-md-3">
                <div class="input-group input-group-sm">
                    <input id="end_date" type="date" class="form-control">
                    <span class="input-group-addon">结束时间</span>
                </div>
            </div>
            <div class="search_bar col-lg-3 col-md-3">
                <div class="input-group input-group-sm">
                    <input id="key_word" type="text" class="form-control">
                    <div class="input-group-btn">
                        <button id="current_class" data-name="ticket_id" type="button"
                                class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">选择客户 <span class="caret"></span></button>
                        <ul id="select_class" class="dropdown-menu dropdown-menu-right">
                            <li><a data-name="customer" href="#">客户</a></li>
                            <li><a data-name="supplier" href="#">供应商</a></li>
                        </ul>
                        <button id="launch_search" class="btn btn-primary btn-group-xs">Go</button>
                    </div><!-- /btn-group -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table id="ticket_table" class="table table-hover">
                <tr>
                    <th>客户</th>
                    <th>发票数</th>
                    <th>批次数</th>
                    <th>赔案数</th>
                    <th>完成度</th>
                    <th>上传时间</th>
                </tr>
                {% for item in data %}
                    <tr>
                        <td class="ticket_id">{{ item.cus_name }}</td>
                        <td class="h_name">{{ item.ticket_count }}</td>
                        <td class="h_type">{{ item.batch_count }}</td>
                        <td class="u_name">{{ item.case_count }}</td>
                        <td class="u_sex">{{ item.per }}%</td>
                        <td class="u_type">{{ item.date_range }}</td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <!-- 底部分页 -->
    <div class="row text-center">
        <nav aria-label>
            <ul id="page_list" class="pagination">
                <li class="{{ 'disabled' if index_range[0] == 1 else '' }}"><a
                        href="/manage_tickets?index={{ prev_index }}" aria-label="Previous"><span
                        aria-hidden="true">&laquo;</span></a></li>
                {% for index in index_range %}
                    <li class="{{ 'active' if index == current_index else '' }}">
                        <a href="/manage_tickets?index={{ index }}">{{ index }}</a>
                    </li>
                {% endfor %}
                <li class="{{ 'disabled' if index_range[-1] == max_index else '' }}"><a
                        href="/manage_tickets?index={{ next_index }}" aria-label="Next"><span
                        aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
    </div>

{% endblock %}

