/*第一行违章统计*/
html{
    font-size:12px;
}
body{
    font-size: 1.1667rem;
}
/*头部链接*/
.my_url{
    color:#666;
    margin-right:2em;
}
.first_row, .second_row{
    padding: 1em 4em;
    background-color: white;
    border:1px solid #ddd;
    color: #666;
}
.first_row{
    border-bottom: none;
}
.first_row .my_col{
    margin-left:-1em;
}
.first_row>.my_col:nth-child(1){
    font-size: 16px;
}
.my_col{
    padding: 1em 0;
}
.my_item, .my_col{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    /*align-items: baseline;*/
}
#begin_date{
    margin-right: 0 !important;
}
.my_item>span{
    margin-right:1em;
}
.my_item input[type='text'], select{
    width: 6em;
    border: 1px solid #ddd;
    margin-right:1em;
    border-radius: 3px;
}
.second_row>.my_col:nth-child(2){
    font-size: 14px;
    padding:0;
}
.second_row .my_left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-break: keep-all;
    word-wrap: normal;
}
.second_row .my_left>.my_item:nth-child(1){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-break: keep-all;
    word-wrap: normal;
    flex-wrap: nowrap;
}
#clear_condition{
    cursor:pointer;
}
#redirect_btn{
    background-color: #87aafb;
    color: white;
    border:none;
    padding: 0.4em 2.2em;
    border-radius:0.4em;
    margin-left:1em;
}
.second_row{
    margin-bottom:8px;
}
#show_table{
    font-size: 12px;
    width:100%;
    border-collapse:separate;
    border: 1px solid #ddd;
}
#show_table td{
    padding: 25px 6px 25px 6px;
}
#show_table th{
    padding: 34px 6px 34px 6px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
#show_table>tbody>tr:nth-child(odd){
    text-align: center;
    background-color: #fbfcfe;

}
#show_table>tbody>tr:nth-child(even){
    text-align: center;
    background-color: #ffffff;
}
.blue{
    color:#7388f3;
}
.edit{
    cursor:pointer;
    margin-right:1.5em;
}
#show_table .fix_width{
    max-width: 15em;
}
/*状态元素相关*/
#show_table  status_0,status_1{
    word-wrap: normal;
    word-break: keep-all;
}
#show_table .my_status{
    padding: 0.5em 0.8em;
    border-radius: 0.3em;
    color:white;
}
#show_table  .status_0{
    background-color: #ff7772;
}
#show_table  .status_1{
    background-color: #ddd;
}
#show_table .my_btn_group span{
    word-wrap: normal;
    word-break: keep-all;
}
.bottom_col{
    display: flex;
    justify-content: space-between;
}
/*事故详情模态框*/
/*表格样式*/
.model-body table{
    width: 80%;
    margin: 2em auto;
    color: #666;
    text-align: center;
}
.model-body table td{
    border: 1px solid #ddd;
}
.model-body table tr td:nth-child(1){
    background: #Cadafd;
}
.model-body table tr td:nth-child(3){
    background: #Cadafd;
}
.model-body table tr:nth-child(6) td{
    height: 12em;
}
.model-body table tr:nth-child(7) td{
    height: 12em;
}
.model-body table tr td{
    padding: 10px 0;
}
.si_tou{
    width: 6em;
    text-align: center;
}
.inp_top{
    position: relative;
    top: 3px;
}
.accident_text{
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    border:1px solid #ddd;
}
.accident_td{
    padding: 0 !important;
}