/*常用的样式*/
html{
    font-size:10px;
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
    font-size: 1.4rem;
    font-family: "Microsoft YaHei";
}
.main_row{
    width:100%;
    height:100%;
    display:flex;
}
.height_100{
    /*100%高度*/
    height:100%;
}
.clear {
    clear: both;
}

ul,
li {
    list-style: none;
}
/*左侧导航区*/
.logo_outer{
    /*logo外围容器*/
    display:flex;
    flex-direction: column;
    padding:1rem;
}
.logo_outer .img_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*提示信息*/
.cue_info{
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: auto;
  background-color: rgba(0,0,0,.5);
  opacity:0;
  text-align: center;
  /*line-height:100px;*/
  border-radius: 8px;
  color: #f9f9f9;
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -ms-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
  z-index: 1000;
}
.cue_info > p{
  padding:3rem 1.5rem 3rem 1.5rem;
}

/*注销*/
 #logout_modal {
        color: grey;
        margin: 10% auto auto auto;
    }

    #logout_modal .modal-title,
    .modal-body {
        text-align: center;
    }
    #logout_modal .btn-default{
        color:grey;
    }

    #logout_modal .logout {
        background: #7C8FF3;
        color: white;
    }
/*自定义svg图标样式*/
#left_main_nav li{
    word-wrap: normal;
    white-space: nowrap;
}
#left_main_nav .active{
    background: repeat rgba(124,143,243, 0.8);
}
.icon {
    width: 1.2em;
    height: 1.2em;
    padding: 0.2em;
    border-radius: 0.75em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    color: white;
    background-color: #7C8FF3;
}
.nav_icon{
    width: 1.2em;
    height: 1.2em;
    padding: 0.1em;
    vertical-align: -0.2em;
    fill: currentColor;
    overflow: hidden;
    color: rgb(170,170,170);

}
.xs_icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
    overflow: hidden;
}


/*字体图标的辅助类，用于修改图标的颜色，样式等*/

.normal_status {
    /*字体图标的一般/安全状态*/
    color: rgba(110, 183, 62, 1);
}

.icon_mouse_leave {
    /*awe字体图标，鼠标离开的状态*/
    color: rgba(60, 141, 188, 0.8);
    margin-left: 1rem;
}

.icon_mouse_leave:hover {
    /*awe字体图标，鼠标hover的状态*/
    color: rgba(110, 183, 62, 1);
    cursor: pointer;
}

.normal_status_an {
    /*动画类，应该定义三个，现在只定义了一个*/
    animation: flash_once_normal 3s;
    animation-iteration-count: 3;
}

.warning_status {
    color: rgba(224, 63, 0, 1);
}

.danger_status {
    color: rgba(226, 80, 80, 1);
}


/*自定义图标闪动一下,应该定义三个，现在只定义了一个*/

@keyframes flash_once_normal {
    0% {
        color: rgba(110, 183, 62, 1)
    }
    50% {
        color: rgba(148, 0, 211, 1)
    }
    100% {
        color: rgba(110, 183, 62, 1)
    }
}
/*右边栏样式开始*/
#right_bar {
    display: flex;
    width: 8em;
    height:100%;
    flex-direction: column;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#right_bar img {
    width: 3rem;
    height: 3rem;
    border: 1px solid #cfcdcd;
    margin-right: 1rem;
}

#right_bar>.nav_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.6rem 1rem;
}

.nav_item>.driver_name {
    font-size: 1.0rem;
    color: #7c8ff3;
    line-height: 3rem;
    word-break: keep-all;
    word-wrap: normal;
}

.nav_item img,
.driver_name:hover {
    cursor: pointer;
}
/*右边栏样式结束*/