@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
html{
	width: 100%;
	height: 100%;
}
body{
	height: 100%;
	width: 100%;
	background: url(/static/image/bgimg.png);
}
#app{
	width: 100%;
	height: 100%;
}
#common{
	width: 100%;
	height: 100%;
	position: absolute;
}
p{
	text-align: left;
}
.header{
	height: 82px;
}
.header .logo{
	margin-top: 10px;
	width: 43px;
	height: 35px;
}
.header .img_zi{
	text-align: center;
}
.icon_zhuxiao{
	margin-top: 26px;
	margin-bottom: 30px;
}
.icon_zhuxiao .zhuxiaotou{
	width: 28px;
	margin-right: 3px;
}
.icon_zhuxiao .zhuxiao{
	width: 26px;
	margin-left: 6px;
}
.icon_zhuxiao span{
	font-size: 18px;
	color: #999;
	display: inline-block;
	position: relative;
	top: 4px;
}


.list-left{
	width: 10%;
}
.list-left ul{
	width: 100%;
}
.contents{
	width: 100%;
	/*height: 100%;*/
}

.list-left ul li{
	width: 100%;
	color: #979EAA;
	padding: 10px 0;
	margin: 0;
}
.list-left ul li img{
	width: 26px;
	height: 22px;
	margin-right: 10px;
}
.list-left ul li:hover{
	background: #D8E5F6;
	border-right: 1px solid #7CA4FA;

}
.list-left ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #979EAA;
	text-decoration: none;
}
.list-left ul li:hover a{
	color: #8F90FD;
}
.content-right{
	width: 100%;
	border: 1px solid #DAE3EA;
	background: #EAEFF5;
	/* height: 100%; */
	padding: 8px;
	position: relative;
}
.content-right ul li{
	list-style: none;
	float: left;
}
.conter-ziliao li img{
	width: 16px;
}
.personal-data{
	background: #fff;
	width: 93%;
	height: 240px;
	color: #767676;
}

.personal-data .touxiang{
	width: 90px;
}
.personal-data .p2{
	color: #0BF9D2;
	text-align: center;
}
.personal-data .p3{
	color:#FF4F62;
	text-align: center;
	border: 1px solid #FF4F62;
	border-radius: 5px;
}
.full-name{
	background: #fff;
	color: #999999;
	width: 6%;
	height: 100%;
	position: absolute;
	right: 0;
}
.full-name ul li{
	width: 100%;
}
.personal-data ul{
	text-align: left;
	width: 100%;
	margin-top: 20px;
}
.personal-data ul li{
	list-style: none;
	float: left;
	width: 22%;
	/* margin-right: 30px; */
}
.personal-data .ulrt li{
	/* margin-right: 35px; */
}
.container-fluidtwo{
	margin-top: 30px;
}
.active{
	background: #0BF9D2;
}
.sijib .p1{
    margin-left: 15px;
    border-bottom: 1px solid #EBEFF5;
    padding: 12px 6px;
}
.sijib .p1 span{
    display: inline-block;
}
.sijib .sijib-p{
    text-align: center;
}
.sijib .sijib-p2{
    font-size: 22px;
}
.sijib-top{
    top: 30px;
    position: relative;
    border-right: 1px solid #ccc;
}
.sijib-top:last-child{
    border: none;
}
.sijib-top img{
    position: absolute;
    left: 24%;
}
.sijib .personal-data{
    height: 160px;
}
.dayin{
    float:right;
    width: 25px;
}
.sijib  .personal-datas{
    height: 260px;
    background: none;
}
.data-img{
    /*background: #fff;*/
    /*width: 49.8% !important;*/
}
.data-imgs{
    /*width: 30% !important;*/
}
.data-imgtwo{
    width: 69.4% !important;
    padding-bottom: 24px;
}
.data-imgtwo table{
    width: 100%;
}
.data-imgtwo table td{
    padding: 24px 0;
    border: 1px solid #ccc;
    width:12.5%;
    text-align: center;
}
.data-imgtwo table th{
    padding: 24px 0;
    text-align: center;
    /* border: 1px solid #ccc; */
    background: #F6F6F6;
    width:12.5%;
}
.title{
    padding: 10px 0;
}
 .personal-dibu {
     padding: 1px;
     width: 100%;
     background: #fff;
 }
 .sijib .personal-datatop{
     height: 338px;
 }
 .personal-data{
     width: 100%;
 }
 .diburow{
     margin-left:0;
     width: 100%;
 }
 /* table 超出部分出现滚动条 */
 .overhie{
     height:208px;
    overflow-y: auto;
 }
 .select_interval{
     margin-left:0.5em;
     margin-right:0.5em;
 }
 .select_interval:hover{
     cursor: pointer;
 }
 .select_interval_action{
	 background-color: #7CA4FA;
	 border: 1px solid #7CA4FA;
     border-radius: 4px;
	 color: #fff;
	 padding: 0.1em 0.6em !important;
 }
.select_interval_last{
     margin-right:2em;
 }
.line_1 > div{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
.line_1 label{
    margin-right:0.2em;
}
.space_line > div{
    height:5px;
}
.space_line_min > div{
    height:2px;
}
.white_backgrounp > div{
    background-color: #fff;
}
/*日期选择器*/
#select_date{
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 0.5em;
    border: 1px solid lightgrey;
    padding-left:1em;
    height:1.8em;
}
/*查询按钮*/
#redirect_btn{
    padding: 2px 10px;
}
.flex_start_center{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.left_div{
    display: flex;
    align-items: center;
}
.right_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
/*引入的样式*/
.sijib .p1{
    margin: 0;
    border-bottom: 1px solid #EBEFF5;
    padding: 12px 6px;
}
.sijib .p1 span{
    display: inline-block;
}
.sijib .sijib-p{
    text-align: center;
}
.sijib .sijib-p2{
    font-size: 22px;
}
.sijib-top{
    top: 30px;
    position: relative;
    border-right: 1px solid #ccc;
}
.sijib-top:last-child{
    border: none;
}
.sijib-top img{
    position: absolute;
    left: 24%;
}
.sijib .personal-data{
    height: 160px;
}
.dayin{
    float:right;
    width: 25px;
}
.sijib  .personal-datas{
    height: 260px;
    background: none;
}
.data-img{
    /*background: #fff;*/
    /*width: 49.8%;*/
}
.data-imgs{
    /*width: 30%;*/
}
.data-imgtwo{
    width: 69.4%;
    /* padding-bottom: 24px;  */
}
.data-imgtwo table{
    width: 100%;
}
.data-imgtwo table td{
    padding: 24px 0;
    border: 1px solid #ccc;
    width:12.5%;
}
.data-imgtwo table th{
    padding: 24px 0;
    text-align: center;
    /* border: 1px solid #ccc; */
    background: #F6F6F6;
    width:12.5%;
}
.title{
    padding: 10px 0;
}
 .personal-dibu {
     padding: 1px;
     width: 100%;
     background: #fff;
 }
 .sijib .personal-datatop{
     height: 338px;
 }
 .personal-data{
     width: 100%;
 }
 .diburow{
     margin-left:0;
     width: 100%;
 }
 /* table 超出部分出现滚动条 */
 .overhie{
     height:208px;
    overflow-y: auto;
 }
 /* 生理状况图表 */
.summary{
display: flex;
justify-content: space-between;
}
.summary div{
position: relative;
width: 33.3333%;
}
.summary p{
position: absolute;
width: 100%;
text-align: center;
bottom: 0;
}
/*选择时间 样式*/
#date_picker{
border: 1px solid #ccc;
border-radius: 8px;
outline: none;
}
#date_picker_end{
border: 1px solid #ccc;
border-radius: 8px;
outline: none;
}