ul,li{
    list-style: none;
    padding : 0;
    margin: 0;
}
p{
    margin:0;
}
.content-wrapper{
    padding: 20px;
}
.driver-list{
    position:relative;
    background-color: white;
    width: 100%;
    height: 812px;
    border-radius: 5px;
}
.driver-list-header{
    position: relative;
    color:#999;
    font-size: 12px;
}
.driver-list-header span:first-child{
    font-size: 16px;
}
.driver-list-header span:nth-child(2) i{
    vertical-align: middle;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #999;
}
.header-left{
   display: inline-block;
   padding-left:4rem;
   height: 80px;
   line-height: 80px;
}
.header-left span:nth-child(3) i{
    color : #fd6262;
    font-size :16px;
}
.header-right{
    display: inline-block;
    float: right;
    height: 80px;
    position:relative;
}
.header-right input{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.header-right input:first-child{
    width: 60%;
	  height: 37px;
	  background-color: #eaedf2;
	  border-radius: 10px;
	  border : none;
	  outline: none;
	  text-indent: 20px;
    left:5%;
}
.header-right input:nth-child(2){
    left: 60%;
    width: 20%;
	  height: 37px;
	  background-color:#21b3f9;
	  border-radius: 8px;
	  border : none;
	  color: #fff;
	  outline: none;
}
.header-right .all{
  position: absolute;
  right:10%;
  top:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.driver-list-content{
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    background-color : white;
    height:80%;
    border: 1px solid #dddddd;
    border-radius: 0.7rem;
    padding-top:2.5rem;
    color:#565656;
}
.driver-list-content .content{
  position: absolute;
  left: 1.3rem;
  top:1.3rem;
  color: #999;
  font-size: 16px;
  display: none;
}
.driver-list-content ul{
    padding: 1.3rem;

}
.item_div_outer{
    font-size: 12px;
    padding: 0 0.3rem;
}
#driver_count{
    color:#fe3939;
}
.driver_name{
    color:#7388f3;
    font-size: 13px;
}
.item_div{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin:0.5rem;
    padding-top:1rem;
    padding-bottom:1rem;
}
.item_div img{
    width:3.5rem;
    height: auto;
}
.item_div img, .driver_name:hover{
    cursor: pointer;
}
.driver-list-content ul li{
    float: left;
    position:relative;
	  height: 130px;
	  background-color: #fff;
}
.driver-list-content ul li:hover{
  cursor: pointer;
}
.driver-list-content ul li .image{
    height: 100%;
    width : 30%;
    position: absolute;
    left: 0;
}
.driver-list-content ul li .image img{
    position : absolute;
    left:50%;
    top : 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    width: 60% ;
    border-radius: 50% ;
    vertical-align : middle;
}
.driver-list-content ul li .info{
    position: absolute;
    width: 70%;
    top :50%;
    right:0;
    transform : translateY(-50%);
    -webkit-transform : translateY(-50%);
    -moz-transform : translateY(-50%);
    -o-transform : translateY(-50%);
    -ms-transform : translateY(-50%);
    padding-right : 1.7rem;
    color: #565656;
}
.driver-list-content ul li p{
    text-overflow:ellipsis;
    white-space: nowrap;
}
.driver-list-content ul li p i{
    margin-right : 5px;
}
.driver-list-content ul li .info p:first-child{
    margin-bottom : 5px;
}
.driver-list-content ul li .info p:first-child span:first-child{
    color: #21b3f9;
    float: left;
}
.driver-list-content ul li .info p:first-child span:last-child{
    float:right;
    color: #999999;
}