/*提示信息*/
/*.cue_info{*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*top:50%;*/
  /*-webkit-transform: translateX(-50%) translateY(-50%);*/
  /*-moz-transform: translateX(-50%) translateY(-50%);*/
  /*-ms-transform: translateX(-50%) translateY(-50%);*/
  /*-o-transform: translateX(-50%) translateY(-50%);*/
  /*transform: translateX(-50%) translateY(-50%);*/
  /*width: 200px;*/
  /*height: 100px;*/
  /*background-color: rgba(0,0,0,.5);*/
  /*opacity:0;*/
  /*text-align: center;*/
  /*line-height:100px;*/
  /*border-radius: 8px;*/
  /*color: #f9f9f9;*/
  /*-webkit-transition: opacity .5s linear;*/
  /*-moz-transition: opacity .5s linear;*/
  /*-ms-transition: opacity .5s linear;*/
  /*-o-transition: opacity .5s linear;*/
  /*transition: opacity .5s linear;*/
  /*z-index: 0;*/
/*}*/
@media (max-width: 768px){
  div#right_box{
    top: -85px;
  }
}
#right_box {
  position: absolute;
  right: 0;
  top: -188px;
  height: 185px;
  background-color: rgba(44,46,68,.5);
  padding-top: 36px;
  border-radius:0px 0px 0px 8px ;
  -webkit-transition: top .2s linear;
  -moz-transition: top .2s linear;
  -ms-transition: top .2s linear;
  -o-transition: top .2s linear;
  transition: top .2s linear;
  z-index: 1;
}
#right_box_one {
  height: 60px;
  text-align: center;
}

#right_box_one select {
  width: 85%;
  outline: none;
  height: 60%;
  background-color: #fcf9f2;
  border-radius: 10px;
  text-indent: 20px;
  cursor: pointer;
}
#right_box_one select option {
  background-color: #fcf9f2;
}
#right_box_sun {
  height: 72px;
  text-align: center;
}
#right_box_sun span{
  color: #fcf9f2;
}

#right_box input {
  outline: none;
  width: 40%;
  height:45%;
  border:none;
  border-radius: 10px;
  background-color: #fcf9f2;
  text-indent: 20px;
  cursor: pointer;
}
#right_box_go {
  position: absolute;
  width: 50px;
  height: 30px;
  line-height: 30px;
  bottom: 12px;
  right: 30px;
  text-align: center;
  border-radius: 5px;
  background-color: #3c8dbc;;
  color: white;
}
#right_box_go:hover{
  cursor: pointer;
}
#right_box_btn{
  width: 50px;
  height: 30px;
  line-height:30px;
  background-color: #2c2e44;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  top:100%;
  left:50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#right_box_btn:hover{
  cursor: pointer;
}
#right_box_btn i{
  color:white;
  font-size: 20px;
}
