{% extends "standard_page.html" %}

{% block css %}
   <link rel="stylesheet" href="/static/css/code_pickle.css">
{% endblock %}

{% block show_area %}

    <div class="right_top">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="请输入搜索关键字...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
        </div>
    </div>

    <div class="code_list_outer">
        <div class="base_info">
            <div class="item">
                <label>
                    条码总数:
                </label>
                <span>
                    {{ base_info.total }}
                </span>
            </div>
            <div class="item">
                <label>
                    空余条码:
                </label>
                <span>
                    {{ base_info.deposit }}
                </span>
            </div>
            <div class="item">
                <label>
                    已打印:
                </label>
                <span>
                    {{ base_info.printed }}
                </span>
            </div>
            <div class="item">
                <label>
                    已使用:
                </label>
                <span>
                    {{ base_info.used }}
                </span>
            </div>
            <div class="item">
                <label>
                    已同步:
                </label>
                <span>
                    {{ base_info.sync }}
                </span>
            </div>
            <div class="item">
                <label>
                    未同步:
                </label>
                <span>
                    {{ base_info.not_sync }}
                </span>
            </div>
            <div class="item">
                <label>
                    已导出:
                </label>
                <span>
                    {{ base_info.output }}
                </span>
            </div>
            <div class="item">
                <label>
                    未导出:
                </label>
                <span>
                    {{ base_info.not_output }}
                </span>
            </div>
        </div>
        <div class="code_list_inner">
            <div class="insert_div">
                <div class="left">
                    <i class="fa fa-list-ul"></i>
                    <span id="clear_condition">所有信息</span>
                </div>

                <div class="right">
                    <div class="select_group">
                        <div class="select_div">
                            <label>名称</label>
                            <div class="my_input dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="select_product_name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span data-id="" class="current_value"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul data-type="product_name" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    {% for k, v in selector.items() %}
                                        <li onclick="select_value($(this))" data-id="{{ v }}"  class="select_value">{{ k }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="select_div">
                            <label>规格</label>
                            <div class="my_input dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="select_specification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span data-id="" class="current_value "></span>
                                    <span class="caret"></span>
                                </button>
                                <ul data-type="specification" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="select_div">
                            <label>净含量</label>
                            <div class="my_input dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="select_net_contents" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span data-role-id="" class="current_value"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul data-type="net_contents" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="select_div">
                            <label>包装比例</label>
                            <div class="my_input dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="select_package_ratio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span data-id="" class="current_value"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul data-type="package_ratio" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="select_div">
                            <label>库存:</label>
                            <div class="my_input">
                                <span class="deposit">0</span>
                            </div>
                        </div>
                    </div>

                    <button id="pickle_file" type="button" class="btn btn-default btn-sm btn-primary">
                        生成导出文件
                    </button>
                </div>
            </div>

            <div class="table_outer">
                <table id="file_list" class="table table-hover">
                    <tr class="info">
                        <th class="select"></th>
                        <th>文件名</th>
                        <th>文件大小</th>
                        <th>记录数</th>
                        <th>下载地址</th>
                        <th>产品信息</th>
                        <th>导出日期</th>
                    </tr>
                    {% for file in files %}
                        <tr id="{{ file._id }}">
                            <td  class="select">
                                <input data-id="{{ file._id }}" type="checkbox" >
                            </td>
                            <td class="file_name">{{ file.file_name }}</td>
                            <td class="file_size">{{ file.file_size }}</td>
                            <td class="count">{{ file.count }}</td>
                            <td class="download"><a target="_blank" href="/manage/output_file/{{ file._id }}.txt">下载</a></td>
                            <td data-id="{{ file.product_id }}" class="product_info">
                                {{ file.product_name + " " + file.specification + " " + (file.net_contents | string) + " " + file.package_ratio }}
                            </td>
                            <td class="export_time">{{ file.time | short_date3 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="bottom_div">
                <div class="left">
                    <input type="checkbox" id="check_all">
                    <span>全选</span>
                    <button id="cancel_output" type="button" class="btn btn-sm btn-default btn-primary">
                        撤销已导出数据
                    </button>
                    <button id="delete_output" type="button" class="btn btn-sm btn-default btn-primary">
                        删除已导出的文件和日志
                    </button>
                </div>
                <div class="right">
                    <i id="prev_page" class="fa fa-caret-left"></i>
                    <span id="page_count">{{ current_page }}/{{ total_page }}</span>
                    <i id="next_page" class="fa fa-caret-right"></i>
                    <input type="text" id="page_num">
                    <button id="jump_btn" type="button" class="btn btn-sm btn-default btn-primary">
                        Go
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--弹框部分-->
    <!--
    <div class="modal_outer">
        <div class="modal_inner">
            <div class="modal_top">
                <h3 id="modal_title">
                    添加产品
                </h3>
            </div>
            <div class="modal_mid">
                <div class="line">
                    <label>产品名称</label><input type="text" id="product_name">
                </div>
                <div class="line">
                    <label>产品规格</label><input type="text" id="specification">
                    </div>
                <div class="line">
                    <label>净含量</label><input type="text" id="net_contents" placeholder="单位: 毫升/ml">
                    </div>
                <div class="line">
                    <label>包装比例</label>
                    <div class="my_package">
                        <input type="text" class="left" id="package_ratio">
                        <span class="my_sep">:</span>
                        <input type="text" class="my_one right" value="1">
                    </div>
                </div>
            </div>
            <div class="modal_bot">
                <button id="close_medal" class="btn btn-md btn-default first">关闭</button>
                <button id="submit" class="btn btn-md btn-primary last">保存</button>
            </div>
        </div>
    </div>
    -->

    <!--生成下载文件模态框部分-->
    <div class="modal_outer_progress">
        <div class="modal_inner">
            <div class="modal_top">
                <h3 id="modal_title_progress">
                    生成文件
                </h3>
            </div>
            <div class="modal_mid">
                <div class="line process_line">
                    <span>数据处理中.视文件的大小,可能需要数分钟...</span>
                    <i class="fa fa-spinner fa-pulse fa-4x"></i>
                </div>
            </div>
        </div>
    </div>

    <!--查询条码结果模态框部分-->
    <div class="modal_outer_search_result">
        <div class="modal_inner">
            <div class="modal_top">
                <h3 id="modal_title_progress">
                    查询结果
                </h3>
            </div>
            <div class="modal_mid">
                <div class="line wait_result">
                    <span>正在努力查询中...</span>
                    <i class="fa fa-spinner fa-pulse fa-4x"></i>
                </div>
                <div class="line result_zone">
                    <div class="show_result">
                        <div class="item raw_code">
                            <div class="item_line">
                                <label>
                                    条码:
                                </label>
                                <span class="value">

                                </span>
                            </div>
                            <div class="item_line">
                                <label>
                                    产品信息:
                                </label>
                                <span class="value">

                                </span>
                            </div>
                            <div class="item_line">
                                <label>
                                    生产批号:
                                </label>
                                <span class="value">

                                </span>
                            </div>
                             <div class="item_line">
                                <label>
                                    生产日期:
                                </label>
                                <span class="value">

                                </span>
                            </div>
                            <div class="item_line">
                                <label>
                                    状态:
                                </label>
                                <span class="value">

                                </span>
                            </div>
                            <div class="item_line">
                                <label>
                                    码级:
                                </label>
                                <span class="value">

                                </span>
                            </div>
                        </div>
                        <div class="item new_code">
                            <div class="item_line">
                                <label>
                                    条码:
                                </label>
                                <span class="value">

                                </span>
                            </div>
                            <div class="item_line">
                                <label>
                                    产品信息:
                                </label>
                                <span class="value">

                                </span>
                            </div>
                            <div class="item_line">
                                <label>
                                    生产批号:
                                </label>
                                <span class="value">

                                </span>
                            </div>
                             <div class="item_line">
                                <label>
                                    生产日期:
                                </label>
                                <span class="value">

                                </span>
                            </div>
                            <div class="item_line">
                                <label>
                                    状态:
                                </label>
                                <span class="value">

                                </span>
                            </div>
                            <div class="item_line">
                                <label>
                                    码级:
                                </label>
                                <span class="value">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="/static/js/code_pickle.js"></script>
{% endblock %}