{% extends "standard_page.html" %}

{% block css %}
   <link rel="stylesheet" href="/static/css/manage_user.css">
{% endblock %}

{% block show_area %}

    <div class="right_top">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="请输入搜索关键字...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
        </div>
    </div>

    <div class="user_list_outer">
        <div class="user_list_inner">
            <div class="insert_div">
                <div class="left">
                    <i class="fa fa-list-ul"></i>
                    <span id="clear_condition">所有信息</span>
                </div>
                <div class="right">
                    <button id="add_user" type="button" class="pop_modal btn btn-default btn-sm btn-primary">
                        添加用户
                    </button>
                </div>
            </div>
            <div class="table_outer">
                <table id="user_list" class="table table-hover">
                    <tr class="info">
                        <th class="select"></th>
                        <th>账户</th>
                        <th>权限组</th>
                        <th>姓名</th>
                        <th>部门</th>
                        <th>创建日期</th>
                        <th>用户状态</th>
                        <th>操作</th>
                    </tr>
                    {% for user in users %}
                        <tr id="{{ user._id }}">
                            <td  class="select">
                                <input type="checkbox" >
                            </td>
                            <td class="user_name">{{ user.user_name }}</td>
                            <td data-id="{{ user.role_id }}" class="role">
                                <select class="role">
                                    {% for role in roles %}
                                        {% if role.role_name == user.role_id %}
                                            <option value="{{ role._id }}" selected>{{ role.role_name }}</option>
                                        {% else %}
                                            <option value="{{ role._id }}">{{ role.role_name }}</option>
                                        {% endif %}
                                    {% endfor %}

                                </select>
                            </td>
                            <td class="nick_name">{{ user.nick_name }}</td>
                            <td data-id="{{ user.dept_id }}" class="dept">{{ user.dept_name }}</td>
                            <td class="create_time">{{ user.create_time | short_date2 }}</td>
                            <td class="status">{{ "正常" if user.status == 1 else "禁用" }}</td>
                            <td class="operation">
                                <button data-id="{{ user._id }}" class="pop_modal btn btn-xs btn-default btn-primary edit_user">编辑</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="bottom_div">
                <div class="left">
                    <input type="checkbox" id="check_all">
                    <span>全选</span>
                    <button id="delete_user" type="button" class="btn btn-sm btn-default btn-primary">
                        删除
                    </button>
                </div>
                <div class="right">
                    <i id="prev_page" class="fa fa-caret-left"></i>
                    <span id="page_count">{{ current_page }}/{{ total_page }}</span>
                    <i id="next_page" class="fa fa-caret-right"></i>
                    <input type="text" id="page_num">
                    <button id="jump_btn" type="button" class="btn btn-sm btn-default btn-primary">
                        Go
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--弹框部分-->
    <div class="modal_outer">
        <div class="modal_inner">
            <div class="modal_top">
                <h3 id="modal_title">
                    添加用户
                </h3>
            </div>
            <div class="modal_mid">
                <div class="line">
                    <label>姓名</label><input type="text" id="nick_name">
                </div>
                <div class="line">
                    <label>账户</label><input type="text" id="user_name">
                    </div>
                <div class="line">
                    <label>密码</label><input type="password" id="u_password1">
                    </div>
                <div class="line">
                    <label>重复密码</label><input type="password" id="u_password2">
                </div>

            </div>
            <div class="modal_bot">
                <button id="close_medal" class="btn btn-md btn-default first">关闭</button>
                <button id="submit" class="btn btn-md btn-primary last">保存</button>
            </div>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script src="/static/js/manage_user.js"></script>
{% endblock %}