{% extends "standard_page.html" %}

{% block css %}
   <link rel="stylesheet" href="/static/css/produce_task.css">
   <script>
   </script>
{% endblock %}

{% block show_area %}

    <div class="right_top">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="请输入搜索关键字...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
        </div>
    </div>

    <div class="code_list_outer">
        <div class="code_list_inner">
            <div class="insert_div">
                <div class="left">
                    <i class="fa fa-list-ul"></i>
                    <span id="clear_condition">所有信息</span>
                </div>

                <div class="right">
                    <button id="new_task" type="button" class="pop_modal btn btn-default btn-sm btn-primary">
                       新建生产任务
                    </button>
                </div>
            </div>

            <div class="table_outer">
                <table id="task_list" class="table table-hover">
                    <tr class="info">
                        <th class="select"></th>
                        <th>任务名称</th>
                        <th>产品信息</th>
                        <th>计划数量</th>
                        <th>生产数量</th>
                        <th>任务状态</th>
                        <th>开始日期</th>
                        <th>结束日期</th>
                        <th>创建日期</th>
                        <th></th>
                    </tr>
                    {% for task in tasks %}
                        <tr id="{{ task._id }}">
                            <td  class="select">
                                <input data-id="{{ task._id }}" type="checkbox" >
                            </td>
                            <td class="task_name">{{ task.task_name }}</td>
                            <td data-id="{{ task.product_id }}" class="product_info">
                                {{ task.product_name + " " + task.specification + " " + (task.net_contents | string) + " " + task.package_ratio }}
                            </td>
                            <td class="plan_number">{{ task.plan_number }}</td>
                            <td class="actual_number">{{ task.actual_number if task.actual_number else 0 }}</td>
                            <td class="status">{{ "停止" if task.status == 0 else "执行中" }}</td>
                            <td class="begin_time">{{ task.begin | short_date2 }}</td>
                            <td class="end_time">{{ task.end | short_date2 }}</td>
                            <td class="create_time">{{ task.create | short_date2 }}</td>
                            <td class="edit_td">
                                {% if task.status == 0 %}
                                    <button data-id="{{ task._id }}" class="start_task btn btn-xs btn-default btn-primary edit_product">开始</button>
                                {% else %}
                                    <button data-id="{{ task._id }}" class="stop_task btn btn-xs btn-default btn-primary edit_product">停止</button>
                                {% endif %}
                                <button data-id="{{ task._id }}" class="pop_modal btn btn-xs btn-default btn-primary edit_product">编辑</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="bottom_div">
                <div class="left">
                    <input type="checkbox" id="check_all">
                    <span>全选</span>
                    <button id="delete_task" type="button" class="btn btn-sm btn-default btn-primary">
                        删除任务
                    </button>
                </div>
                <div class="right">
                    <i id="prev_page" class="fa fa-caret-left"></i>
                    <span id="page_count">{{ current_page }}/{{ total_page }}</span>
                    <i id="next_page" class="fa fa-caret-right"></i>
                    <input type="text" id="page_num">
                    <button id="jump_btn" type="button" class="btn btn-sm btn-default btn-primary">
                        Go
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--弹框部分-->
    <div class="modal_outer">
        <div class="modal_inner">
            <div class="modal_top">
                <h3 class="modal_title">
                    新增生产任务
                </h3>
            </div>
            <div class="modal_mid">

                <div class="line select_div">
                    <label>产品名称</label>
                    <div class="my_input dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="select_product_name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span data-id="" class="current_value"></span>
                            <span class="caret"></span>
                        </button>
                        <ul data-type="product_name" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            {% for k, v in selector.items() %}
                                <li onclick="select_value($(this))" data-id="{{ v }}"  class="select_value">{{ k }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="line select_div">
                    <label>产品规格</label>
                    <div class="my_input dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="select_specification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span data-id="" class="current_value "></span>
                            <span class="caret"></span>
                        </button>
                        <ul data-type="specification" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="line select_div">
                    <label>净含量</label>
                    <div class="my_input dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="select_net_contents" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span data-role-id="" class="current_value"></span>
                            <span class="caret"></span>
                        </button>
                        <ul data-type="net_contents" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="line select_div">
                    <label>包装比例</label>
                    <div class="my_input dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="select_package_ratio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span data-id="" class="current_value"></span>
                            <span class="caret"></span>
                        </button>
                        <ul data-type="package_ratio" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="line">
                    <label>生产任务名称</label>
                    <div class="my_input dropdown">
                        <input id="task_name" type="text" placeholder="区分不同任务">
                    </div>
                </div>
                <div class="line">
                    <label>计划生产数量</label>
                    <div class="my_input dropdown">
                        <input id="plan_number" type="text" placeholder="计划数量">
                    </div>
                </div>

            </div>
            <div class="modal_bot">
                <button class="close_medal btn btn-md btn-default first">关闭</button>
                <button id="submit_task" class="btn btn-md btn-primary last">保存</button>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="/static/js/produce_task.js"></script>
{% endblock %}