<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试JS-SDK</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/wexin.js"></script>
    <script src="/user/js_sdk_init?debug=1&api=scanQRCode"></script>
</head>
<body>

</body>
<script>
    wx.ready(function(){
        // js-sdk接口已初始化完成.
        alert("hello world!");
        wx.scanQRCode({
            needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success: function (res) {
            var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                alert(result);
            }
        });
    });


    wx.error(function(e){
        // js-sdk接口初始化失败.
        s = String.valueOf(e);
        alert(s);
        console.log(e);
    });
</script>
</html>