{%  extends "web/template.html" %}

{% block extend_css %}
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/css/web/consign.css">
{% endblock %}

{% block content %}
    <span style="display: none" id="consign_id">{{ consign._id }}</span>
    <!--顶部的子导航-->
    <div class="nav_top">
        <ul class="nav nav-tabs" >
            <li role="presentation">
                <a href="javascript:;" data-url="/web/add_consign">新建委托</a>
            </li>
            <li class="active">
                <a href="javascript:;"  data-url="/web/consign_list">委托记录</a>
            </li>
            <li role="presentation">
                <a href="javascript:;" data-url="/web/view_consign">委托反馈</a>
            </li>
          </ul>
    </div>

    <div class="nav_div">
    基本要求
    </div>
    <div class="search_div">
        <!--
        <div class="line_div row_01">
            <label for="keywords">
                <span>标</span>
                <span>题</span>
            </label>
            <input type="text" id="title" placeholder="非必须">
        </div>
        -->
        <div class="line_div">
            <label for="i_exp">
                <span>从</span>
                <span>业</span>
                <span>年</span>
                <span>限</span>
            </label>
            <div class="dropdown">
              <button id="i_exp"  class="btn btn-default dropdown-toggle show_area" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                请选择从业年限
                    <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="reset" data-val="" data-text="请选择从业年限" href="javascript:;">不限</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-val="1" href="javascript:;">1年以上</a></li>
                <li><a data-val="2" href="javascript:;">2年以上</a></li>
                <li><a data-val="3" href="javascript:;">3年以上</a></li>
                <li><a data-val="5" href="javascript:;">5年以上</a></li>
                <li><a data-val="8" href="javascript:;">8年以上</a></li>
                <li><a data-val="10" href="javascript:;">10年以上</a></li>
              </ul>
            </div>

            <label class="left_margin" for="i_exp">
                <span>驾</span>
                <span>照</span>
                <span>类</span>
                <span>型</span>
            </label>
            <div class="dropdown">
              <button id="dl_class"  class="btn btn-default dropdown-toggle show_area" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                请选择驾照类型
                    <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="reset" data-val="" data-text="请选择驾照类型" href="javascript:;">不限</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-val="A1" href="javascript:;">A1驾照</a></li>
                <li><a data-val="A2" href="javascript:;">A2驾照</a></li>
                <li><a data-val="A3" href="javascript:;">A3驾照</a></li>
                <li><a data-val="B1" href="javascript:;">B1驾照</a></li>
                <li><a data-val="B2" href="javascript:;">B2驾照</a></li>
                <li><a data-val="C1" href="javascript:;">C1驾照</a></li>
                <li><a data-val="C2" href="javascript:;">C2驾照</a></li>
                <li><a data-val="C3" href="javascript:;">C3驾照</a></li>
                <li><a data-val="C4" href="javascript:;">C4驾照</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-val="N" href="javascript:;">N驾照</a></li>
                <li><a data-val="P" href="javascript:;">P驾照</a></li>
              </ul>
            </div>
            <label for="work_place">
                <span>工</span>
                <span>作</span>
                <span>地</span>
                <span>区</span>
            </label>
            <div class="dropdown">
              <button id="work_place"  class="btn btn-default dropdown-toggle show_area" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                请选工作地区
                    <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="reset" data-val="" data-text="请选工作地区" href="javascript:;">不限</a></li>
                <li role="separator" class="divider"></li>
                  {% for province in province_list %}
                      <li><a data-val="{{ province.name }}" data-id="{{ province._id }}" href="javascript:;">{{ province.name }}</a></li>
                  {% endfor %}
              </ul>
            </div>
        </div>
        <div class="line_div">
            <label for="education">
                <span>工</span>
                <span>作</span>
                <span>经</span>
                <span>验</span>
            </label>
            <div class="dropdown small_select">
              <button id="work_exp"  class="btn btn-default dropdown-toggle show_area" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                请选择工作经验
                    <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="reset" data-val="" data-text="请选择工作经验" href="javascript:;">不限</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-val="1" href="javascript:;">1年以上</a></li>
                <li><a data-val="2" href="javascript:;">2年以上</a></li>
                <li><a data-val="3" href="javascript:;">3年以上</a></li>
                <li><a data-val="5" href="javascript:;">5年以上</a></li>
                <li><a data-val="8" href="javascript:;">8年以上</a></li>
                <li><a data-val="10" href="javascript:;">10年以上</a></li>
              </ul>
            </div>
            <label class="left_margin" for="education">
                <span>学</span>
                <span>历</span>
                <span>要</span>
                <span>求</span>
            </label>
            <div class="dropdown small_select">
              <button id="education"  class="btn btn-default dropdown-toggle show_area" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                请选择学历
                    <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="reset"  data-val="" data-text="请选择学历" href="javascript:;">不限</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-val="1" href="javascript:;">初中及以下</a></li>
                <li><a data-val="2" href="javascript:;">高中及以下</a></li>
                <li><a data-val="3" href="javascript:;">专科学历</a></li>
                <li><a data-val="4" href="javascript:;">本科及以上</a></li>
              </ul>
            </div>
            <label for="salary">
                <span>工</span>
                <span>资</span>
                <span>待</span>
                <span>遇</span>
            </label>
            <div class="dropdown">
              <button id="salary"  class="btn btn-default dropdown-toggle show_area" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                请选择工资待遇(月)
                    <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="reset" data-val="" data-text="请选择工资待遇(月)" href="javascript:;">不限</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-val="0,3000" href="#">3000元以下</a></li>
                <li><a data-val="3000,5000" href="javascript:;">3000元到5000元</a></li>
                <li><a data-val="5000,8000" href="javascript:;">5000元到8000元</a></li>
                <li><a data-val="8000,10000" href="javascript:;">8000元到10000元</a></li>
                <li><a data-val="10000,15000" href="javascript:;">10000元到15000元</a></li>
                <li><a data-val="15000,20000" href="javascript:;">15000元到20000元</a></li>
                <li><a data-val="15000,20000" href="javascript:;">15000元到20000元</a></li>
                <li><a data-val="20000,30000" href="javascript:;">20000元到30000元</a></li>
                <li><a data-val="30000,9999999" href="javascript:;">30000元以上</a></li>
              </ul>
            </div>
        </div>

        <div class="line_div">
            <label for="count">
                <span>招</span>
                <span>聘</span>
                <span>人</span>
                <span>数</span>
            </label>
            <input id="count" type="text" placeholder="输入数字,留空表示不限">
            <label class="left_margin" for="entry_date">
                <span>入</span>
                <span>职</span>
                <span>日</span>
                <span>期</span>
            </label>
            <input type="text" class="form-control" id="entry_date" placeholder="请选择入职日期">
            <label class="left_margin_small_label" for="driving_exp">
                <span>驾</span>
                <span>龄</span>
            </label>
            <div class="dropdown small_select">
              <button id="driving_exp"  class="btn btn-default dropdown-toggle show_area" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                请选择驾龄要求
                    <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="reset" data-val="" data-text="请选择驾龄要求" href="javascript:;">不限</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-val="1" href="javascript:;">1年以上</a></li>
                <li><a data-val="2" href="javascript:;">2年以上</a></li>
                <li><a data-val="3" href="javascript:;">3年以上</a></li>
                <li><a data-val="5" href="javascript:;">5年以上</a></li>
                <li><a data-val="8" href="javascript:;">8年以上</a></li>
                <li><a data-val="10" href="javascript:;">10年以上</a></li>
              </ul>
            </div>
        </div>

    </div>

    <div class="nav_div">
    福利待遇
    </div>
    <div class="content welfare">
        <div class="child">
            <input  type="checkbox">
            <label for="insurance">五险一金</label>
        </div>
        <div class="child">
            <input  type="checkbox">
            <label for="insurance">年底双薪</label>
        </div>
        <div class="child">
            <input  type="checkbox">
            <label for="insurance">绩效奖金</label>
        </div>
        <div class="child">
            <input  type="checkbox">
            <label for="insurance">提供住宿</label>
        </div>
        <div class="child">
            <input  type="checkbox">
            <label for="insurance">带薪年假</label>
        </div>
        <div class="child">
            <input  type="checkbox">
            <label for="insurance">弹性工作</label>
        </div>
        <div class="child">
            <input  type="checkbox">
            <label for="insurance">节日福利</label>
        </div>
        <div class="child">
            <input  type="checkbox">
            <label for="insurance">餐补</label>
        </div>
    </div>

    <div class="nav_div">
    职位描述
    </div>
    <div class="content">
        <div class="title">
            <label for="job_duty">岗位职责</label>
        </div>
        <textarea class="text" id="job_duty"></textarea>
    </div>

    <div class="nav_div">
    信息备注
    </div>
    <div class="content">
        <textarea class="text last" id="desc"></textarea>
    </div>

    <div class="submit_div">
        <button id="submit">立即委托</button>
    </div>


{% endblock %}

{% block extend_js %}
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/static/js/web/consign.js"></script>
{% endblock %}