{%  extends "web/template.html" %}

{% block extend_css %}
<link rel="stylesheet" href="/static/css/web/consign_list.css">
{% endblock %}

{% block content %}
    <!--顶部的子导航-->
    <div class="nav_top">
        <ul class="nav nav-tabs" >
            <li>
                <a href="javascript:;" data-url="/web/add_consign">新建委托</a>
            </li>
            <li class="active">
                <a href="javascript:;"  data-url="/web/consign_list">委托记录</a>
            </li>
            <li>
                <a href="javascript:;" data-url="/web/consign_resp">委托反馈</a>
            </li>
          </ul>
    </div>

    <!--委托列表显示区-->
    <div class="list">
    {% for consign in consign_list %}
        {% if loop.index != 1 %}
            <div class="sep"></div>
        {% endif %}
        <div class="consign">

            <div class="consign_title">
                <label>{{
                        consign.create_date.year | string + "年" +
                        consign.create_date.month | string + "月" +
                        consign.create_date.day | string + "日 " +
                        consign.create_date.hour | string + "时" +
                        consign.create_date.minute | string + "分"
                        if consign.create_date else ""
                        }}
                </label>
                <span class="status_area">
                        {% if consign.status == 0 %}
                          <i title="已撤回" class="fa fa-pause fa-1g my_status my_stop"></i>
                        {% elif consign.status == 1 %}
                          <i title="已提交" class="fa fa-play fa-1g my_status"></i>
                        {% elif consign.status == 2 %}
                          <i title="执行中" class="fa fa-cog fa-spin my_status"></i>
                        {% elif consign.status == 3 %}
                          <i title="已完成" class="fa fa-check-square-o fa-1g my_status"></i>
                        {% else %}
                            <!--nothing-->
                        {% endif %}

                </span>
                {% if consign.status in [2, 3] %}
                {% elif consign.status == 0 %}
                    <span class="resume_consign" data-id="{{ consign['_id'] }}" title="重新提交">
                    <i class="fa fa-play fa-1g my_status"></i>
                    </span>
                    <span class="edit_consign" data-id="{{ consign['_id'] }}" title="编辑">
                        <i class="fa fa-file-text-o fa-1g"></i>
                    </span>
                {% else %}
                    <span class="delete_consign" data-id="{{ consign['_id'] }}" title="撤回">
                        <i class="fa fa-undo fa-1g"></i>
                    </span>
                    <span class="edit_consign" data-id="{{ consign['_id'] }}" title="编辑">
                        <i class="fa fa-file-text-o fa-1g"></i>
                    </span>
                {% endif %}
                <span class="icon_desc">
                    <i class="fa fa-question-circle-o fa-1g"></i>
                </span>
            </div>

            <div class="field">

                <div class="key">
                    基本要求
                </div>
                <div class="value">

                    <div class="child_item">
                        <span class="name">工作地区:</span><span>{{ consign.work_place }}</span>
                    </div>
                    <div class="child_item">
                        <span class="name">入职日期:</span>
                        <span>
                            {{
                            consign.entry_date.year | string + "年" +
                            consign.entry_date.month | string + "月" +
                            consign.entry_date.day | string + "日 "
                            if consign.entry_date else ""
                            }}
                        </span>
                    </div>
                    <div class="child_item">
                        <span class="name">驾照类型:</span><span>{{ consign.dl_license_class }}</span>
                    </div>
                    <div class="child_item">
                        <span class="name">学历要求:</span>
                        <span>{{ ["", "小学", "中学", "大专", "本科及以上"][consign.education] }}</span>
                    </div>
                    <div class="child_item">
                        <span class="name">工作经验:</span>
                        <span>
                            {{
                                consign.work_experience | string + "年" if consign.work_experience else ""
                            }}
                        </span>
                    </div>
                    <div class="child_item">
                        <span class="name">招聘人数:</span><span>{{ consign.count }}人</span>
                    </div>
                    <div class="child_item">
                        <span class="name">驾龄:</span>
                        <span>
                            {{ consign.driving_experience | string + "年" if consign.driving_experience else "" }}
                        </span>
                    </div>
                </div>

                <div class="key">
                    福利待遇
                </div>
                <div class="welfare_div">
                    {% for welfare in consign['welfare'] %}
                        <span class="welfare">{{ welfare }}</span>
                    {% endfor %}
                </div>

                <div class="key">
                    职位描述
                </div>
                <div class="duty_div">
                    {% for line in consign['job_duty'].split("\n") %}
                        <div class="line">
                            {{ line }}
                        </div>
                    {% endfor %}
                </div>

                <div class="key">
                    委托反馈
                </div>
                <div class="resp_div">
                    <div class="no_resp">目前暂无反馈</div>
                </div>


            </div>

        </div>
    {% endfor %}
    </div>

    <!--翻页区域-->
    <div class="page_area">
        {% if pages[0] and pages[0] > 1 %}
        <!--如果当前页码组中最小一个等于1,那就是不需要前一页这个标签-->
            <a href="javascript:;" data-page="{{ pages[0] - 1 }}" class="prev">上一页</a>
        {% endif %}
        {% for page in pages %}
            <a href="javascript:;" data-page="{{ page }}" class="num {{ "active" if page == page_index else "" }}">{{ page }}</a>

        {% endfor %}
        {% if pages[-1] and pages[-1] < total_page %}
        <!--如果当前页码组中最大的一个大于等于最大页码,那就是不需要后一页这个标签-->
            <a href="javascript:;" data-page="{{ pages[-1] + 1 }}" class="next">下一页</a>
        {% endif %}
        <span>{{ "共计" + total_page | string + "页" if total_page > 1 else "" }}</span>
        <!--
        <a href="#" class="prev">上一页</a>
        <a href="#" class="num">1</a>
        <a href="#" class="num">2</a>
        <a href="#" class="num active">3</a>
        <a href="#" class="num">4</a>
        <a href="#" class="next">下一页</a>
        -->
    </div>

    <!--提醒模态框-->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" id="launch_tips" data-toggle="modal" data-target="#my_tips">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="my_tips" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
                委托招聘状态说明
            </h4>
          </div>
          <div class="modal-body">
              <div class="line_div">
                  <div class="my_text">委托的状态分为以下几种</div>
                  <div class="example_div">
                      <div class="example">
                          <i class="fa fa-pause fa-1g my_status my_stop"></i><span class="my_text">已撤回</span>
                      </div>
                      <div class="example">
                          <i class="fa fa-play fa-1g my_status"></i><span class="my_text">已提交</span>
                      </div>
                      <div class="example">
                          <i class="fa fa-cog fa-spin my_status"></i><span class="my_text">执行中</span>
                      </div>
                      <div class="example">
                          <i class="fa fa-check-square-o fa-1g my_status"></i><span  class="my_text">已完成</span>
                      </div>
                  </div>
              </div>
              <div class="line_div a_line">
                  1. 处于
                  <i class="fa fa-pause fa-1g my_status my_stop"></i><span class="my_text">已撤回</span>
                  状态的委托不会被系统接受. 你可以随时编辑处于撤回状态的委托并重新提交.
              </div>
              <div class="line_div a_line">
                  2. 委托提交后,就处于
                  <i class="fa fa-play fa-1g my_status"></i><span class="my_text">已提交</span>
                  状态.这时候的委托有一个15分钟的缓冲期.用于检查,修改或撤回委托.超过缓冲期.委托将自动提进入处理队列.委托随时会被系统受理.
              </div>
              <div class="line_div a_line">
                  3. 处于
                  <i class="fa fa-cog fa-spin my_status"></i><span class="my_text">已提交</span>
                  状态委托,表明系统正在处理你的委托任务,此时无法被撤回.
              </div>
              <div class="line_div a_line">
                  4. <i class="fa fa-check-square-o fa-1g my_status"></i><span class="my_text">已完成</span>
                  状态表明委托已成功完成.
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block extend_js %}
    <script src="/static/js/web/consign_list.js"></script>
{% endblock %}