{% extends "manage/base_template_light.html" %}
{% block extend_css %}
    <link rel="stylesheet" href="../static/css/manage/driver_list_light.css">
{% endblock %}
{% block main %}

    <div id="main_zone" class="main_zone col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="driver-list">
                <div class="driver-list-header row">
                    <div class="header-left hidden-xs col-sm-6 col-lg-6 col-md-6">
                        <span style="margin-right:1rem">司机列表</span>
                        <span>共计 <i class="num"></i></span>
                        <span id="driver_count"></span><span>位司机</span>
                        <span class="all">全部</span>
                    </div>
                    <div class="header-right col-xs-12 col-sm-6 col-lg-6 col-md-6">
                        <input  id="inp" type="text" placeholder="精确搜索">
                        <input  id="btn" type="submit" value="立即搜索">
                    </div>
                </div>
                <div class="row driver-list-content">

                    <div class="content">未找到对应的用户</div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block extend_js %}
    <script src="../static/js/manage/driver_list_light.js"></script>
{% endblock %}