<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <!--移动页面优化：页面宽度=设备宽度，初始化缩放为1，最大缩放1，禁用放大 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/skins/dneglu.css') }}">
    <script src="{{ url_for('static', filename='../static/js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='../static/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='../static/js/denglu.js') }}"></script>
    <script src="../static/js/common.js"></script>
    <!-- 页面专属css脚本-->
    {% block extend_css %}
        <link rel="stylesheet" href="../static/css/particles.css">
        <link rel="stylesheet" href="../static/css/login.css">
    {% endblock %}
    <!--页面专属js脚本-->
    {% block extend_js %}
        <script src="../static/js/jquery.base64.js"></script>
        <script src="../static/js/jquery.md5.js"></script>
        <script src="../static/js/login.js"></script>
    {% endblock %}
    <!-- 页面标题-->
    <title>{{ page_title }}</title>
</head>
<body>
<div class="container-fluid">
    <!--正文区-->
    {% block main %}
        <div class="row">
            <div class="my_main">

                <div class="kuang col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="my_main-left col-lg-6 col-md-6 hidden-sm hidden-xs">
                        <div class="content">
                            <div class="login">
                            <img src="../../static/image/head_img/tubiao.png" alt="">
                            </div>
                            <!--<div class="login-text">
                                <img src="../../static/image/head_img/安全管理平台.png" alt="">
                            </div>-->
                        </div>
                    </div>
                    <div class="my_main-center col-lg-.1 col-md-.1 hidden-sm hidden-xs"></div>
                    <div class="my_main-right col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="content-r">
                            <div class="denglu">
                                <span>登录</span>
                            </div>
                            <form action="">
                                <input type="number" autocomplete="off" name="user_name" id="user_name" placeholder="用户名">
                                <span class="name_error"></span>
                                <input type="password" autocomplete="off" class="user_password" name="user_password" placeholder="密码">
                                <i class="iconfont icon-dengluzhuce-yanjingmimakekan"></i>
                            </form>
                            <input type="text" autocomplete="off" class="user_password" name="user_password" placeholder="密码">
                            <span class="password_error"></span>
                            <div class="two-btn">
                                <span>
                                    <a href="/manage/register">新用户注册</a>
                                </span>
                                <span>
                                    <a href="#">忘记密码?</a>
                                </span>
                            </div>
                            <div class="denglu-btn">
                                <input type="submit" id="submit_btn" value="立即登录">
                            </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="firm hidden-xs hidden-sm"><span>苏秦网络科技有限公司</span></div>
        </div>
    {% endblock %}
    <!--正文区结束-->
    <!--底部开始-->
    {% block bottom %}
        <!--底部代码开始-->
        <div class="my_bottom">

        </div>
        <!--底部代码结束-->
    {% endblock %}
    <!--底部结束-->
</div><!--end container-fluid-->
</body>
<!--粒子特效脚本-->
<!--
<script src="../static/js/particles.min.js"></script>
<script>
    particlesJS('particles-js',
        {
            "particles": {
                "number": {
                    "value": 80,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 5,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 6,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "repulse"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true,
            "config_demo": {
                "hide_card": false,
                "background_color": "#b61924",
                "background_image": "",
                "background_position": "50% 50%",
                "background_repeat": "no-repeat",
                "background_size": "cover"
            }
        }
    );
</script>
-->
</html>
