<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>列表管理</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Title</title>
  <style>
    td,th{
      padding: 10px;
      text-align: center;
      border: 1px solid #000;
    }
    input[type=radio]{
      margin: 0;
      vertical-align: middle;
    }
    td span{
      vertical-align: middle;
      margin-right:5px;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class='row'>
    <div class="tab">
      <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <tr>
          <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">姓名</th>
          <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">手机</th>
          <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">职务</th>
          <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">所属部门</th>
          <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">部门领导</th>
          <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">状态</th>
        </tr>
      </table>
    </div>
  </div>
</div>
<script>
  $(function () {
    var data = [
      {real_name:"戚桂奇",_id:"59cda3a2ad01be0912b352c1",phone_num:"17316502312",post_name:"测试团队司机",dept_name:"测试团队A组",leader_name:"栾新军"},
      {real_name:"牛彦岭",_id:"59e56e1aad01be04337b8a6a",phone_num:"1064823647987",post_name:"测试团队司机",dept_name:"测试团队A组",leader_name:"栾新军"},
    ];
    for(let i = 0; i<data.length; i++){
      var tr = document.createElement("tr");
      var one = document.createElement("td");
      var two = document.createElement("td");
      var treen = document.createElement("td");
      var flur = document.createElement("td");
      var four = document.createElement("td");
      var six = document.createElement("td");
      var select = document.createElement("input");
      var selected = document.createElement("input");
      var span1 = document.createElement("span");
      var span2 = document.createElement("span");
      $(tr).attr("id",data[i]._id);
      $(select).attr({type:"radio",name:"radio"+ i,class:"select",checked:"checked"});
      $(selected).attr({type:"radio",name:"radio" + i,class:"selected"});
      $(one).html(data[i].real_name);
      $(one).attr("class","col-lg-2 col-md-2 col-sm-2 col-xs-2");
      $(two).html(data[i].phone_num);
      $(two).attr("class","col-lg-2 col-md-2 col-sm-2 col-xs-2");
      $(treen).html(data[i].post_name);
      $(treen).attr("class","col-lg-2 col-md-2 col-sm-2 col-xs-2");
      $(flur).html(data[i].dept_name);
      $(flur).attr("class","col-lg-2 col-md-2 col-sm-2 col-xs-2");
      $(four).html(data[i].leader_name);
      $(four).attr("class","col-lg-2 col-md-2 col-sm-2 col-xs-2");
      $(six).append(select);
      $(six).append(span1);
      $(span1).html("选中");
      $(six).attr("class","col-lg-2 col-md-2 col-sm-2 col-xs-2");
      $(six).append(selected);
      $(six).append(span2);
      $(span2).html("不选中");
      $(tr).append(one);
      $(tr).append(two);
      $(tr).append(treen);
      $(tr).append(flur);
      $(tr).append(four);
      $(tr).append(six);
      $('.tab table').append(tr);
    }

    var radio = $("td input:radio[class='select']");
    for(let i = 0; i<radio.length; i++){
      if($(radio[i]).attr("checked") === "checked"){
        console.log($(radio[i]).parent().parent().attr("id"));
      }
    }

    $("td").on("click","input",function(){
      if($(this).attr("class") === "select"){
        console.log($(this).parent().parent().attr("id"));
      }
    })
  })
</script>
</body>
</html>