{% extends "manage/base_template.html" %}
{% block extend_css %}
    <link rel="stylesheet" href="../static/css/report_page.css">
{% endblock %}
{% block extend_script %}
    <script src="../../static/js/manage/report_page.js"></script>
    <script src="../../static/js/jquery.AshAlom.gaugeMeter-2.0.0.min.js"></script>
    <script src="../../static/js/echarts.min.js"></script>
    <script src="../../static/js/jqmeter.min.js"></script>
{% endblock %}

{% block content_wrapper %}
    <div class="content-wrapper" style="height:100%;margin-top: 50px">
        <div class="report-wrapper">
            <div class="report-data">
                <ul>

                </ul>
            </div>
            <div class="report-table">
                <div class="Pbar">
                    <p>安全评估</p>
                    <div class="GaugeMeter" id="GaugeMeter_1"></div>
                    <ul>

                    </ul>
                </div>
                <div class="histogram">
                    <p>事件统计</p>
                    <div id="histogram"></div>
                    <div class="histogram-list">
                        <i></i>
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="report-datatu">
                <div class="line_chart">
                    <p>年安全事件总趋势</p>
                    <div id="line_chart"></div>
                </div>
                <div class="pie">
                    <p>事件所占比重</p>
                    <div id="pie"></div>
                    <div class="pie-list">
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}