*
    margin: 0
    padding: 0
    font-size: 14px
p
    margin: 0
.xian 
    border-bottom:1px solid #ccc;     
.div_info
    height 6em
    p
        line-height: 6em
        input 
            outline: none 
            border: none 
            height 100%
            width 100%
    a
        width 45px
        color: #fff
    i
        line-height 6em
.div_info_btn
    position absolute
    bottom: 0
    margin-bottom: 2em
    p
        background: #417FFF;
        margin-top: 20px
        text-align: center
        border: 1px solid #cccccc
        line-height: 2.5em
.icon_lin
    line-height: 6em
    display table-cell
    vertical-align: middle
    text-align: center
.text_cen>p
    text-align: center
input::-webkit-input-placeholder
    color: #333333
input:-moz-placeholder
    color: #333333
input:-ms-input-placeholder
    color: #333333
.iimg 
    display: inline-block;
    width: 60px;
    height: 6em;
    overflow: hidden;
.imgs
    width: 100%;
        

