.top,
.middle,
.bottom {
  background-color: #f4f2f3;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0;
}
.top >h3,
.middle >h3,
.bottom >h3 {
  text-align: center;
}
.top {
  height: 70px;
  display: flex;
  justify-content: center;
}
.top .return_btn {
  position: absolute;
  top: 25px;
  left: 0px;
  margin-left: 15px;
}
.search_group {
  background-color: #f4f4f4;
  border: 1px solid #adadad;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  justify-content: flex-start;
}
.search_group >input {
  width: calc(100% - 60px);
}
.search_group .left_icon,
.search_group .right_icon {
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 1.5em;
}
.search_group .left_icon {
  margin-left: 0px;
  margin-right: 10px;
}
.middle {
  height: auto;
}
.middle .user_list {
  width: 100%;
}
.middle .user_list .line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 5px 10px;
}
.middle .user_list .line .cell {
  width: 33.33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.middle .user_list .line .cell >img {
  height: 30px;
  width: 30px;
  border-radius: 4px;
}
.bottom {
  height: 60px;
}
.bottom .page_area {
  height: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bottom .page_area >a {
  clor: #d3d3d3;
  padding: 5px 10px;
}
.bottom .page_area .active {
  color: #337ab7;
}
