<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			* {
				padding: 0;
				margin: 0;
				list-style: none;
			}
			
			li {
				margin-bottom: 10px;
			}
			
			.inputtext {
				height: 26px;
				width: 300px;
			}
			
			button {
				width: 150px;
				padding: 10px 0;
			}
			
			.pr15 {
				padding-right: 15px;
			}
		</style>
		<script src="http://www.91master.cn/zj-jg-zg/js/jquery.js"></script>
		<script src="http://39.108.67.178:9000/register.js"></script>
	</head>

	<body>
		<div class="reg_div">
			<ul style="margin: 30px auto; width: 500px;">
				<li><input type="text" placeholder="搜索" class="search_keyword inputtext" /></li>
				<li><input type="text" placeholder="姓名" class="user_name inputtext" /></li>
				<li><input type="text" placeholder="手机号" class="user_phone inputtext" /></li>
				<li><input type="text" placeholder="验证码" class="sms_code inputtext" /></li>
				<li><button type="text" class="sms_btn" />获取验证码</button>
				</li>
				<li>
					<select class="budget" name="budget">
						<option value="0">选择预算</option>
						<option value="$5000">$5000</option>
						<option value="$5000 - $10000">$5000 - $10000</option>
						<option value="$10000">$10000</option>
					</select>

				</li>
				<li> <label>
                        <input type="radio" checked="checked" name="sendRule"  value="营销1">
                        营销1 </label>
					<label>
                        <input type="radio" name="sendRule"  value="营销2">
                       营销2 </label>
					<label>
                        <input type="radio" name="sendRule"  value="营销3">
                        营销3 </label>
				</li>
				<li>
					<input type="checkbox" name="fruit" value="梨子" />梨子
					<input type="checkbox" name="fruit" value="李子" />李子
					<input type="checkbox" name="fruit" value="栗子" />栗子
					<input type="checkbox" name="fruit" value="荔枝" />荔枝
				</li>
				<li>
					<label class="cd-label" for="cd-textarea">项目描述</label>
					<textarea class="messageText" name="cd-textarea" ></textarea>

				</li>
				<li><button type="button" class="submit_btn">注册</button></li>

			</ul>
		</div>

	</body>
	<script>
		$(function() {

			$(".submit_btn").click(function() {

				var user_phone = $.trim($(".user_phone").val());
				var sms_code = $.trim($(".sms_code").val());
				var user_name = $.trim($(".user_name").val());
				var inputRadio = $('input[name="sendRule"]:checked ').val();
				var messageText = $.trim($(".messageText").val());
				var options=$('select[name=budget]').val();;
				obj = document.getElementsByName("fruit");
				check_val = [];
				for(k in obj) {
					if(obj[k].checked)
						check_val.push(obj[k].value);
				}
				console.log(check_val,messageText,options)
				if(user_phone && (/^(13[0-9]|14[0-9]|17[0-9]|15[0-9]|18[0-9])\d{8}$/.test(user_phone))) {
					var args = {
						"user_name": user_name,
						"sms_code": sms_code,
						"user_phone": user_phone,
						"customer_description": $.trim($("#search").val())
					};
					ajax_post();
				} else {
					alert("请输入正确的手机号码！");
					$(".inp_f").focus();
					return;
				}

				function ajax_post() {
					$.post("http://39.108.67.178:9000/register.js", args, function(data) {
						console.log(data)
						if(data['message'] == 'success') {
							alert("注册成功!");
							window.location.reload();
						} else {
							alert(data['message']);
						}
					});
				}
			});
		});
	</script>

</html>