html,
body,
div,
p,
span,
a,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
dd,
dt,
input,
img,
select,
form,
table,
td,
tr,
hr,
br,
video,
audio,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  vertical-align: top;
  text-decoration: none;
  list-style: none;
}
.clear {
  clear: both;
}
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  body,
  html {
    font-size: 104px;
  }
}
@media only screen and (max-width: 750px), only screen and (max-device-width: 750px) {
  body,
  html {
    font-size: 100px;
  }
}
@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  body,
  html {
    font-size: 85.33px;
  }
}
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  body,
  html {
    font-size: 80px;
  }
}
@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
  body,
  html {
    font-size: 72px;
  }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  body,
  html {
    font-size: 64px;
  }
}
@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
  body,
  html {
    font-size: 55.2px;
  }
}
@media only screen and (max-width: 412px), only screen and (max-device-width: 412px) {
  body,
  html {
    font-size: 54.8px;
  }
}
@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
  body,
  html {
    font-size: 53.33px;
  }
}
@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
  body,
  html {
    font-size: 50px;
  }
}
@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
  body,
  html {
    font-size: 47.8px;
  }
}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  body,
  html {
    font-size: 42.4px;
  }
}



.reg-b{
  position: relative;
  width: 530px;
  height: auto;
  padding: 30px 89px 0 89px ;
}
.reg-box{
  position: absolute;
  display: none;
}

.regInputBox{
  margin-bottom: 15px;
  position: relative;
}
/*url("../css/shouji.png") no-repeat;*/
.reginputImg{
  background: #fafafa;
  width: 39px;
  height: 40px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 2;
  border-right: 1px solid #b4b4b4;
}
.reginputImg .reginputImg_img{
  display: inline-block;
  background: url("../img/shouji.png")no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  margin-top: 10px;
}


#reginputImg_pwd{
  display: inline-block;
  background: url("../img/mima.png")no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
#reginputImg_pwd2{
  display: inline-block;
  background: url("../img/mima.png")no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  margin-top: 10px;

}
#reginputImg_pwd3{
  display: inline-block;
  background: url("../img/mima.png")no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  margin-top: 10px;

}
.regInput{
  width: 350px;
  height: 42px;
  padding: 10px  10px 10px 49px;
  border: 1px solid #b4b4b4;
  outline: none;

}

.regInputTips{
  display: none;
  color: red;
  margin-top: 8px;
  text-align: left;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  padding-left: 18px;
  background: url("../img/imgLogin.jpg") left -188px no-repeat;
}

.reginputImgPsw{
  background-position: left -40px;
}



.regInputBox{
  overflow: hidden;

}


.regInputYZM{
  width: 204px;
  height: 42px;
  padding: 10px 10px 10px 49px;
  border: 1px solid #b4b4b4;
  float: left;
  outline: none;
}

.regYZMbox{
  width: 39px;
  height: 40px;
  background: #fafafa;
  border-right: 1px solid #b4b4b4;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 2;
}
.regYZMbox #reginputImg_yzm{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/dunpai.png")no-repeat;
  background-size: 100% 100%;
  margin-top: 10px;
}

.ver_mid{
  float: left;
  width: 115px;
  height: 42px;
  line-height: 42px;
  /*background: #ff6632;*/
  background: #1e90ff;
  color: white;
  margin-left: 30px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border-radius: 5px;
}
.ver_mid:hover{
  background: #2e90ef;
}
.ver_mid2{
  float: left;
  width: 90px;
  height: 42px;
  line-height: 42px;
  background: salmon;
  margin-left: 30px;
  cursor: pointer;
  text-align: center;
}
.regYZMbox{
  overflow: hidden;
}

#regYZMbox2{
  display: none;
}
/*登录时图形验证码*/


.regYZMbox .sx_btn{
  display: block;
  width: 18px;
  height: 25px;
  float: right;
  background:  url("../img/shuaxin.png")no-repeat;
  background-size: contain;
  margin-top:12px;
}

.fonts12{
  font-size: 12px;
}
.fontcLBlack{
  float: left;
}
.regbtnTJR {
  display: block;
  padding-left: 14px;
  text-align: left;
  background: url("../img/regIcon.png") -30px -202px no-repeat;
  color: #FF6632;
}

.regbtnTJR:hover{
  background-position: -30px -222px;
  cursor: pointer;
}



.regInputTJR{
  width: 318px;
  height: 20px;
  padding: 10px 15px;
  border: 1px solid #b4b4b4;
  outline: none;
  margin-top: 5px;

}

.regInputBox .regTJRInputBox{
  display: none;
}


.regBtnOrg{
  width: 350px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 15px 0;
  /*background: #ff6632;*/
  background: #1e90ff;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 3px;
}

.regBtnOrg:hover{
  background: #2e90ef;
  cursor: pointer;
}