.top_outer
  text-align center
  padding-left 0 !important
  padding-right 0 !important
  .block_top
    width 100%
    background-color lightgrey
    height 90px
    display flex
    flex-direction row
    justify-content center
    align-items center
    >h2
      text-align center

.middle_outer
  display flex
  flex-direction row
  justify-content center
  align-items center
  .block_middle
    width 100%
    max-width 1000px
    min-height 100%
    display flex
    flex-direction row
    justify-content center
    align-items center
    font-size 14px
    >.side_left
      width 15em
      height 100%
    >.side_right
      width calc(100% - 15em)
      height 100%

