.inner {
  height: 360px;
  margin-top: 200px;
}
.inner .line {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 1em 0;
}
.inner .line >h4 {
  width: 100%;
  text-align: center;
}
.inner .line >label {
  width: 20%;
  align-self: center;
}
.inner .line >input {
  width: 80%;
}
.inner .line >#sub_btn {
  width: 6em;
}
