.content  .dv-left{
    padding: 15px;
    width: 30%;
    display: inline-block;
    height: 49vw;
    box-shadow: 2px 0 5px #ccc;
    position: relative;
}
.content  .dv-left .spn{
    font-size: 24px;
    margin-right: 25px;
}
.content  .dv-left .active{
    color: #4e7af5;
}
.content  .dv-left .title{
    padding: 20px 0;
}
.content  .dv-left table tr{
    text-align: center;
}
.content  .dv-left table th{
    text-align: center;
    
}
.content  .dv-left table th span{
    text-align: center;
       
}
.content .dv-left table thead tr th{
    font-size: 14px;
}
.content .dv-left table tbody tr td{
    font-size: 12px;
}
.content .dv-left .gundt{
	width: 102%;
    overflow-y: auto;
    height: 34vw;
    margin-top: -22px;
    margin-left: -7px;
}
.content .dv-left table tbody tr td .spn{
    display: inline-block;
    width: 6px;
    height: 6px;
}
.spn:hover {
    cursor: pointer;
}
.p_nav{
    cursor:pointer;
}
.content .list {
    position: relative;
}
.content .list .xian{
    width: 108%;
    height: 1px;
    display: inline-block;
    background-color: #CCC; 
    position: absolute;
    top: 52px;
    left: -15px;
}

.content .dibu .tuichu img{
    width: 20px;
    transform: rotate(180deg)
}
.content .dibu .tianjia{
    display: inline-block;
    width: 78%;
    text-align: center;
    color: #8698FD;
}
.content .dibu{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.actives{
    background: #00E07F;
    border-radius: 50%;
}


/*右边样式  */
.content .dv-right{
    display: inline-block;
    width: 69.99%;
    margin: 21px 0;
    float: right;
}
.content .dv-right .top ul{
    height: 27px;
    border-bottom: 1px solid #CCC;
    padding-left: 15px;
}
.content .dv-right .top ul li{
    float: left;
    font-size: 14px;
    margin-right: 50px;

}
.content .dv-right .top ul  .xian{
    padding-bottom: 10px;
    border-bottom: 2px solid #4C79FF;
}
.content .dv-right .top ul li:hover{
    padding-bottom: 10px;
    border-bottom: 2px solid #4C79FF; 
}
.content .dv-right .top .time-title{
    text-align: center;
    padding: 10px 0 20px;
    font-size: 18px;
}
.content .dv-right table thead tr span{
    display: inline-block;
    width: 100%;
    background: #DCEBFF;
    padding: 5px;
    font-weight: 100;
    text-align: center;
}
.span{
    background: darkblue;
}
.content .dv-right table tbody tr td{
    border: 1px solid #ccc;
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    text-align: center;
}
.hidden_overflow{
    overflow: hidden;
}
.content .dv-right table tbody tr span{
    display: inline-block;
    width: 100%;
    height: 30px;
}
.content .dv-right table {
    margin-top: 12px;
}
.content .dv-right .gundong{
    overflow-x: auto;
    overflow-y:hidden;
}
.content .dv-right .coll{
    width: 300%;
}
.content .dv-right .coll .tab{
    width: 33.3%;
}
.work{
    border: 1px solid #ccc;
}
.work>span{
    background-color: #4EEE94 !important;
}
.rest{
    border: 1px solid #ccc;
}
.rest>span{
     background-color: 	#ADADAD !important;
}
.select_category:hover, .select_category_active:hover{
    cursor: pointer;
}
.select_category_active{
    background-color: #8470FF;
    color: white;
}
#project_list,#module_list,#mission_list{
    display: none;
}
.modal input[type='radio']{
    margin-left:1rem;
}
.my_nav{
    margin-bottom:1.5rem;
}
.my_plan{
    /*工作计划样式*/
    font-size:1rem;
    line-height: 2em;
    color:grey;
    cursor: pointer;
    text-align: center;
}
.normal_status{
    color:#e6e6e6;
    background-color: cornflowerblue;
}
.delay_status{
    color:#e6e6e6;
    background-color: indianred;
}
.complete_status{
    color:cornflowerblue;
    background-color: lightgrey;
}
.change_show{
    margin-top:5px;
    margin-left:1rem;
}
.change_show span:hover{
    cursor:pointer;
}
#chart_title,#my_chart{
    display: none;
}
#my_chart{
    /*background-color: cadetblue;*/
 }
#launch_view_modal{
    /*通用查看模态框的触发按钮*/
    display: none;
}
#view_modal .my_item{
    /*通用查看模态框的内容主体*/
    padding: 2rem;
}
#view_modal .my_item {

}
.user_info{
    /*用户信息区*/
    font-size: 1rem;
    float: right;
    margin-top: 1em;
    margin-right:1em;
}
.user_info span{
    border: 1px solid #fff;
    padding: 0.15em 0.6em;
    border-radius: 0.4em;
}
.user_info span:hover{
    cursor: pointer;
    border-color:#666;
}
/*td悬浮框样式*/
#Prompt h5{
    text-align: center;
    color: #8470FF;
}
#Prompt .table{
    font-size:1rem;
    width:12em;
}
#Prompt td{
    word-break: break-all;
}