{% extends "base_template.html" %}
{% block extend_css %}
    <link rel="stylesheet" href="../static/css/upload_page.css">
{% endblock %}
{% block extend_js %}
    <script src="../static/js/upload_page.js"></script>
{% endblock %}
{% block main %}
    <div class="row top_title">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs">

                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">

                    <div class="input-group">
                        <input type="file" id="my_file" class="form-control">
                        <div class="input-group-btn">
                            <button id="upload_image" class="btn btn-default btn-primary">upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
            <button class="btn btn-default btn-sm logout_btn_right">logout</button>
        </div>
    </div>
    <div class="row main">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul>
                {% for k, v in images.items() %}
                    <li>
                    <div style="display:flex">
                        <img title="{{ k }}" class="img" style="width:12rem;height:9rem" src="{{ v }}"><div class="image_url"><span>{{ v }}</span></div>
                    </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}