default_blue = #286090
.right_main
    background-color #ebedf0
    height 55px
    .right_top
        width 100%
        font-size 16px
        > .input-group
            padding 10px 15px
            > .form-control
                background-color #d3d3d3
                border none
                border-top-left-radius 8px !important
                border-bottom-left-radius 8px !important
                -moz-border-radius-topleft 8px !important
                -moz-border-radius-bottomleft 8px !important
            button
                background-color #d3d3d3
                border-top-right-radius 8px !important
                border-bottom-right-radius 8px !important
                -moz-border-radius-topright 8px !important
                -moz-border-radius-bottomright 8px !important
    .product_list_outer
        min-height calc(100% - 55px)
        width 100%
        padding 80px 30px 0 30px
        height calc(100% - 55px)
        .product_list_inner
            height calc(100% - 30px)
            width 100%
            background-color #fefefe
            padding 10px 20px 30px 20px
            .insert_div
                width 100%
                height 50px
                display flex
                flex-direction row
                justify-content space-between
                align-items center
                > .left:hover
                    cursor pointer
                > .left
                    > i
                        color default_blue
                        margin-right 1em
                    > #clear_condition
                        color default_blue
                > .right
                    #add_product
                        background-color default_blue
            .table_outer
                min-height calc(100% - 100px)
                #product_list
                    .select
                        width 30px
                    tr
                        th
                            border-top none
                            text-align center
                            color rgba(113, 113, 113, 1)
                        td
                            text-align center
                            color rgba(127, 124, 124, 0.9)

            .bottom_div
                height 50px
                width 100%
                display flex
                flex-direction row
                justify-content space-between
                align-items center
                > .left
                    color default_blue
                > .right
                    color default_blue
                    font-size 16px
                    display flex
                    flex-direction row
                    justify-content center
                    align-items center
                    #page_num
                        width 50px
                        border 1px solid #d3d3d3
                        border-radius 10px
                        padding 4px
                        margin-right 10px
                    > .fa
                        font-size 36px
                        padding 0 15px
                    > .fa:hover
                        cursor pointer

    /*modal部分*/
    .modal_outer
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        z-index: 9999
        float left
        background-color rgba(180, 180, 180, 0.9)
        display flex
        flex-direction row
        justify-content center
        align-items center
        display none
        > .modal_inner
            width 500px
            height 400px
            margin-top -20%
            border-radius 5px
            background-color rgba(255, 255, 255, 1)
            border 1px solid rgba(200, 200, 200, 1)
            .modal_top
                display flex
                flex-direction row
                justify-content center
                align-items center
                border-bottom 1px solid rgba(160, 160, 160, 1)
                > h3
                    color rgba(150, 150, 150, 1)
            .modal_mid
                padding 20px 0
                .line
                    width 100%
                    display flex
                    flex-direction row
                    justify-content center
                    align-items center
                    padding 15px 50px 15px 15px
                    > label
                        display block
                        text-align center
                        width 30%
                        font-weight 400
                    > input
                        outline none
                        width 70%
                        padding 5px
                        border 1px solid rgba(180, 180, 180, 1)
                        border-radius 6px
                        box-shadow none
                    //.my_package
                    //    border none
                    //    display flex
                    //    flex-direction row
                    //    justify-content flex-start
                    //    align-items center
                    //    >input
                    //        border 1px solid #b4b4b4
                    //        outline none
                    //        width 46%
                    //        padding 4px 5px
                    //    >.left
                    //        maegin-right -1px
                    //        border-radius 6px 0 0 6px
                    //    >.right
                    //        margin-left -1px
                    //        border-radius 0 6px 6px 0
                    //    >span
                    //        display inline-block
                    //        text-align center
                    //        width 10%
            .modal_bot
                padding-bottom 20px
                display flex
                flex-direction row
                justify-content center
                align-items center
                > button
                    padding-left 30px
                    padding-right 30px
                > .first
                    margin-right 10px
                > .last
                    margin-left 10px
