.right_main {
  background-color: #ebedf0;
  height: 55px;
/*modal部分*/
}
.right_main .right_top {
  width: 100%;
  font-size: 16px;
}
.right_main .right_top >.input-group {
  padding: 10px 15px;
}
.right_main .right_top >.input-group >.form-control {
  background-color: #d3d3d3;
  border: none;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  -moz-border-radius-topleft: 8px !important;
  -moz-border-radius-bottomleft: 8px !important;
}
.right_main .right_top >.input-group button {
  background-color: #d3d3d3;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  -moz-border-radius-topright: 8px !important;
  -moz-border-radius-bottomright: 8px !important;
}
.right_main .role_list_outer {
  min-height: calc(100% - 55px);
  width: 100%;
  padding: 80px 30px 0 30px;
  height: calc(100% - 55px);
}
.right_main .role_list_outer .role_list_inner {
  height: calc(100% - 30px);
  width: 100%;
  background-color: #fefefe;
  padding: 10px 20px 30px 20px;
}
.right_main .role_list_outer .role_list_inner .insert_div {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.right_main .role_list_outer .role_list_inner .insert_div >.left:hover {
  cursor: pointer;
}
.right_main .role_list_outer .role_list_inner .insert_div >.left >i {
  color: #286090;
  margin-right: 1em;
}
.right_main .role_list_outer .role_list_inner .insert_div >.left >#clear_condition {
  color: #286090;
}
.right_main .role_list_outer .role_list_inner .insert_div >.right #add_role {
  background-color: #286090;
}
.right_main .role_list_outer .role_list_inner .table_outer {
  min-height: calc(100% - 100px);
}
.right_main .role_list_outer .role_list_inner .table_outer #role_list .select {
  width: 30px;
}
.right_main .role_list_outer .role_list_inner .table_outer #role_list tr th {
  border-top: none;
  text-align: center;
  color: #717171;
}
.right_main .role_list_outer .role_list_inner .table_outer #role_list tr td {
  text-align: center;
  color: rgba(127,124,124,0.9);
}
.right_main .role_list_outer .role_list_inner .bottom_div {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.right_main .role_list_outer .role_list_inner .bottom_div >.left {
  color: #286090;
}
.right_main .role_list_outer .role_list_inner .bottom_div >.right {
  color: #286090;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.right_main .role_list_outer .role_list_inner .bottom_div >.right #page_num {
  width: 50px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 4px;
  margin-right: 10px;
}
.right_main .role_list_outer .role_list_inner .bottom_div >.right >.fa {
  font-size: 36px;
  padding: 0 15px;
}
.right_main .role_list_outer .role_list_inner .bottom_div >.right >.fa:hover {
  cursor: pointer;
}
.right_main .modal_outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  float: left;
  background-color: rgba(180,180,180,0.9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.right_main .modal_outer >.modal_inner {
  width: 500px;
  height: 400px;
  margin-top: -20%;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
}
.right_main .modal_outer >.modal_inner .modal_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #a0a0a0;
}
.right_main .modal_outer >.modal_inner .modal_top >h3 {
  color: #969696;
}
.right_main .modal_outer >.modal_inner .modal_mid {
  padding: 20px 0;
}
.right_main .modal_outer >.modal_inner .modal_mid .line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 50px 15px 15px;
}
.right_main .modal_outer >.modal_inner .modal_mid .line >label {
  display: block;
  text-align: center;
  width: 30%;
  font-weight: 400;
}
.right_main .modal_outer >.modal_inner .modal_mid .line >input {
  width: 70%;
  padding: 5px;
  border: 1px solid #b4b4b4;
  border-radius: 6px;
  box-shadow: none;
}
.right_main .modal_outer >.modal_inner .modal_bot {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.right_main .modal_outer >.modal_inner .modal_bot >button {
  padding-left: 30px;
  padding-right: 30px;
}
.right_main .modal_outer >.modal_inner .modal_bot >.first {
  margin-right: 10px;
}
.right_main .modal_outer >.modal_inner .modal_bot >.last {
  margin-left: 10px;
}
