.right_main {
  background-color: #ebedf0;
/*顶部搜索区域开始*/
/*顶部搜索区域开始*/
/*modal部分*/
}
.right_main .right_top {
  padding: 0 30px;
  width: 100%;
  font-size: 14px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.right_main .right_top >.summary {
  width: 25%;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.right_main .right_top >.summary >.title {
  color: #717171;
}
.right_main .right_top >.summary >.value {
  color: #286090;
}
.right_main .code_list_outer {
  min-height: calc(100% - 55px);
  width: 100%;
  padding: 30px 30px 0 30px;
  height: calc(100% - 55px);
}
.right_main .code_list_outer .code_list_inner {
  height: calc(100% - 30px);
  width: 100%;
  background-color: #fefefe;
  padding: 10px 20px 30px 20px;
}
.right_main .code_list_outer .code_list_inner .insert_div {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.right_main .code_list_outer .code_list_inner .insert_div > .left:hover {
  cursor: pointer;
}
.right_main .code_list_outer .code_list_inner .insert_div > .left {
  width: 10%;
}
.right_main .code_list_outer .code_list_inner .insert_div > .left > i {
  color: #286090;
  margin-right: 1em;
}
.right_main .code_list_outer .code_list_inner .insert_div > .left > #clear_condition {
  color: #286090;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right >.select_group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  color: #717171;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right >.select_group >.small_title {
  font-weight: 700;
  margin-right: 10px;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right >.select_group >div {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right >.select_group >div >label {
  font-weight: 400;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right >.select_group >div >input {
  -moz-outline-radius: 5px;
  border: 1px solid #c8c8c8;
  width: 8em;
  height: 30px;
  margin-left: 5px;
  padding-left: 10px;
  border-radius: 5px;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right >.select_group >.my_input {
  position: relative;
  height: 30px;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right >.select_group >.my_input >.deposit {
  color: #286090;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right >.select_group >.my_input >button {
  height: 30px;
  background-color: #eee;
  border: 1px solid #c8c8c8;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right >.select_group >.my_input >button >.current_value {
  display: inline-block;
  width: 5em;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right >.select_group >.my_input >ul {
  min-width: 5em;
  width: 100%;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right >.select_group >.my_input >ul >li {
  width: 100%;
  text-align: center;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right >.select_group >.my_input >ul >li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
  border-bottom: 1px solid #c1c1c1;
  border-radius: 2px 2px 2px #c1c1c1;
}
.right_main .code_list_outer .code_list_inner .insert_div > .right >.btn-default {
  margin-left: 15px;
}
.right_main .code_list_outer .code_list_inner .table_outer {
  min-height: calc(100% - 100px);
  overflow-y: scroll;
}
.right_main .code_list_outer .code_list_inner .table_outer > .table tr th {
  border-top: none;
  text-align: center;
  color: #717171;
}
.right_main .code_list_outer .code_list_inner .table_outer > .table tr td {
  text-align: center;
  color: rgba(127,124,124,0.9);
}
.right_main .code_list_outer .code_list_inner .bottom_div {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.right_main .code_list_outer .code_list_inner .bottom_div > .left {
  color: #286090;
}
.right_main .code_list_outer .code_list_inner .bottom_div > .left >.handler_tips {
  padding: 20px;
  opacity: 0.4;
}
.right_main .code_list_outer .code_list_inner .bottom_div > .right {
  color: #286090;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.right_main .code_list_outer .code_list_inner .bottom_div > .right #page_num {
  width: 50px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 4px;
  margin-right: 10px;
}
.right_main .code_list_outer .code_list_inner .bottom_div > .right > .fa {
  font-size: 36px;
  padding: 0 15px;
}
.right_main .code_list_outer .code_list_inner .bottom_div > .right > .fa:hover {
  cursor: pointer;
}
.right_main .modal_outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  float: left;
  background-color: rgba(180,180,180,0.9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
}
.right_main .modal_outer > .modal_inner {
  width: 500px;
  height: 650px;
  margin-top: -15%;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
}
.right_main .modal_outer > .modal_inner .modal_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #a0a0a0;
}
.right_main .modal_outer > .modal_inner .modal_top > h3 {
  color: #969696;
}
.right_main .modal_outer > .modal_inner .modal_mid {
  padding: 20px 0;
}
.right_main .modal_outer > .modal_inner .modal_mid .line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 50px 15px 15px;
  font-size: 16px;
}
.right_main .modal_outer > .modal_inner .modal_mid .line > label {
  display: block;
  text-align: center;
  width: 30%;
  font-weight: 400;
}
.right_main .modal_outer > .modal_inner .modal_mid .line >.my_input {
  width: calc(100% - 6em) !important;
}
.right_main .modal_outer > .modal_inner .modal_mid .line >.my_input .current_value {
  text-align: left;
}
.right_main .modal_outer > .modal_inner .modal_mid .line >.my_input >input {
  width: 100%;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding: 8px;
}
.right_main .modal_outer > .modal_inner .modal_mid .line >.my_input >.btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.right_main .modal_outer > .modal_inner .modal_mid .line >.my_input >.btn >.current_value {
  display: block;
  min-height: 1.5em;
  width: 95%;
}
.right_main .modal_outer > .modal_inner .modal_mid .line >.my_input >ul {
  width: 100%;
}
.right_main .modal_outer > .modal_inner .modal_mid .line >.my_input >ul >li {
  width: 100%;
}
.right_main .modal_outer > .modal_inner .modal_bot {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.right_main .modal_outer > .modal_inner .modal_bot > button {
  padding-left: 30px;
  padding-right: 30px;
}
.right_main .modal_outer > .modal_inner .modal_bot > .first {
  margin-right: 10px;
}
.right_main .modal_outer > .modal_inner .modal_bot > .last {
  margin-left: 10px;
}
