default_blue = #286090
.right_main
    background-color #ebedf0
    height 55px
    .right_top
        width 100%
        font-size 16px
        > .input-group
            padding 10px 15px
            > .form-control
                background-color #d3d3d3
                border none
                border-top-left-radius 8px !important
                border-bottom-left-radius 8px !important
                -moz-border-radius-topleft 8px !important
                -moz-border-radius-bottomleft 8px !important
            button
                background-color #d3d3d3
                border-top-right-radius 8px !important
                border-bottom-right-radius 8px !important
                -moz-border-radius-topright 8px !important
                -moz-border-radius-bottomright 8px !important
    .role_list_outer
        min-height calc(100% - 55px)
        width 100%
        padding 80px 30px 0 30px
        height calc(100% - 55px)
        .role_list_inner
            height calc(100% - 30px)
            width 100%
            background-color #fefefe
            padding 10px 20px 30px 20px
            .insert_div
                width 100%
                height 50px
                display flex
                flex-direction row
                justify-content space-between
                align-items center
                > .left:hover
                    cursor pointer
                > .left
                    > i
                        color default_blue
                        margin-right 1em
                    > #clear_condition
                        color default_blue
                > .right
                    #add_role
                        background-color default_blue
            .table_outer
                min-height calc(100% - 100px)
                overflow-y scroll
                .table
                    .select
                        width 30px
                    tr
                        th
                            border-top none
                            text-align center
                            color rgba(113, 113, 113, 1)
                        td
                            text-align center
                            color rgba(127, 124, 124, 0.9)
                        > .rules
                            overflow-y ellipsis

            .bottom_div
                height 50px
                width 100%
                display flex
                flex-direction row
                justify-content space-between
                align-items center
                > .left
                    color default_blue
                > .right
                    color default_blue
                    font-size 16px
                    display flex
                    flex-direction row
                    justify-content center
                    align-items center
                    #page_num
                        width 50px
                        border 1px solid #d3d3d3
                        border-radius 10px
                        padding 4px
                        margin-right 10px
                    > .fa
                        font-size 36px
                        padding 0 15px
                    > .fa:hover
                        cursor pointer

    /*modal部分*/
    .modal_outer
        position absolute
        top 0
        left 0
        width 100%
        height auto
        z-index: 9999
        float left
        background-color rgba(180, 180, 180, 0.9)
        display flex
        flex-direction row
        justify-content center
        align-items center
        display none
        > .modal_inner
            width 85%
            //height calc(100% - 100px)
            margin-top 50px
            border-radius 5px
            background-color rgba(255, 255, 255, 1)
            border 1px solid rgba(200, 200, 200, 1)
            .modal_top
                position relative
                display flex
                flex-direction row
                justify-content center
                align-items center
                border-bottom 1px solid rgba(160, 160, 160, 1)
                > h3
                    text-align center
                    color rgba(150, 150, 150, 1)
                >i
                    color rgba(150, 150, 150, 1)
                    position absolute
                    right 10px
                    top 4px
                    display block
                >i:hover
                    cursor pointer

            .modal_mid
                padding 30px
                width 100%

    #pdf_modal
        height 100%
        > .modal_inner
            height calc(100% - 100px)
            >#pdf_html
                height 100%


