.html{
    font-size:14px;
}
.my_line{
    height:3em;
    display: flex;
    justify-content: flex-start;
}
.my_datetime{
    width:12em;
    height:2em;
    padding: 0.5em 1em;
    background-color: lightgray;
    margin: 0.5em 1em;
    border-radius: 0.2em;
}

.my_phone{
    width:9em;
    height:2em;
    padding: 0.5em 1em;
    background-color: lightgray;
    margin: 0.5em 1em;
    border-radius: 0.2em;
}

.my_name{
    min-width:6em;
    height:2em;
    padding: 0.5em 1em;
    background-color: lightgray;
    margin: 0.5em 1em;
    border-radius: 0.2em;
}
.delete_btn{
    width:4em;
    height:2em;
    padding: 0.5em 1em;
    color: whitesmoke;
    background-color: cornflowerblue;
    margin: 0.5em 1em;
    border-radius: 0.2em;
}
.delete_btn:hover{
    cursor: pointer;
}