html{
    font-size: 14px;
}
#main_title{
    font-size: 2rem;
    text-align: center;
}
.main_div{
}
#chart_zone{

}
.chart_div{
    position: relative;
    display: block;
    min-height: 480px;
    min-width: 800px;
}
.my_col{
    margin-top:2rem;
    margin-bottom: 2rem;
}
#select_date_div{
    padding: 1rem 2rem;
}